<%= form_for(@shipping) do |f| %>
  <% if @shipping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipping.errors.count, "error") %> prohibited this shipping from being saved:</h2>

      <ul>
      <% @shipping.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :additionalInfo %><br />
    <%= f.text_field :additionalInfo %>
  </div>
  <div class="field">
    <%= f.label :attention %><br />
    <%= f.text_field :attention %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :customerId %><br />
    <%= f.text_field :customerId %>
  </div>
  <div class="field">
    <%= f.label :freightCollect3rdAddr1 %><br />
    <%= f.text_field :freightCollect3rdAddr1 %>
  </div>
  <div class="field">
    <%= f.label :freightCollect3rdAddr2 %><br />
    <%= f.text_field :freightCollect3rdAddr2 %>
  </div>
  <div class="field">
    <%= f.label :freightCollect3rdCity %><br />
    <%= f.text_field :freightCollect3rdCity %>
  </div>
  <div class="field">
    <%= f.label :freightCollect3rdComment %><br />
    <%= f.text_field :freightCollect3rdComment %>
  </div>
  <div class="field">
    <%= f.label :freightCollect3rdName %><br />
    <%= f.text_field :freightCollect3rdName %>
  </div>
  <div class="field">
    <%= f.label :freightCollect3rdState %><br />
    <%= f.text_field :freightCollect3rdState %>
  </div>
  <div class="field">
    <%= f.label :freightCollect3rdZip %><br />
    <%= f.text_field :freightCollect3rdZip %>
  </div>
  <div class="field">
    <%= f.label :freightShippingInst %><br />
    <%= f.text_field :freightShippingInst %>
  </div>
  <div class="field">
    <%= f.label :instructions %><br />
    <%= f.text_field :instructions %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :postalCode %><br />
    <%= f.text_field :postalCode %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :street1 %><br />
    <%= f.text_field :street1 %>
  </div>
  <div class="field">
    <%= f.label :street1a %><br />
    <%= f.text_field :street1a %>
  </div>
  <div class="field">
    <%= f.label :street2 %><br />
    <%= f.text_field :street2 %>
  </div>
  <div class="field">
    <%= f.label :street2a %><br />
    <%= f.text_field :street2a %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
