%fieldset
  %legend
    = controller.action_name.capitalize
    /Shipping
  .control-group
    = f.label :additionalInfo, :class => 'control-label'
    .controls
      = f.text_field :additionalInfo, :class => 'text_field'
  .control-group
    = f.label :attention, :class => 'control-label'
    .controls
      = f.text_field :attention, :class => 'text_field'
  .control-group
    = f.label :city, :class => 'control-label'
    .controls
      = f.text_field :city, :class => 'text_field'
  .control-group
    = f.label :country, :class => 'control-label'
    .controls
      = f.text_field :country, :class => 'text_field'
  .control-group
    = f.label :customerId, :class => 'control-label'
    .controls
      = f.text_field :customerId, :class => 'text_field'
  .control-group
    = f.label :freightCollect3rdAddr1, :class => 'control-label'
    .controls
      = f.text_field :freightCollect3rdAddr1, :class => 'text_field'
  .control-group
    = f.label :freightCollect3rdAddr2, :class => 'control-label'
    .controls
      = f.text_field :freightCollect3rdAddr2, :class => 'text_field'
  .control-group
    = f.label :freightCollect3rdCity, :class => 'control-label'
    .controls
      = f.text_field :freightCollect3rdCity, :class => 'text_field'
  .control-group
    = f.label :freightCollect3rdComment, :class => 'control-label'
    .controls
      = f.text_field :freightCollect3rdComment, :class => 'text_field'
  .control-group
    = f.label :freightCollect3rdName, :class => 'control-label'
    .controls
      = f.text_field :freightCollect3rdName, :class => 'text_field'
  .control-group
    = f.label :freightCollect3rdState, :class => 'control-label'
    .controls
      = f.text_field :freightCollect3rdState, :class => 'text_field'
  .control-group
    = f.label :freightCollect3rdZip, :class => 'control-label'
    .controls
      = f.text_field :freightCollect3rdZip, :class => 'text_field'
  .control-group
    = f.label :freightShippingInst, :class => 'control-label'
    .controls
      = f.text_field :freightShippingInst, :class => 'text_field'
  .control-group
    = f.label :instructions, :class => 'control-label'
    .controls
      = f.text_field :instructions, :class => 'text_field'
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :phone, :class => 'control-label'
    .controls
      = f.text_field :phone, :class => 'text_field'
  .control-group
    = f.label :postalCode, :class => 'control-label'
    .controls
      = f.text_field :postalCode, :class => 'text_field'
  .control-group
    = f.label :state, :class => 'control-label'
    .controls
      = f.text_field :state, :class => 'text_field'
  .control-group
    = f.label :street1, :class => 'control-label'
    .controls
      = f.text_field :street1, :class => 'text_field'
  .control-group
    = f.label :street1a, :class => 'control-label'
    .controls
      = f.text_field :street1a, :class => 'text_field'
  .control-group
    = f.label :street2, :class => 'control-label'
    .controls
      = f.text_field :street2, :class => 'text_field'
  .control-group
    = f.label :street2a, :class => 'control-label'
    .controls
      = f.text_field :street2a, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", shippings_path, :class => 'btn'
