%h1 Shippings
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.shipping.additionalInfo", :default => t("activerecord.labels.additionalInfo", :default => "Additionalinfo"))
      %th Created at
      %th Actions
  %tbody
    - @shippings.each do |shipping|
      %tr
        %td= shipping.id
        %td= link_to shipping.additionalInfo, shipping_path(shipping)
        %td= shipping.created_at
        %td
          = link_to "Show", shipping_path(shipping), :class => 'btn btn-mini'
          = link_to "Edit", edit_shipping_path(shipping), :class => 'btn btn-mini'
          = link_to "Destroy", shipping_path(shipping), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New", new_shipping_path, :class => 'btn btn-primary'
