<p id="notice"><%= notice %></p>

<p>
  <b>Additionalinfo:</b>
  <%= @shipping.additionalInfo %>
</p>

<p>
  <b>Attention:</b>
  <%= @shipping.attention %>
</p>

<p>
  <b>City:</b>
  <%= @shipping.city %>
</p>

<p>
  <b>Country:</b>
  <%= @shipping.country %>
</p>

<p>
  <b>Customerid:</b>
  <%= @shipping.customerId %>
</p>

<p>
  <b>Freightcollect3rdaddr1:</b>
  <%= @shipping.freightCollect3rdAddr1 %>
</p>

<p>
  <b>Freightcollect3rdaddr2:</b>
  <%= @shipping.freightCollect3rdAddr2 %>
</p>

<p>
  <b>Freightcollect3rdcity:</b>
  <%= @shipping.freightCollect3rdCity %>
</p>

<p>
  <b>Freightcollect3rdcomment:</b>
  <%= @shipping.freightCollect3rdComment %>
</p>

<p>
  <b>Freightcollect3rdname:</b>
  <%= @shipping.freightCollect3rdName %>
</p>

<p>
  <b>Freightcollect3rdstate:</b>
  <%= @shipping.freightCollect3rdState %>
</p>

<p>
  <b>Freightcollect3rdzip:</b>
  <%= @shipping.freightCollect3rdZip %>
</p>

<p>
  <b>Freightshippinginst:</b>
  <%= @shipping.freightShippingInst %>
</p>

<p>
  <b>Instructions:</b>
  <%= @shipping.instructions %>
</p>

<p>
  <b>Name:</b>
  <%= @shipping.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @shipping.phone %>
</p>

<p>
  <b>Postalcode:</b>
  <%= @shipping.postalCode %>
</p>

<p>
  <b>State:</b>
  <%= @shipping.state %>
</p>

<p>
  <b>Street1:</b>
  <%= @shipping.street1 %>
</p>

<p>
  <b>Street1a:</b>
  <%= @shipping.street1a %>
</p>

<p>
  <b>Street2:</b>
  <%= @shipping.street2 %>
</p>

<p>
  <b>Street2a:</b>
  <%= @shipping.street2a %>
</p>


<%= link_to 'Edit', edit_shipping_path(@shipping) %> |
<%= link_to 'Back', shippings_path %>
