%fieldset
  %legend
    = controller.action_name.capitalize
    /Sales Rep
  .control-group
    = f.label :orderId, :class => 'control-label'
    .controls
      = f.number_field :orderId, :class => 'number_field'
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", sales_reps_path, :class => 'btn'
