%h1 Listing sales_reps
%table
  %tr
    %th Orderid
    %th Name
    %th
    %th
    %th
  - @sales_reps.each do |sales_rep|
    %tr
      %td= sales_rep.orderId
      %td= sales_rep.name
      %td= link_to 'Show', sales_rep
      %td= link_to 'Edit', edit_sales_rep_path(sales_rep)
      %td= link_to 'Destroy', sales_rep, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Sales rep', new_sales_rep_path
