<h1>Listing boxtypes</h1>

<table>
  <tr>
    <th>Boxid</th>
    <th>Boxtype</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boxtypes.each do |boxtype| %>
  <tr>
    <td><%= boxtype.boxid %></td>
    <td><%= boxtype.boxtype %></td>
    <td><%= link_to 'Show', boxtype %></td>
    <td><%= link_to 'Edit', edit_boxtype_path(boxtype) %></td>
    <td><%= link_to 'Destroy', boxtype, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Boxtype', new_boxtype_path %>
