%h1 Boxtypes
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.boxtype.boxid", :default => t("activerecord.labels.boxid", :default => "Boxid"))
      %th Created at
      %th Actions
  %tbody
    - @boxtypes.each do |boxtype|
      %tr
        %td= boxtype.id
        %td= link_to boxtype.boxid, boxtype_path(boxtype)
        %td= boxtype.created_at
        %td
          = link_to "Show", boxtype_path(boxtype), :class => 'btn btn-mini'
          = link_to "Edit", edit_boxtype_path(boxtype), :class => 'btn btn-mini'
          = link_to "Destroy", boxtype_path(boxtype), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New Box Type", new_boxtype_path, :class => 'btn btn-primary'
