<p id="notice"><%= notice %></p>

<p>
  <b>Boxid:</b>
  <%= @boxtype.boxid %>
</p>

<p>
  <b>Boxtype:</b>
  <%= @boxtype.boxtype %>
</p>


<%= link_to 'Edit', edit_boxtype_path(@boxtype) %> |
<%= link_to 'Back', boxtypes_path %>
