%fieldset
  %legend
    = controller.action_name.capitalize
    /Step Repeat
  .control-group
    = f.label :category, :class => 'control-label'
    .controls
      = f.text_field :category, :class => 'text_field'
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :class => 'text_area'
  .control-group
    = f.label :dimensionAcross, :class => 'control-label'
    .controls
      = f.text_field :dimensionAcross, :class => 'text_field'
  .control-group
    = f.label :dimensionAround, :class => 'control-label'
    .controls
      = f.text_field :dimensionAround, :class => 'text_field'
  .control-group
    = f.label :distortionFactor, :class => 'control-label'
    .controls
      = f.text_field :distortionFactor, :class => 'text_field'
  .control-group
    = f.label :flexoDistortion, :class => 'control-label'
    .controls
      = f.text_field :flexoDistortion, :class => 'text_field'
  .control-group
    = f.label :flexoLpDist, :class => 'control-label'
    .controls
      = f.text_field :flexoLpDist, :class => 'text_field'
  .control-group
    = f.label :flexoMountingTapeThickness, :class => 'control-label'
    .controls
      = f.text_field :flexoMountingTapeThickness, :class => 'text_field'
  .control-group
    = f.label :flexoPlateBacking, :class => 'control-label'
    .controls
      = f.text_field :flexoPlateBacking, :class => 'text_field'
  .control-group
    = f.label :flexoPlateThickness, :class => 'control-label'
    .controls
      = f.text_field :flexoPlateThickness, :class => 'text_field'
  .control-group
    = f.label :flexoSoftThickness, :class => 'control-label'
    .controls
      = f.text_field :flexoSoftThickness, :class => 'text_field'
  .control-group
    = f.label :gapAcross, :class => 'control-label'
    .controls
      = f.text_field :gapAcross, :class => 'text_field'
  .control-group
    = f.label :gapAround, :class => 'control-label'
    .controls
      = f.text_field :gapAround, :class => 'text_field'
  .control-group
    = f.label :internalName, :class => 'control-label'
    .controls
      = f.text_field :internalName, :class => 'text_field'
  .control-group
    = f.label :letterpressMountingTapeThickness, :class => 'control-label'
    .controls
      = f.text_field :letterpressMountingTapeThickness, :class => 'text_field'
  .control-group
    = f.label :letterpressPlateBacking, :class => 'control-label'
    .controls
      = f.text_field :letterpressPlateBacking, :class => 'text_field'
  .control-group
    = f.label :letterpressPlateThickness, :class => 'control-label'
    .controls
      = f.text_field :letterpressPlateThickness, :class => 'text_field'
  .control-group
    = f.label :letterpressSoftThickness, :class => 'control-label'
    .controls
      = f.text_field :letterpressSoftThickness, :class => 'text_field'
  .control-group
    = f.label :lpDistortion, :class => 'control-label'
    .controls
      = f.text_field :lpDistortion, :class => 'text_field'
  .control-group
    = f.label :offset, :class => 'control-label'
    .controls
      = f.text_field :offset, :class => 'text_field'
  .control-group
    = f.label :offsetAmount, :class => 'control-label'
    .controls
      = f.text_field :offsetAmount, :class => 'text_field'
  .control-group
    = f.label :pressType, :class => 'control-label'
    .controls
      = f.text_field :pressType, :class => 'text_field'
  .control-group
    = f.label :printDiameter, :class => 'control-label'
    .controls
      = f.text_field :printDiameter, :class => 'text_field'
  .control-group
    = f.label :stepAcross, :class => 'control-label'
    .controls
      = f.number_field :stepAcross, :class => 'number_field'
  .control-group
    = f.label :stepAround, :class => 'control-label'
    .controls
      = f.number_field :stepAround, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", step_repeats_path, :class => 'btn'
