<%= form_for(@step_repeat) do |f| %>
  <% if @step_repeat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@step_repeat.errors.count, "error") %> prohibited this step_repeat from being saved:</h2>

      <ul>
      <% @step_repeat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :dimensionAcross %><br />
    <%= f.text_field :dimensionAcross %>
  </div>
  <div class="field">
    <%= f.label :dimensionAround %><br />
    <%= f.text_field :dimensionAround %>
  </div>
  <div class="field">
    <%= f.label :distortionFactor %><br />
    <%= f.text_field :distortionFactor %>
  </div>
  <div class="field">
    <%= f.label :flexoDistortion %><br />
    <%= f.text_field :flexoDistortion %>
  </div>
  <div class="field">
    <%= f.label :flexoLpDist %><br />
    <%= f.text_field :flexoLpDist %>
  </div>
  <div class="field">
    <%= f.label :flexoMountingTapeThickness %><br />
    <%= f.text_field :flexoMountingTapeThickness %>
  </div>
  <div class="field">
    <%= f.label :flexoPlateBacking %><br />
    <%= f.text_field :flexoPlateBacking %>
  </div>
  <div class="field">
    <%= f.label :flexoPlateThickness %><br />
    <%= f.text_field :flexoPlateThickness %>
  </div>
  <div class="field">
    <%= f.label :flexoSoftThickness %><br />
    <%= f.text_field :flexoSoftThickness %>
  </div>
  <div class="field">
    <%= f.label :gapAcross %><br />
    <%= f.text_field :gapAcross %>
  </div>
  <div class="field">
    <%= f.label :gapAround %><br />
    <%= f.text_field :gapAround %>
  </div>
  <div class="field">
    <%= f.label :internalName %><br />
    <%= f.text_field :internalName %>
  </div>
  <div class="field">
    <%= f.label :letterpressMountingTapeThickness %><br />
    <%= f.text_field :letterpressMountingTapeThickness %>
  </div>
  <div class="field">
    <%= f.label :letterpressPlateBacking %><br />
    <%= f.text_field :letterpressPlateBacking %>
  </div>
  <div class="field">
    <%= f.label :letterpressPlateThickness %><br />
    <%= f.text_field :letterpressPlateThickness %>
  </div>
  <div class="field">
    <%= f.label :letterpressSoftThickness %><br />
    <%= f.text_field :letterpressSoftThickness %>
  </div>
  <div class="field">
    <%= f.label :lpDistortion %><br />
    <%= f.text_field :lpDistortion %>
  </div>
  <div class="field">
    <%= f.label :offset %><br />
    <%= f.text_field :offset %>
  </div>
  <div class="field">
    <%= f.label :offsetAmount %><br />
    <%= f.text_field :offsetAmount %>
  </div>
  <div class="field">
    <%= f.label :pressType %><br />
    <%= f.text_field :pressType %>
  </div>
  <div class="field">
    <%= f.label :printDiameter %><br />
    <%= f.text_field :printDiameter %>
  </div>
  <div class="field">
    <%= f.label :stepAcross %><br />
    <%= f.number_field :stepAcross %>
  </div>
  <div class="field">
    <%= f.label :stepAround %><br />
    <%= f.number_field :stepAround %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
