%fieldset
  %legend
    = controller.action_name.capitalize
    Step Repeat
  .control-group
    = f.label :category, :class => 'control-label'
    .controls
      = f.text_field :category, :class => 'text_field'
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :class => 'text_area'
  .control-group
    = f.label :dimensionAcross, 'Dimension Across', :class => 'control-label'
    .controls
      = f.text_field :dimensionAcross, :class => 'text_field'
  .control-group
    = f.label :dimensionAround, 'Dimension Around', :class => 'control-label'
    .controls
      = f.text_field :dimensionAround, :class => 'text_field'
  .control-group
    = f.label :distortionFactor, 'Distortion Factor', :class => 'control-label'
    .controls
      = f.text_field :distortionFactor, :class => 'text_field'
  .control-group
    = f.label :flexoDistortion, 'Flexo Distortion', :class => 'control-label'
    .controls
      = f.text_field :flexoDistortion, :class => 'text_field'
  .control-group
    = f.label :flexoLpDist, 'Flexo LP Distortion', :class => 'control-label'
    .controls
      = f.text_field :flexoLpDist, :class => 'text_field'
  .control-group
    = f.label :flexoMountingTapeThickness, 'Flexo Mounting Tape Thickness', :class => 'control-label'
    .controls
      = f.text_field :flexoMountingTapeThickness, :class => 'text_field'
  .control-group
    = f.label :flexoPlateBacking, 'Flexo Plate Backing', :class => 'control-label'
    .controls
      = f.text_field :flexoPlateBacking, :class => 'text_field'
  .control-group
    = f.label :flexoPlateThickness, 'Flexo Plate Thickness', :class => 'control-label'
    .controls
      = f.text_field :flexoPlateThickness, :class => 'text_field'
  .control-group
    = f.label :flexoSoftThickness, 'Flexo Soft Thickness', :class => 'control-label'
    .controls
      = f.text_field :flexoSoftThickness, :class => 'text_field'
  .control-group
    = f.label :gapAcross, 'Gap Across', :class => 'control-label'
    .controls
      = f.text_field :gapAcross, :class => 'text_field'
  .control-group
    = f.label :gapAround, 'Gap Around', :class => 'control-label'
    .controls
      = f.text_field :gapAround, :class => 'text_field'
  .control-group
    = f.label :internalName, 'Internal Name', :class => 'control-label'
    .controls
      = f.text_field :internalName, :class => 'text_field'
  .control-group
    = f.label :letterpressMountingTapeThickness, 'Letter Press Mounting Tape Thickness', :class => 'control-label'
    .controls
      = f.text_field :letterpressMountingTapeThickness, :class => 'text_field'
  .control-group
    = f.label :letterpressPlateBacking, 'Letter Press Plate Backing', :class => 'control-label'
    .controls
      = f.text_field :letterpressPlateBacking, :class => 'text_field'
  .control-group
    = f.label :letterpressPlateThickness, 'Letter Press Plate Thickness', :class => 'control-label'
    .controls
      = f.text_field :letterpressPlateThickness, :class => 'text_field'
  .control-group
    = f.label :letterpressSoftThickness, 'Letter Press Soft Thickness', :class => 'control-label'
    .controls
      = f.text_field :letterpressSoftThickness, :class => 'text_field'
  .control-group
    = f.label :lpDistortion, 'LP Distortion', :class => 'control-label'
    .controls
      = f.text_field :lpDistortion, :class => 'text_field'
  .control-group
    = f.label :offset, 'Offset', :class => 'control-label'
    .controls
      = f.text_field :offset, :class => 'text_field'
  .control-group
    = f.label :offsetAmount, 'Offset Amount', :class => 'control-label'
    .controls
      = f.text_field :offsetAmount, :class => 'text_field'
  .control-group
    = f.label :pressType, 'Press Type', :class => 'control-label'
    .controls
      = f.text_field :pressType, :class => 'text_field'
  .control-group
    = f.label :printDiameter, 'Print Diameter', :class => 'control-label'
    .controls
      = f.text_field :printDiameter, :class => 'text_field'
  .control-group
    = f.label :stepAcross, 'Step Across', :class => 'control-label'
    .controls
      = f.number_field :stepAcross, :class => 'number_field'
  .control-group
    = f.label :stepAround, 'Step Around', :class => 'control-label'
    .controls
      = f.number_field :stepAround, :class => 'number_field'
  .form-actions
    = f.submit 'Create Step Repeat', :class => 'btn btn-primary'
    = link_to "Cancel", step_repeats_path, :class => 'btn'
