%h1 Step Repeats
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.step_repeat.category", :default => t("activerecord.labels.category", :default => "Category"))
      %th Created at
      %th Actions
  %tbody
    - @step_repeats.each do |step_repeat|
      %tr
        %td= step_repeat.id
        %td= link_to step_repeat.category, step_repeat_path(step_repeat)
        %td= step_repeat.created_at
        %td
          = link_to "Show", step_repeat_path(step_repeat), :class => 'btn btn-mini'
          = link_to "Edit", edit_step_repeat_path(step_repeat), :class => 'btn btn-mini'
          = link_to "Destroy", step_repeat_path(step_repeat), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New Step Repeat", new_step_repeat_path, :class => 'btn btn-primary'
