%p#notice= notice
%p
  %b Category:
  = @step_repeat.category
%p
  %b Description:
  = @step_repeat.description
%p
  %b Dimensionacross:
  = @step_repeat.dimensionAcross
%p
  %b Dimensionaround:
  = @step_repeat.dimensionAround
%p
  %b Distortionfactor:
  = @step_repeat.distortionFactor
%p
  %b Flexodistortion:
  = @step_repeat.flexoDistortion
%p
  %b Flexolpdist:
  = @step_repeat.flexoLpDist
%p
  %b Flexomountingtapethickness:
  = @step_repeat.flexoMountingTapeThickness
%p
  %b Flexoplatebacking:
  = @step_repeat.flexoPlateBacking
%p
  %b Flexoplatethickness:
  = @step_repeat.flexoPlateThickness
%p
  %b Flexosoftthickness:
  = @step_repeat.flexoSoftThickness
%p
  %b Gapacross:
  = @step_repeat.gapAcross
%p
  %b Gaparound:
  = @step_repeat.gapAround
%p
  %b Internalname:
  = @step_repeat.internalName
%p
  %b Letterpressmountingtapethickness:
  = @step_repeat.letterpressMountingTapeThickness
%p
  %b Letterpressplatebacking:
  = @step_repeat.letterpressPlateBacking
%p
  %b Letterpressplatethickness:
  = @step_repeat.letterpressPlateThickness
%p
  %b Letterpresssoftthickness:
  = @step_repeat.letterpressSoftThickness
%p
  %b Lpdistortion:
  = @step_repeat.lpDistortion
%p
  %b Offset:
  = @step_repeat.offset
%p
  %b Offsetamount:
  = @step_repeat.offsetAmount
%p
  %b Presstype:
  = @step_repeat.pressType
%p
  %b Printdiameter:
  = @step_repeat.printDiameter
%p
  %b Stepacross:
  = @step_repeat.stepAcross
%p
  %b Steparound:
  = @step_repeat.stepAround
= link_to 'Edit', edit_step_repeat_path(@step_repeat)
%p |
= link_to 'Back', step_repeats_path
