<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @step_repeat.category %>
</p>

<p>
  <b>Description:</b>
  <%= @step_repeat.description %>
</p>

<p>
  <b>Dimensionacross:</b>
  <%= @step_repeat.dimensionAcross %>
</p>

<p>
  <b>Dimensionaround:</b>
  <%= @step_repeat.dimensionAround %>
</p>

<p>
  <b>Distortionfactor:</b>
  <%= @step_repeat.distortionFactor %>
</p>

<p>
  <b>Flexodistortion:</b>
  <%= @step_repeat.flexoDistortion %>
</p>

<p>
  <b>Flexolpdist:</b>
  <%= @step_repeat.flexoLpDist %>
</p>

<p>
  <b>Flexomountingtapethickness:</b>
  <%= @step_repeat.flexoMountingTapeThickness %>
</p>

<p>
  <b>Flexoplatebacking:</b>
  <%= @step_repeat.flexoPlateBacking %>
</p>

<p>
  <b>Flexoplatethickness:</b>
  <%= @step_repeat.flexoPlateThickness %>
</p>

<p>
  <b>Flexosoftthickness:</b>
  <%= @step_repeat.flexoSoftThickness %>
</p>

<p>
  <b>Gapacross:</b>
  <%= @step_repeat.gapAcross %>
</p>

<p>
  <b>Gaparound:</b>
  <%= @step_repeat.gapAround %>
</p>

<p>
  <b>Internalname:</b>
  <%= @step_repeat.internalName %>
</p>

<p>
  <b>Letterpressmountingtapethickness:</b>
  <%= @step_repeat.letterpressMountingTapeThickness %>
</p>

<p>
  <b>Letterpressplatebacking:</b>
  <%= @step_repeat.letterpressPlateBacking %>
</p>

<p>
  <b>Letterpressplatethickness:</b>
  <%= @step_repeat.letterpressPlateThickness %>
</p>

<p>
  <b>Letterpresssoftthickness:</b>
  <%= @step_repeat.letterpressSoftThickness %>
</p>

<p>
  <b>Lpdistortion:</b>
  <%= @step_repeat.lpDistortion %>
</p>

<p>
  <b>Offset:</b>
  <%= @step_repeat.offset %>
</p>

<p>
  <b>Offsetamount:</b>
  <%= @step_repeat.offsetAmount %>
</p>

<p>
  <b>Presstype:</b>
  <%= @step_repeat.pressType %>
</p>

<p>
  <b>Printdiameter:</b>
  <%= @step_repeat.printDiameter %>
</p>

<p>
  <b>Stepacross:</b>
  <%= @step_repeat.stepAcross %>
</p>

<p>
  <b>Steparound:</b>
  <%= @step_repeat.stepAround %>
</p>


<%= link_to 'Edit', edit_step_repeat_path(@step_repeat) %> |
<%= link_to 'Back', step_repeats_path %>
