<%= form_for(@sales_term) do |f| %>
  <% if @sales_term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_term.errors.count, "error") %> prohibited this sales_term from being saved:</h2>

      <ul>
      <% @sales_term.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :discountDays %><br />
    <%= f.text_field :discountDays %>
  </div>
  <div class="field">
    <%= f.label :discountRate %><br />
    <%= f.number_field :discountRate %>
  </div>
  <div class="field">
    <%= f.label :payDays %><br />
    <%= f.text_field :payDays %>
  </div>
  <div class="field">
    <%= f.label :salesTermDescription %><br />
    <%= f.text_field :salesTermDescription %>
  </div>
  <div class="field">
    <%= f.label :salesTermId %><br />
    <%= f.number_field :salesTermId %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
