%h1 Sales Terms
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.sales_term.discountDays", :default => t("activerecord.labels.discountDays", :default => "Discountdays"))
      %th Created at
      %th Actions
  %tbody
    - @sales_terms.each do |sales_term|
      %tr
        %td= sales_term.id
        %td= link_to sales_term.discountDays, sales_term_path(sales_term)
        %td= sales_term.created_at
        %td
          = link_to "Show", sales_term_path(sales_term), :class => 'btn btn-mini'
          = link_to "Edit", edit_sales_term_path(sales_term), :class => 'btn btn-mini'
          = link_to "Destroy", sales_term_path(sales_term), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New Sales Term", new_sales_term_path, :class => 'btn btn-primary'
