<h1>Listing sales_terms</h1>

<table>
  <tr>
    <th>Discountdays</th>
    <th>Discountrate</th>
    <th>Paydays</th>
    <th>Salestermdescription</th>
    <th>Salestermid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sales_terms.each do |sales_term| %>
  <tr>
    <td><%= sales_term.discountDays %></td>
    <td><%= sales_term.discountRate %></td>
    <td><%= sales_term.payDays %></td>
    <td><%= sales_term.salesTermDescription %></td>
    <td><%= sales_term.salesTermId %></td>
    <td><%= link_to 'Show', sales_term %></td>
    <td><%= link_to 'Edit', edit_sales_term_path(sales_term) %></td>
    <td><%= link_to 'Destroy', sales_term, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sales term', new_sales_term_path %>
