<p id="notice"><%= notice %></p>

<p>
  <b>Discountdays:</b>
  <%= @sales_term.discountDays %>
</p>

<p>
  <b>Discountrate:</b>
  <%= @sales_term.discountRate %>
</p>

<p>
  <b>Paydays:</b>
  <%= @sales_term.payDays %>
</p>

<p>
  <b>Salestermdescription:</b>
  <%= @sales_term.salesTermDescription %>
</p>

<p>
  <b>Salestermid:</b>
  <%= @sales_term.salesTermId %>
</p>


<%= link_to 'Edit', edit_sales_term_path(@sales_term) %> |
<%= link_to 'Back', sales_terms_path %>
