<%= form_for(@rfid_inlay_category) do |f| %>
  <% if @rfid_inlay_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rfid_inlay_category.errors.count, "error") %> prohibited this rfid_inlay_category from being saved:</h2>

      <ul>
      <% @rfid_inlay_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :inlayType %><br />
    <%= f.text_field :inlayType %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
