<h1>Listing rfid_inlay_categories</h1>

<table>
  <tr>
    <th>Inlaytype</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rfid_inlay_categories.each do |rfid_inlay_category| %>
  <tr>
    <td><%= rfid_inlay_category.inlayType %></td>
    <td><%= link_to 'Show', rfid_inlay_category %></td>
    <td><%= link_to 'Edit', edit_rfid_inlay_category_path(rfid_inlay_category) %></td>
    <td><%= link_to 'Destroy', rfid_inlay_category, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rfid inlay category', new_rfid_inlay_category_path %>
