<%= form_for(@registration_level) do |f| %>
  <% if @registration_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration_level.errors.count, "error") %> prohibited this registration_level from being saved:</h2>

      <ul>
      <% @registration_level.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :registrationDescription %><br />
    <%= f.text_area :registrationDescription %>
  </div>
  <div class="field">
    <%= f.label :registrationLevelId %><br />
    <%= f.number_field :registrationLevelId %>
  </div>
  <div class="field">
    <%= f.label :registrationSpeed %><br />
    <%= f.number_field :registrationSpeed %>
  </div>
  <div class="field">
    <%= f.label :registrationWaste %><br />
    <%= f.number_field :registrationWaste %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
