%h1 Registration Levels
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.registration_level.registrationDescription", :default => t("activerecord.labels.registrationDescription", :default => "Registrationdescription"))
      %th Created at
      %th Actions
  %tbody
    - @registration_levels.each do |registration_level|
      %tr
        %td= registration_level.id
        %td= link_to registration_level.registrationDescription, registration_level_path(registration_level)
        %td= registration_level.created_at
        %td
          = link_to "Show", registration_level_path(registration_level), :class => 'btn btn-mini'
          = link_to "Edit", edit_registration_level_path(registration_level), :class => 'btn btn-mini'
          = link_to "Destroy", registration_level_path(registration_level), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New Registration Level", new_registration_level_path, :class => 'btn btn-primary'
