%fieldset
  %legend
    = controller.action_name.capitalize
    Core
  .control-group
    = f.label :generalName, "General Name", :class => 'control-label'
    .controls
      = f.text_field :generalName, :class => 'text_field'
  .control-group
    = f.label :cost, :class => 'control-label'
    .controls
      = f.number_field :cost, :class => 'number_field'
  .control-group
    = f.label :innerDiameter, "Inner Diameter", :class => 'control-label'
    .controls
      = f.number_field :innerDiameter, :class => 'number_field'
  .control-group
    = f.label :outerDiameter, "Outer Diameter", :class => 'control-label'
    .controls
      = f.number_field :outerDiameter, :class => 'number_field'
  .control-group
    = f.label :core_type, "Core Type", :class => 'control-label'
    .controls
      = f.number_field :core_type, :class => 'number_field'
  .control-group
    = f.label :wallThickness, "Wall Thickness", :class => 'control-label'
    .controls
      = f.number_field :wallThickness, :class => 'number_field'
  .control-group
    = f.label :width, :class => 'control-label'
    .controls
      = f.number_field :width, :class => 'number_field'
  .control-group
    = f.label :internalName, "Internal Name", :class => 'control-label'
    .controls
      = f.text_field :internalName, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", cores_path, :class => 'btn'
