%h1 Cores
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.core.generalName", :default => t("activerecord.labels.generalName", :default => "Generalname"))
      %th Created at
      %th Actions
  %tbody
    - @cores.each do |core|
      %tr
        %td= core.id
        %td= link_to core.generalName, core_path(core)
        %td= core.created_at
        %td
          = link_to "Show", core_path(core), :class => 'btn btn-mini'
          = link_to "Edit", edit_core_path(core), :class => 'btn btn-mini'
          = link_to "Destroy", core_path(core), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New", new_core_path, :class => 'btn btn-primary'
