<h1>Listing cores</h1>

<table>
  <tr>
    <th>Generalname</th>
    <th>Cost</th>
    <th>Innerdiameter</th>
    <th>Outerdiameter</th>
    <th>Type</th>
    <th>Wallthickness</th>
    <th>Width</th>
    <th>Internalname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cores.each do |core| %>
  <tr>
    <td><%= core.generalName %></td>
    <td><%= core.cost %></td>
    <td><%= core.innerDiameter %></td>
    <td><%= core.outerDiameter %></td>
    <td><%= core.type %></td>
    <td><%= core.wallThickness %></td>
    <td><%= core.width %></td>
    <td><%= core.internalName %></td>
    <td><%= link_to 'Show', core %></td>
    <td><%= link_to 'Edit', edit_core_path(core) %></td>
    <td><%= link_to 'Destroy', core, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Core', new_core_path %>
