<p id="notice"><%= notice %></p>

<p>
  <b>Generalname:</b>
  <%= @core.generalName %>
</p>

<p>
  <b>Cost:</b>
  <%= @core.cost %>
</p>

<p>
  <b>Innerdiameter:</b>
  <%= @core.innerDiameter %>
</p>

<p>
  <b>Outerdiameter:</b>
  <%= @core.outerDiameter %>
</p>

<p>
  <b>Type:</b>
  <%= @core.type %>
</p>

<p>
  <b>Wallthickness:</b>
  <%= @core.wallThickness %>
</p>

<p>
  <b>Width:</b>
  <%= @core.width %>
</p>

<p>
  <b>Internalname:</b>
  <%= @core.internalName %>
</p>


<%= link_to 'Edit', edit_core_path(@core) %> |
<%= link_to 'Back', cores_path %>
