<%= form_for(@mat_category) do |f| %>
  <% if @mat_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mat_category.errors.count, "error") %> prohibited this mat_category from being saved:</h2>

      <ul>
      <% @mat_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :matCatDescription %><br />
    <%= f.text_field :matCatDescription %>
  </div>
  <div class="field">
    <%= f.label :matCategory %><br />
    <%= f.text_field :matCategory %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
