%h1 Mat Categorys
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.mat_category.matCatDescription", :default => t("activerecord.labels.matCatDescription", :default => "Matcatdescription"))
      %th Created at
      %th Actions
  %tbody
    - @mat_categories.each do |mat_category|
      %tr
        %td= mat_category.id
        %td= link_to mat_category.matCatDescription, mat_category_path(mat_category)
        %td= mat_category.created_at
        %td
          = link_to "Show", mat_category_path(mat_category), :class => 'btn btn-mini'
          = link_to "Edit", edit_mat_category_path(mat_category), :class => 'btn btn-mini'
          = link_to "Destroy", mat_category_path(mat_category), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New Material Category", new_mat_category_path, :class => 'btn btn-primary'
