<h1>Listing mat_categories</h1>

<table>
  <tr>
    <th>Matcatdescription</th>
    <th>Matcategory</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mat_categories.each do |mat_category| %>
  <tr>
    <td><%= mat_category.matCatDescription %></td>
    <td><%= mat_category.matCategory %></td>
    <td><%= link_to 'Show', mat_category %></td>
    <td><%= link_to 'Edit', edit_mat_category_path(mat_category) %></td>
    <td><%= link_to 'Destroy', mat_category, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mat category', new_mat_category_path %>
