<p id="notice"><%= notice %></p>

<p>
  <b>Matcatdescription:</b>
  <%= @mat_category.matCatDescription %>
</p>

<p>
  <b>Matcategory:</b>
  <%= @mat_category.matCategory %>
</p>


<%= link_to 'Edit', edit_mat_category_path(@mat_category) %> |
<%= link_to 'Back', mat_categories_path %>
