<%= form_for(@customer_note) do |f| %>
  <% if @customer_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_note.errors.count, "error") %> prohibited this customer_note from being saved:</h2>

      <ul>
      <% @customer_note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company %><br />
    <%= f.number_field :company %>
  </div>
  <div class="field">
    <%= f.label :noteInfo %><br />
    <%= f.text_area :noteInfo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
