%fieldset
  %legend
    = controller.action_name.capitalize
    /Customer Note
  .control-group
    = f.label :company, :class => 'control-label'
    .controls
      = f.number_field :company, :class => 'number_field'
  .control-group
    = f.label :noteInfo, :class => 'control-label'
    .controls
      = f.text_area :noteInfo, :class => 'text_area'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", customer_notes_path, :class => 'btn'
