<h1>Listing customer_notes</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Noteinfo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customer_notes.each do |customer_note| %>
  <tr>
    <td><%= customer_note.company %></td>
    <td><%= customer_note.noteInfo %></td>
    <td><%= link_to 'Show', customer_note %></td>
    <td><%= link_to 'Edit', edit_customer_note_path(customer_note) %></td>
    <td><%= link_to 'Destroy', customer_note, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer note', new_customer_note_path %>
