%p#notice= notice
%p
  %b Company:
  = @customer_note.company
%p
  %b Noteinfo:
  = @customer_note.noteInfo
= link_to 'Edit', edit_customer_note_path(@customer_note)
|
\#{link_to 'Back', customer_notes_path}
