%fieldset
  %legend
    = controller.action_name.capitalize
    /Security Spec
  .control-group
    = f.label :changsMaterRecombine, :class => 'control-label'
    .controls
      = f.text_field :changsMaterRecombine, :class => 'text_field'
  .control-group
    = f.label :coldFoilId, :class => 'control-label'
    .controls
      = f.number_field :coldFoilId, :class => 'number_field'
  .control-group
    = f.label :coldFoilWidth, :class => 'control-label'
    .controls
      = f.number_field :coldFoilWidth, :class => 'number_field'
  .control-group
    = f.label :customFoilAmortizeQty, :class => 'control-label'
    .controls
      = f.number_field :customFoilAmortizeQty, :class => 'number_field'
  .control-group
    = f.label :hotComplexTool, :class => 'control-label'
    .controls
      = f.number_field :hotComplexTool, :class => 'number_field'
  .control-group
    = f.label :hotFoilWidth, :class => 'control-label'
    .controls
      = f.number_field :hotFoilWidth, :class => 'number_field'
  .control-group
    = f.label :hotMediumTool, :class => 'control-label'
    .controls
      = f.number_field :hotMediumTool, :class => 'number_field'
  .control-group
    = f.label :hotSimpleTool, :class => 'control-label'
    .controls
      = f.number_field :hotSimpleTool, :class => 'number_field'
  .control-group
    = f.label :hotStampFoilId, :class => 'control-label'
    .controls
      = f.number_field :hotStampFoilId, :class => 'number_field'
  .control-group
    = f.label :jobNumber, :class => 'control-label'
    .controls
      = f.text_field :jobNumber, :class => 'text_field'
  .control-group
    = f.label :laminationId, :class => 'control-label'
    .controls
      = f.number_field :laminationId, :class => 'number_field'
  .control-group
    = f.label :laminationWidth, :class => 'control-label'
    .controls
      = f.number_field :laminationWidth, :class => 'number_field'
  .control-group
    = f.label :securityComment, :class => 'control-label'
    .controls
      = f.text_field :securityComment, :class => 'text_field'
  .control-group
    = f.label :securitySpecId, :class => 'control-label'
    .controls
      = f.number_field :securitySpecId, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", security_specs_path, :class => 'btn'
