%h1 Security Specs
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.security_spec.changsMaterRecombine", :default => t("activerecord.labels.changsMaterRecombine", :default => "Changsmaterrecombine"))
      %th Created at
      %th Actions
  %tbody
    - @security_specs.each do |security_spec|
      %tr
        %td= security_spec.id
        %td= link_to security_spec.changsMaterRecombine, security_spec_path(security_spec)
        %td= security_spec.created_at
        %td
          = link_to "Show", security_spec_path(security_spec), :class => 'btn btn-mini'
          = link_to "Edit", edit_security_spec_path(security_spec), :class => 'btn btn-mini'
          = link_to "Destroy", security_spec_path(security_spec), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New Security Spec", new_security_spec_path, :class => 'btn btn-primary'
