<h1>Listing security_specs</h1>

<table>
  <tr>
    <th>Changsmaterrecombine</th>
    <th>Coldfoilid</th>
    <th>Coldfoilwidth</th>
    <th>Customfoilamortizeqty</th>
    <th>Hotcomplextool</th>
    <th>Hotfoilwidth</th>
    <th>Hotmediumtool</th>
    <th>Hotsimpletool</th>
    <th>Hotstampfoilid</th>
    <th>Jobnumber</th>
    <th>Laminationid</th>
    <th>Laminationwidth</th>
    <th>Securitycomment</th>
    <th>Securityspecid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @security_specs.each do |security_spec| %>
  <tr>
    <td><%= security_spec.changsMaterRecombine %></td>
    <td><%= security_spec.coldFoilId %></td>
    <td><%= security_spec.coldFoilWidth %></td>
    <td><%= security_spec.customFoilAmortizeQty %></td>
    <td><%= security_spec.hotComplexTool %></td>
    <td><%= security_spec.hotFoilWidth %></td>
    <td><%= security_spec.hotMediumTool %></td>
    <td><%= security_spec.hotSimpleTool %></td>
    <td><%= security_spec.hotStampFoilId %></td>
    <td><%= security_spec.jobNumber %></td>
    <td><%= security_spec.laminationId %></td>
    <td><%= security_spec.laminationWidth %></td>
    <td><%= security_spec.securityComment %></td>
    <td><%= security_spec.securitySpecId %></td>
    <td><%= link_to 'Show', security_spec %></td>
    <td><%= link_to 'Edit', edit_security_spec_path(security_spec) %></td>
    <td><%= link_to 'Destroy', security_spec, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Security spec', new_security_spec_path %>
