<p id="notice"><%= notice %></p>

<p>
  <b>Changsmaterrecombine:</b>
  <%= @security_spec.changsMaterRecombine %>
</p>

<p>
  <b>Coldfoilid:</b>
  <%= @security_spec.coldFoilId %>
</p>

<p>
  <b>Coldfoilwidth:</b>
  <%= @security_spec.coldFoilWidth %>
</p>

<p>
  <b>Customfoilamortizeqty:</b>
  <%= @security_spec.customFoilAmortizeQty %>
</p>

<p>
  <b>Hotcomplextool:</b>
  <%= @security_spec.hotComplexTool %>
</p>

<p>
  <b>Hotfoilwidth:</b>
  <%= @security_spec.hotFoilWidth %>
</p>

<p>
  <b>Hotmediumtool:</b>
  <%= @security_spec.hotMediumTool %>
</p>

<p>
  <b>Hotsimpletool:</b>
  <%= @security_spec.hotSimpleTool %>
</p>

<p>
  <b>Hotstampfoilid:</b>
  <%= @security_spec.hotStampFoilId %>
</p>

<p>
  <b>Jobnumber:</b>
  <%= @security_spec.jobNumber %>
</p>

<p>
  <b>Laminationid:</b>
  <%= @security_spec.laminationId %>
</p>

<p>
  <b>Laminationwidth:</b>
  <%= @security_spec.laminationWidth %>
</p>

<p>
  <b>Securitycomment:</b>
  <%= @security_spec.securityComment %>
</p>

<p>
  <b>Securityspecid:</b>
  <%= @security_spec.securitySpecId %>
</p>


<%= link_to 'Edit', edit_security_spec_path(@security_spec) %> |
<%= link_to 'Back', security_specs_path %>
