%p#notice= notice
%p
  %b Changsmaterrecombine:
  = @security_spec.changsMaterRecombine
%p
  %b Coldfoilid:
  = @security_spec.coldFoilId
%p
  %b Coldfoilwidth:
  = @security_spec.coldFoilWidth
%p
  %b Customfoilamortizeqty:
  = @security_spec.customFoilAmortizeQty
%p
  %b Hotcomplextool:
  = @security_spec.hotComplexTool
%p
  %b Hotfoilwidth:
  = @security_spec.hotFoilWidth
%p
  %b Hotmediumtool:
  = @security_spec.hotMediumTool
%p
  %b Hotsimpletool:
  = @security_spec.hotSimpleTool
%p
  %b Hotstampfoilid:
  = @security_spec.hotStampFoilId
%p
  %b Jobnumber:
  = @security_spec.jobNumber
%p
  %b Laminationid:
  = @security_spec.laminationId
%p
  %b Laminationwidth:
  = @security_spec.laminationWidth
%p
  %b Securitycomment:
  = @security_spec.securityComment
%p
  %b Securityspecid:
  = @security_spec.securitySpecId
= link_to 'Edit', edit_security_spec_path(@security_spec)
|
\#{link_to 'Back', security_specs_path}
