%fieldset
  %legend
    = controller.action_name.capitalize
    Stripe Specification
  .control-group
    = f.label :designBy, 'Design By', :class => 'control-label'
    .controls
      = f.number_field :designBy, :class => 'number_field'
  .control-group
    = f.label :designRevDate, 'Design Revision Date', :class => 'control-label'
    .controls
      = f.number_field :designRevDate, :class => 'number_field'
  .control-group
    = f.label :htMagTypeId, 'HT Mag Type ID', :class => 'control-label'
    .controls
      = f.number_field :htMagTypeId, :class => 'number_field'
  .control-group
    = f.label :imageFile, 'Image File', :class => 'control-label'
    .controls
      = f.text_field :imageFile, :class => 'text_field'
  .control-group
    = f.label :jobNumber, 'Job Number', :class => 'control-label'
    .controls
      = f.text_field :jobNumber, :class => 'text_field'
  .control-group
    = f.label :magneticStripeComment, 'Magnetic Stripe Comment', :class => 'control-label'
    .controls
      = f.text_field :magneticStripeComment, :class => 'text_field'
  .control-group
    = f.label :magneticStripeId, 'Magnetic Stripe ID', :class => 'control-label'
    .controls
      = f.number_field :magneticStripeId, :class => 'number_field'
  .control-group
    = f.label :sideToStripe, 'Side To Stripe', :class => 'control-label'
    .controls
      = f.text_field :sideToStripe, :class => 'text_field'
  .control-group
    = f.label :signalISO, 'Signal ISO', :class => 'control-label'
    .controls
      = f.text_field :signalISO, :class => 'text_field'
  .control-group
    = f.label :signalMax, 'Signal Max', :class => 'control-label'
    .controls
      = f.number_field :signalMax, :class => 'number_field'
  .control-group
    = f.label :signalMin, 'Signal Min', :class => 'control-label'
    .controls
      = f.number_field :signalMin, :class => 'number_field'
  .control-group
    = f.label :specNumber, 'Spec Number', :class => 'control-label'
    .controls
      = f.text_field :specNumber, :class => 'text_field'
  .control-group
    = f.label :stripeAcross, 'Stripe Across', :class => 'control-label'
    .controls
      = f.number_field :stripeAcross, :class => 'number_field'
  .control-group
    = f.label :stripeMachineId, 'Stripe Machine ID', :class => 'control-label'
    .controls
      = f.number_field :stripeMachineId, :class => 'number_field'
  .control-group
    = f.label :stripePosition, 'Stripe Positon', :class => 'control-label'
    .controls
      = f.number_field :stripePosition, :class => 'number_field'
  .control-group
    = f.label :stripePositionMax, 'Stripe Position Max', :class => 'control-label'
    .controls
      = f.number_field :stripePositionMax, :class => 'number_field'
  .control-group
    = f.label :stripePositionMin, 'Stripe Position Min', :class => 'control-label'
    .controls
      = f.number_field :stripePositionMin, :class => 'number_field'
  .control-group
    = f.label :stripeSpecificationId, 'Stripe Specification ID', :class => 'control-label'
    .controls
      = f.number_field :stripeSpecificationId, :class => 'number_field'
  .control-group
    = f.label :stripeSpeed, 'Stripe Speed', :class => 'control-label'
    .controls
      = f.number_field :stripeSpeed, :class => 'number_field'
  .control-group
    = f.label :stripeTypeMin, 'Stripe Type Min', :class => 'control-label'
    .controls
      = f.number_field :stripeTypeMin, :class => 'number_field'
  .control-group
    = f.label :stripeTypeMax, 'Stripe Type Max', :class => 'control-label'
    .controls
      = f.number_field :stripeTypeMax, :class => 'number_field'
  .control-group
    = f.label :stripeWidth, 'Stripe Width', :class => 'control-label'
    .controls
      = f.number_field :stripeWidth, :class => 'number_field'
  .control-group
    = f.label :stripeWidthMin, 'Stripe Width Min', :class => 'control-label'
    .controls
      = f.number_field :stripeWidthMin, :class => 'number_field'
  .control-group
    = f.label :stripeWidthMax, 'Stripe Width Max', :class => 'control-label'
    .controls
      = f.number_field :stripeWidthMax, :class => 'number_field'
  .form-actions
    = f.submit 'Create Stripe Spec', :class => 'btn btn-primary'
    = link_to "Cancel", stripe_specifications_path, :class => 'btn'
