<%= form_for(@stripe_specification) do |f| %>
  <% if @stripe_specification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stripe_specification.errors.count, "error") %> prohibited this stripe_specification from being saved:</h2>

      <ul>
      <% @stripe_specification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :designBy %><br />
    <%= f.number_field :designBy %>
  </div>
  <div class="field">
    <%= f.label :designRevDate %><br />
    <%= f.number_field :designRevDate %>
  </div>
  <div class="field">
    <%= f.label :htMagTypeId %><br />
    <%= f.number_field :htMagTypeId %>
  </div>
  <div class="field">
    <%= f.label :imageFile %><br />
    <%= f.text_field :imageFile %>
  </div>
  <div class="field">
    <%= f.label :jobNumber %><br />
    <%= f.text_field :jobNumber %>
  </div>
  <div class="field">
    <%= f.label :magneticStripeComment %><br />
    <%= f.text_field :magneticStripeComment %>
  </div>
  <div class="field">
    <%= f.label :magneticStripeId %><br />
    <%= f.number_field :magneticStripeId %>
  </div>
  <div class="field">
    <%= f.label :sideToStripe %><br />
    <%= f.text_field :sideToStripe %>
  </div>
  <div class="field">
    <%= f.label :signalISO %><br />
    <%= f.text_field :signalISO %>
  </div>
  <div class="field">
    <%= f.label :signalMax %><br />
    <%= f.number_field :signalMax %>
  </div>
  <div class="field">
    <%= f.label :signalMin %><br />
    <%= f.number_field :signalMin %>
  </div>
  <div class="field">
    <%= f.label :specNumber %><br />
    <%= f.text_field :specNumber %>
  </div>
  <div class="field">
    <%= f.label :stripeAcross %><br />
    <%= f.number_field :stripeAcross %>
  </div>
  <div class="field">
    <%= f.label :stripeMachineId %><br />
    <%= f.number_field :stripeMachineId %>
  </div>
  <div class="field">
    <%= f.label :stripePosition %><br />
    <%= f.number_field :stripePosition %>
  </div>
  <div class="field">
    <%= f.label :stripePositionMax %><br />
    <%= f.number_field :stripePositionMax %>
  </div>
  <div class="field">
    <%= f.label :stripePositionMin %><br />
    <%= f.number_field :stripePositionMin %>
  </div>
  <div class="field">
    <%= f.label :stripeSpecificationId %><br />
    <%= f.number_field :stripeSpecificationId %>
  </div>
  <div class="field">
    <%= f.label :stripeSpeed %><br />
    <%= f.number_field :stripeSpeed %>
  </div>
  <div class="field">
    <%= f.label :stripeTypeMin %><br />
    <%= f.number_field :stripeTypeMin %>
  </div>
  <div class="field">
    <%= f.label :stripeTypeMax %><br />
    <%= f.number_field :stripeTypeMax %>
  </div>
  <div class="field">
    <%= f.label :stripeWidth %><br />
    <%= f.number_field :stripeWidth %>
  </div>
  <div class="field">
    <%= f.label :stripeWidthMin %><br />
    <%= f.number_field :stripeWidthMin %>
  </div>
  <div class="field">
    <%= f.label :stripeWidthMax %><br />
    <%= f.number_field :stripeWidthMax %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
