%fieldset
  %legend
    = controller.action_name.capitalize
    /Stripe Specification
  .control-group
    = f.label :designBy, :class => 'control-label'
    .controls
      = f.number_field :designBy, :class => 'number_field'
  .control-group
    = f.label :designRevDate, :class => 'control-label'
    .controls
      = f.number_field :designRevDate, :class => 'number_field'
  .control-group
    = f.label :htMagTypeId, :class => 'control-label'
    .controls
      = f.number_field :htMagTypeId, :class => 'number_field'
  .control-group
    = f.label :imageFile, :class => 'control-label'
    .controls
      = f.text_field :imageFile, :class => 'text_field'
  .control-group
    = f.label :jobNumber, :class => 'control-label'
    .controls
      = f.text_field :jobNumber, :class => 'text_field'
  .control-group
    = f.label :magneticStripeComment, :class => 'control-label'
    .controls
      = f.text_field :magneticStripeComment, :class => 'text_field'
  .control-group
    = f.label :magneticStripeId, :class => 'control-label'
    .controls
      = f.number_field :magneticStripeId, :class => 'number_field'
  .control-group
    = f.label :sideToStripe, :class => 'control-label'
    .controls
      = f.text_field :sideToStripe, :class => 'text_field'
  .control-group
    = f.label :signalISO, :class => 'control-label'
    .controls
      = f.text_field :signalISO, :class => 'text_field'
  .control-group
    = f.label :signalMax, :class => 'control-label'
    .controls
      = f.number_field :signalMax, :class => 'number_field'
  .control-group
    = f.label :signalMin, :class => 'control-label'
    .controls
      = f.number_field :signalMin, :class => 'number_field'
  .control-group
    = f.label :specNumber, :class => 'control-label'
    .controls
      = f.text_field :specNumber, :class => 'text_field'
  .control-group
    = f.label :stripeAcross, :class => 'control-label'
    .controls
      = f.number_field :stripeAcross, :class => 'number_field'
  .control-group
    = f.label :stripeMachineId, :class => 'control-label'
    .controls
      = f.number_field :stripeMachineId, :class => 'number_field'
  .control-group
    = f.label :stripePosition, :class => 'control-label'
    .controls
      = f.number_field :stripePosition, :class => 'number_field'
  .control-group
    = f.label :stripePositionMax, :class => 'control-label'
    .controls
      = f.number_field :stripePositionMax, :class => 'number_field'
  .control-group
    = f.label :stripePositionMin, :class => 'control-label'
    .controls
      = f.number_field :stripePositionMin, :class => 'number_field'
  .control-group
    = f.label :stripeSpecificationId, :class => 'control-label'
    .controls
      = f.number_field :stripeSpecificationId, :class => 'number_field'
  .control-group
    = f.label :stripeSpeed, :class => 'control-label'
    .controls
      = f.number_field :stripeSpeed, :class => 'number_field'
  .control-group
    = f.label :stripeTypeMin, :class => 'control-label'
    .controls
      = f.number_field :stripeTypeMin, :class => 'number_field'
  .control-group
    = f.label :stripeTypeMax, :class => 'control-label'
    .controls
      = f.number_field :stripeTypeMax, :class => 'number_field'
  .control-group
    = f.label :stripeWidth, :class => 'control-label'
    .controls
      = f.number_field :stripeWidth, :class => 'number_field'
  .control-group
    = f.label :stripeWidthMin, :class => 'control-label'
    .controls
      = f.number_field :stripeWidthMin, :class => 'number_field'
  .control-group
    = f.label :stripeWidthMax, :class => 'control-label'
    .controls
      = f.number_field :stripeWidthMax, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", stripe_specifications_path, :class => 'btn'
