<h1>Listing stripe_specifications</h1>

<table>
  <tr>
    <th>Designby</th>
    <th>Designrevdate</th>
    <th>Htmagtypeid</th>
    <th>Imagefile</th>
    <th>Jobnumber</th>
    <th>Magneticstripecomment</th>
    <th>Magneticstripeid</th>
    <th>Sidetostripe</th>
    <th>Signaliso</th>
    <th>Signalmax</th>
    <th>Signalmin</th>
    <th>Specnumber</th>
    <th>Stripeacross</th>
    <th>Stripemachineid</th>
    <th>Stripeposition</th>
    <th>Stripepositionmax</th>
    <th>Stripepositionmin</th>
    <th>Stripespecificationid</th>
    <th>Stripespeed</th>
    <th>Stripetypemin</th>
    <th>Stripetypemax</th>
    <th>Stripewidth</th>
    <th>Stripewidthmin</th>
    <th>Stripewidthmax</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stripe_specifications.each do |stripe_specification| %>
  <tr>
    <td><%= stripe_specification.designBy %></td>
    <td><%= stripe_specification.designRevDate %></td>
    <td><%= stripe_specification.htMagTypeId %></td>
    <td><%= stripe_specification.imageFile %></td>
    <td><%= stripe_specification.jobNumber %></td>
    <td><%= stripe_specification.magneticStripeComment %></td>
    <td><%= stripe_specification.magneticStripeId %></td>
    <td><%= stripe_specification.sideToStripe %></td>
    <td><%= stripe_specification.signalISO %></td>
    <td><%= stripe_specification.signalMax %></td>
    <td><%= stripe_specification.signalMin %></td>
    <td><%= stripe_specification.specNumber %></td>
    <td><%= stripe_specification.stripeAcross %></td>
    <td><%= stripe_specification.stripeMachineId %></td>
    <td><%= stripe_specification.stripePosition %></td>
    <td><%= stripe_specification.stripePositionMax %></td>
    <td><%= stripe_specification.stripePositionMin %></td>
    <td><%= stripe_specification.stripeSpecificationId %></td>
    <td><%= stripe_specification.stripeSpeed %></td>
    <td><%= stripe_specification.stripeTypeMin %></td>
    <td><%= stripe_specification.stripeTypeMax %></td>
    <td><%= stripe_specification.stripeWidth %></td>
    <td><%= stripe_specification.stripeWidthMin %></td>
    <td><%= stripe_specification.stripeWidthMax %></td>
    <td><%= link_to 'Show', stripe_specification %></td>
    <td><%= link_to 'Edit', edit_stripe_specification_path(stripe_specification) %></td>
    <td><%= link_to 'Destroy', stripe_specification, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stripe specification', new_stripe_specification_path %>
