<p id="notice"><%= notice %></p>

<p>
  <b>Designby:</b>
  <%= @stripe_specification.designBy %>
</p>

<p>
  <b>Designrevdate:</b>
  <%= @stripe_specification.designRevDate %>
</p>

<p>
  <b>Htmagtypeid:</b>
  <%= @stripe_specification.htMagTypeId %>
</p>

<p>
  <b>Imagefile:</b>
  <%= @stripe_specification.imageFile %>
</p>

<p>
  <b>Jobnumber:</b>
  <%= @stripe_specification.jobNumber %>
</p>

<p>
  <b>Magneticstripecomment:</b>
  <%= @stripe_specification.magneticStripeComment %>
</p>

<p>
  <b>Magneticstripeid:</b>
  <%= @stripe_specification.magneticStripeId %>
</p>

<p>
  <b>Sidetostripe:</b>
  <%= @stripe_specification.sideToStripe %>
</p>

<p>
  <b>Signaliso:</b>
  <%= @stripe_specification.signalISO %>
</p>

<p>
  <b>Signalmax:</b>
  <%= @stripe_specification.signalMax %>
</p>

<p>
  <b>Signalmin:</b>
  <%= @stripe_specification.signalMin %>
</p>

<p>
  <b>Specnumber:</b>
  <%= @stripe_specification.specNumber %>
</p>

<p>
  <b>Stripeacross:</b>
  <%= @stripe_specification.stripeAcross %>
</p>

<p>
  <b>Stripemachineid:</b>
  <%= @stripe_specification.stripeMachineId %>
</p>

<p>
  <b>Stripeposition:</b>
  <%= @stripe_specification.stripePosition %>
</p>

<p>
  <b>Stripepositionmax:</b>
  <%= @stripe_specification.stripePositionMax %>
</p>

<p>
  <b>Stripepositionmin:</b>
  <%= @stripe_specification.stripePositionMin %>
</p>

<p>
  <b>Stripespecificationid:</b>
  <%= @stripe_specification.stripeSpecificationId %>
</p>

<p>
  <b>Stripespeed:</b>
  <%= @stripe_specification.stripeSpeed %>
</p>

<p>
  <b>Stripetypemin:</b>
  <%= @stripe_specification.stripeTypeMin %>
</p>

<p>
  <b>Stripetypemax:</b>
  <%= @stripe_specification.stripeTypeMax %>
</p>

<p>
  <b>Stripewidth:</b>
  <%= @stripe_specification.stripeWidth %>
</p>

<p>
  <b>Stripewidthmin:</b>
  <%= @stripe_specification.stripeWidthMin %>
</p>

<p>
  <b>Stripewidthmax:</b>
  <%= @stripe_specification.stripeWidthMax %>
</p>


<%= link_to 'Edit', edit_stripe_specification_path(@stripe_specification) %> |
<%= link_to 'Back', stripe_specifications_path %>
