%h1 Inkpmscodes
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.inkpmscode.vendorpartnumb", :default => t("activerecord.labels.vendorpartnumb", :default => "Vendorpartnumb"))
      %th Created at
      %th Actions
  %tbody
    - @inkpmscodes.each do |inkpmscode|
      %tr
        %td= inkpmscode.id
        %td= link_to inkpmscode.vendorpartnumb, inkpmscode_path(inkpmscode)
        %td= inkpmscode.created_at
        %td
          = link_to "Show", inkpmscode_path(inkpmscode), :class => 'btn btn-mini'
          = link_to "Edit", edit_inkpmscode_path(inkpmscode), :class => 'btn btn-mini'
          = link_to "Destroy", inkpmscode_path(inkpmscode), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New Ink PMS Code", new_inkpmscode_path, :class => 'btn btn-primary'
