<p id="notice"><%= notice %></p>

<p>
  <b>Vendorpartnumb:</b>
  <%= @inkpmscode.vendorpartnumb %>
</p>

<p>
  <b>Vendor:</b>
  <%= @inkpmscode.vendor %>
</p>

<p>
  <b>Magtype:</b>
  <%= @inkpmscode.magtype %>
</p>

<p>
  <b>Inktype:</b>
  <%= @inkpmscode.inktype %>
</p>

<p>
  <b>Inkmsiperpound:</b>
  <%= @inkpmscode.inkmsiperpound %>
</p>

<p>
  <b>Inkcostperpound:</b>
  <%= @inkpmscode.inkcostperpound %>
</p>


<%= link_to 'Edit', edit_inkpmscode_path(@inkpmscode) %> |
<%= link_to 'Back', inkpmscodes_path %>
