%fieldset
  %legend
    = controller.action_name.capitalize
    /Binderyspec
  .control-group
    = f.label :cardsperunit, :class => 'control-label'
    .controls
      = f.number_field :cardsperunit, :class => 'number_field'
  .control-group
    = f.label :comment, :class => 'control-label'
    .controls
      = f.text_area :comment, :class => 'text_area'
  .control-group
    = f.label :numberofpersons, :class => 'control-label'
    .controls
      = f.number_field :numberofpersons, :class => 'number_field'
  .control-group
    = f.label :quantityperhour, :class => 'control-label'
    .controls
      = f.number_field :quantityperhour, :class => 'number_field'
  .control-group
    = f.label :unitmaterialcost, :class => 'control-label'
    .controls
      = f.number_field :unitmaterialcost, :class => 'number_field'
  .control-group
    = f.label :jobnumber, :class => 'control-label'
    .controls
      = f.text_field :jobnumber, :class => 'text_field'
  .control-group
    = f.label :newboxrequired, :class => 'control-label'
    .controls
      = f.text_field :newboxrequired, :class => 'text_field'
  .control-group
    = f.label :packageamoritizequantity, :class => 'control-label'
    .controls
      = f.number_field :packageamoritizequantity, :class => 'number_field'
  .control-group
    = f.label :packagecomment, :class => 'control-label'
    .controls
      = f.text_area :packagecomment, :class => 'text_area'
  .control-group
    = f.label :packageinnerboxid, :class => 'control-label'
    .controls
      = f.text_field :packageinnerboxid, :class => 'text_field'
  .control-group
    = f.label :packageouterboxid, :class => 'control-label'
    .controls
      = f.text_field :packageouterboxid, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", binderyspecs_path, :class => 'btn'
