%h1 Binderyspecs
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.binderyspec.cardsperunit", :default => t("activerecord.labels.cardsperunit", :default => "Cardsperunit"))
      %th Created at
      %th Actions
  %tbody
    - @binderyspecs.each do |binderyspec|
      %tr
        %td= binderyspec.id
        %td= link_to binderyspec.cardsperunit, binderyspec_path(binderyspec)
        %td= binderyspec.created_at
        %td
          = link_to "Show", binderyspec_path(binderyspec), :class => 'btn btn-mini'
          = link_to "Edit", edit_binderyspec_path(binderyspec), :class => 'btn btn-mini'
          = link_to "Destroy", binderyspec_path(binderyspec), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New", new_binderyspec_path, :class => 'btn btn-primary'
