<h1>Listing binderyspecs</h1>

<table>
  <tr>
    <th>Cardsperunit</th>
    <th>Comment</th>
    <th>Numberofpersons</th>
    <th>Quantityperhour</th>
    <th>Unitmaterialcost</th>
    <th>Jobnumber</th>
    <th>Newboxrequired</th>
    <th>Packageamoritizequantity</th>
    <th>Packagecomment</th>
    <th>Packageinnerboxid</th>
    <th>Packageouterboxid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @binderyspecs.each do |binderyspec| %>
  <tr>
    <td><%= binderyspec.cardsperunit %></td>
    <td><%= binderyspec.comment %></td>
    <td><%= binderyspec.numberofpersons %></td>
    <td><%= binderyspec.quantityperhour %></td>
    <td><%= binderyspec.unitmaterialcost %></td>
    <td><%= binderyspec.jobnumber %></td>
    <td><%= binderyspec.newboxrequired %></td>
    <td><%= binderyspec.packageamoritizequantity %></td>
    <td><%= binderyspec.packagecomment %></td>
    <td><%= binderyspec.packageinnerboxid %></td>
    <td><%= binderyspec.packageouterboxid %></td>
    <td><%= link_to 'Show', binderyspec %></td>
    <td><%= link_to 'Edit', edit_binderyspec_path(binderyspec) %></td>
    <td><%= link_to 'Destroy', binderyspec, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Binderyspec', new_binderyspec_path %>
