<p id="notice"><%= notice %></p>

<p>
  <b>Cardsperunit:</b>
  <%= @binderyspec.cardsperunit %>
</p>

<p>
  <b>Comment:</b>
  <%= @binderyspec.comment %>
</p>

<p>
  <b>Numberofpersons:</b>
  <%= @binderyspec.numberofpersons %>
</p>

<p>
  <b>Quantityperhour:</b>
  <%= @binderyspec.quantityperhour %>
</p>

<p>
  <b>Unitmaterialcost:</b>
  <%= @binderyspec.unitmaterialcost %>
</p>

<p>
  <b>Jobnumber:</b>
  <%= @binderyspec.jobnumber %>
</p>

<p>
  <b>Newboxrequired:</b>
  <%= @binderyspec.newboxrequired %>
</p>

<p>
  <b>Packageamoritizequantity:</b>
  <%= @binderyspec.packageamoritizequantity %>
</p>

<p>
  <b>Packagecomment:</b>
  <%= @binderyspec.packagecomment %>
</p>

<p>
  <b>Packageinnerboxid:</b>
  <%= @binderyspec.packageinnerboxid %>
</p>

<p>
  <b>Packageouterboxid:</b>
  <%= @binderyspec.packageouterboxid %>
</p>


<%= link_to 'Edit', edit_binderyspec_path(@binderyspec) %> |
<%= link_to 'Back', binderyspecs_path %>
