%fieldset
  %legend
    = controller.action_name.capitalize
    Plate Cost
  .control-group
    = f.label :digital, :class => 'control-label'
    .controls
      = f.number_field :digital, :class => 'number_field'
  .control-group
    = f.label :filmcost, 'Film Cost', :class => 'control-label'
    .controls
      = f.number_field :filmcost, :class => 'number_field'
  .control-group
    = f.label :filmSquareInch, 'Film Square Inch', :class => 'control-label'
    .controls
      = f.number_field :filmSquareInch, :class => 'number_field'
  .control-group
    = f.label :laborCost, 'Labor Cost', :class => 'control-label'
    .controls
      = f.number_field :laborCost, :class => 'number_field'
  .control-group
    = f.label :machineName, 'Machine Name', :class => 'control-label'
    .controls
      = f.number_field :machineName, :class => 'number_field'
  .control-group
    = f.label :processTime, 'Process Time', :class => 'control-label'
    .controls
      = f.text_field :processTime, :class => 'text_field'
  .control-group
    = f.label :sheetCost, 'Sheet Cost', :class => 'control-label'
    .controls
      = f.number_field :sheetCost, :class => 'number_field'
  .control-group
    = f.label :sheetsPerCycle, 'Sheets Per Cycle', :class => 'control-label'
    .controls
      = f.number_field :sheetsPerCycle, :class => 'number_field'
  .control-group
    = f.label :squareInchPerSheet, 'Square Inch Per Sheet', :class => 'control-label'
    .controls
      = f.number_field :squareInchPerSheet, :class => 'number_field'
  .form-actions
    = f.submit 'Create Plate Cost', :class => 'btn btn-primary'
    = link_to "Cancel", plate_costs_path, :class => 'btn'
