%h1 Plate Costs
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.plate_cost.digital", :default => t("activerecord.labels.digital", :default => "Digital"))
      %th Created at
      %th Actions
  %tbody
    - @plate_costs.each do |plate_cost|
      %tr
        %td= plate_cost.id
        %td= link_to plate_cost.digital, plate_cost_path(plate_cost)
        %td= plate_cost.created_at
        %td
          = link_to "Show", plate_cost_path(plate_cost), :class => 'btn btn-mini'
          = link_to "Edit", edit_plate_cost_path(plate_cost), :class => 'btn btn-mini'
          = link_to "Destroy", plate_cost_path(plate_cost), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New", new_plate_cost_path, :class => 'btn btn-primary'
