<h1>Listing plate_costs</h1>

<table>
  <tr>
    <th>Digital</th>
    <th>Filmcost</th>
    <th>Filmsquareinch</th>
    <th>Laborcost</th>
    <th>Machinename</th>
    <th>Processtime</th>
    <th>Sheetcost</th>
    <th>Sheetspercycle</th>
    <th>Squareinchpersheet</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plate_costs.each do |plate_cost| %>
  <tr>
    <td><%= plate_cost.digital %></td>
    <td><%= plate_cost.filmcost %></td>
    <td><%= plate_cost.filmSquareInch %></td>
    <td><%= plate_cost.laborCost %></td>
    <td><%= plate_cost.machineName %></td>
    <td><%= plate_cost.processTime %></td>
    <td><%= plate_cost.sheetCost %></td>
    <td><%= plate_cost.sheetsPerCycle %></td>
    <td><%= plate_cost.squareInchPerSheet %></td>
    <td><%= link_to 'Show', plate_cost %></td>
    <td><%= link_to 'Edit', edit_plate_cost_path(plate_cost) %></td>
    <td><%= link_to 'Destroy', plate_cost, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Plate cost', new_plate_cost_path %>
