%fieldset
  %legend
    = controller.action_name.capitalize
    /Mag Ink Type
  .control-group
    = f.label :gallonCost, :class => 'control-label'
    .controls
      = f.number_field :gallonCost, :class => 'number_field'
  .control-group
    = f.label :inkType, :class => 'control-label'
    .controls
      = f.text_field :inkType, :class => 'text_field'
  .control-group
    = f.label :inkTypeId, :class => 'control-label'
    .controls
      = f.number_field :inkTypeId, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", mag_ink_types_path, :class => 'btn'
