<h1>Listing mag_ink_types</h1>

<table>
  <tr>
    <th>Galloncost</th>
    <th>Inktype</th>
    <th>Inktypeid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mag_ink_types.each do |mag_ink_type| %>
  <tr>
    <td><%= mag_ink_type.gallonCost %></td>
    <td><%= mag_ink_type.inkType %></td>
    <td><%= mag_ink_type.inkTypeId %></td>
    <td><%= link_to 'Show', mag_ink_type %></td>
    <td><%= link_to 'Edit', edit_mag_ink_type_path(mag_ink_type) %></td>
    <td><%= link_to 'Destroy', mag_ink_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mag ink type', new_mag_ink_type_path %>
