%h1 Mag Ink Types
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.mag_ink_type.gallonCost", :default => t("activerecord.labels.gallonCost", :default => "Galloncost"))
      %th Created at
      %th Actions
  %tbody
    - @mag_ink_types.each do |mag_ink_type|
      %tr
        %td= mag_ink_type.id
        %td= link_to mag_ink_type.gallonCost, mag_ink_type_path(mag_ink_type)
        %td= mag_ink_type.created_at
        %td
          = link_to "Show", mag_ink_type_path(mag_ink_type), :class => 'btn btn-mini'
          = link_to "Edit", edit_mag_ink_type_path(mag_ink_type), :class => 'btn btn-mini'
          = link_to "Destroy", mag_ink_type_path(mag_ink_type), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New Mag Ink Type", new_mag_ink_type_path, :class => 'btn btn-primary'
