%p#notice= notice
%p
  %b Galloncost:
  = @mag_ink_type.gallonCost
%p
  %b Inktype:
  = @mag_ink_type.inkType
%p
  %b Inktypeid:
  = @mag_ink_type.inkTypeId
= link_to 'Edit', edit_mag_ink_type_path(@mag_ink_type)
%p |
= link_to 'Back', mag_ink_types_path
