<p id="notice"><%= notice %></p>

<p>
  <b>Galloncost:</b>
  <%= @mag_ink_type.gallonCost %>
</p>

<p>
  <b>Inktype:</b>
  <%= @mag_ink_type.inkType %>
</p>

<p>
  <b>Inktypeid:</b>
  <%= @mag_ink_type.inkTypeId %>
</p>


<%= link_to 'Edit', edit_mag_ink_type_path(@mag_ink_type) %> |
<%= link_to 'Back', mag_ink_types_path %>
