%h1 Listing dies
%table
  %tr
    %th Diecatagory
    %th Costpercard
    %th Costspertooth
    %th Description
    %th Initialcost
    %th Initiallife
    %th Retoolcost
    %th Retoollife
    %th
    %th
    %th
  - @dies.each do |die|
    %tr
      %td= die.dieCatagory
      %td= die.costpercard
      %td= die.costspertooth
      %td= die.description
      %td= die.initialCost
      %td= die.initialLife
      %td= die.retoolCost
      %td= die.retoolLife
      %td= link_to 'Show', die
      %td= link_to 'Edit', edit_die_path(die)
      %td= link_to 'Destroy', die, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Die', new_die_path
