<p id="notice"><%= notice %></p>

<p>
  <b>Diecatagory:</b>
  <%= @dy.dieCatagory %>
</p>

<p>
  <b>Costpercard:</b>
  <%= @dy.costpercard %>
</p>

<p>
  <b>Costspertooth:</b>
  <%= @dy.costspertooth %>
</p>

<p>
  <b>Description:</b>
  <%= @dy.description %>
</p>

<p>
  <b>Initialcost:</b>
  <%= @dy.initialCost %>
</p>

<p>
  <b>Initiallife:</b>
  <%= @dy.initialLife %>
</p>

<p>
  <b>Retoolcost:</b>
  <%= @dy.retoolCost %>
</p>

<p>
  <b>Retoollife:</b>
  <%= @dy.retoolLife %>
</p>


<%= link_to 'Edit', edit_dy_path(@dy) %> |
<%= link_to 'Back', dies_path %>
