%p#notice= notice
%p
  %b Die Category:
  = @die.dieCatagory
%p
  %b Cost Per Card:
  = @die.costpercard
%p
  %b Cost Per Tooth:
  = @die.costspertooth
%p
  %b Description:
  = @die.description
%p
  %b Initial Cost:
  = @die.initialCost
%p
  %b Initial Life:
  = @die.initialLife
%p
  %b Retool Cost:
  = @die.retoolCost
%p
  %b Retool Life:
  = @die.retoolLife
%p
  %b Retool Times:
  = @die.retoolTimes
%p
  %b Total Cards:
  = @die.totalCards
%p
  %b Total Cost:
  = @die.totalCost
%p
  %b Die Type:
  = @die.die_type
%p
  %b Vendor ID number:
  = @die.vendorIDNumb
= link_to 'Edit', edit_die_path(@die)
%p |
= link_to 'Back', dies_path
