= form_for(@coretype) do |f|
  - if @coretype.errors.any?
    #error_explanation
      %h2
        = pluralize(@coretype.errors.count, "error")
        prohibited this coretype from being saved:
      %ul
        - @coretype.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :matDescription
    %br/
    = f.text_field :matDescription
  .field
    = f.label :material
    %br/
    = f.text_field :material
  .actions
    = f.submit
