<h1>Listing coretypes</h1>

<table>
  <tr>
    <th>Matdescription</th>
    <th>Material</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @coretypes.each do |coretype| %>
  <tr>
    <td><%= coretype.matDescription %></td>
    <td><%= coretype.material %></td>
    <td><%= link_to 'Show', coretype %></td>
    <td><%= link_to 'Edit', edit_coretype_path(coretype) %></td>
    <td><%= link_to 'Destroy', coretype, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Coretype', new_coretype_path %>
