<p id="notice"><%= notice %></p>

<p>
  <b>Matdescription:</b>
  <%= @coretype.matDescription %>
</p>

<p>
  <b>Material:</b>
  <%= @coretype.material %>
</p>


<%= link_to 'Edit', edit_coretype_path(@coretype) %> |
<%= link_to 'Back', coretypes_path %>
