%h1 Listing binderies
%table
  %tr
    %th Opdescription
    %th Unit
    %th Unitcost
    %th
    %th
    %th
  - @binderies.each do |bindery|
    %tr
      %td= bindery.opdescription
      %td= bindery.unit
      %td= bindery.unitcost
      %td= link_to 'Show', bindery
      %td= link_to 'Edit', edit_bindery_path(bindery)
      %td= link_to 'Destroy', bindery, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Bindery', new_bindery_path
