<h1>Listing binderies</h1>

<table>
  <tr>
    <th>Opdescription</th>
    <th>Unit</th>
    <th>Unitcost</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @binderies.each do |bindery| %>
  <tr>
    <td><%= bindery.opdescription %></td>
    <td><%= bindery.unit %></td>
    <td><%= bindery.unitcost %></td>
    <td><%= link_to 'Show', bindery %></td>
    <td><%= link_to 'Edit', edit_bindery_path(bindery) %></td>
    <td><%= link_to 'Destroy', bindery, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bindery', new_bindery_path %>
