%p#notice= notice
%p
  %b Opdescription:
  = @bindery.opdescription
%p
  %b Unit:
  = @bindery.unit
%p
  %b Unitcost:
  = @bindery.unitcost
= link_to 'Edit', edit_bindery_path(@bindery)
%p |
= link_to 'Back', binderies_path
