%fieldset
  %legend
    = controller.action_name.capitalize
    /Dietype
  .control-group
    = f.label :dieDescription, :class => 'control-label'
    .controls
      = f.text_area :dieDescription, :class => 'text_area'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", dietypes_path, :class => 'btn'
