%h1 Dietypes
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.dietype.dieDescription", :default => t("activerecord.labels.dieDescription", :default => "Diedescription"))
      %th Created at
      %th Actions
  %tbody
    - @dietypes.each do |dietype|
      %tr
        %td= dietype.id
        %td= link_to dietype.dieDescription, dietype_path(dietype)
        %td= dietype.created_at
        %td
          = link_to "Show", dietype_path(dietype), :class => 'btn btn-mini'
          = link_to "Edit", edit_dietype_path(dietype), :class => 'btn btn-mini'
          = link_to "Destroy", dietype_path(dietype), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New DieType", new_dietype_path, :class => 'btn btn-primary'
