<h1>Listing dietypes</h1>

<table>
  <tr>
    <th>Diedescription</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dietypes.each do |dietype| %>
  <tr>
    <td><%= dietype.dieDescription %></td>
    <td><%= link_to 'Show', dietype %></td>
    <td><%= link_to 'Edit', edit_dietype_path(dietype) %></td>
    <td><%= link_to 'Destroy', dietype, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dietype', new_dietype_path %>
