%fieldset
  %legend
    = controller.action_name.capitalize
    /Box
  .control-group
    = f.label :boxtype, :class => 'control-label'
    .controls
      = f.text_field :boxtype, :class => 'text_field'
  .control-group
    = f.label :boxesperskid, :class => 'control-label'
    .controls
      = f.number_field :boxesperskid, :class => 'number_field'
  .control-group
    = f.label :caliper, :class => 'control-label'
    .controls
      = f.text_field :caliper, :class => 'text_field'
  .control-group
    = f.label :cardsperskid, :class => 'control-label'
    .controls
      = f.number_field :cardsperskid, :class => 'number_field'
  .control-group
    = f.label :concatview, :class => 'control-label'
    .controls
      = f.text_field :concatview, :class => 'text_field'
  .control-group
    = f.label :estimateboxselection, :class => 'control-label'
    .controls
      = f.number_field :estimateboxselection, :class => 'number_field'
  .control-group
    = f.label :height, :class => 'control-label'
    .controls
      = f.number_field :height, :class => 'number_field'
  .control-group
    = f.label :innercost, :class => 'control-label'
    .controls
      = f.number_field :innercost, :class => 'number_field'
  .control-group
    = f.label :innerouter, :class => 'control-label'
    .controls
      = f.text_field :innerouter, :class => 'text_field'
  .control-group
    = f.label :innerquantity, :class => 'control-label'
    .controls
      = f.number_field :innerquantity, :class => 'number_field'
  .control-group
    = f.label :internaldescription, :class => 'control-label'
    .controls
      = f.text_area :internaldescription, :class => 'text_area'
  .control-group
    = f.label :length, :class => 'control-label'
    .controls
      = f.number_field :length, :class => 'number_field'
  .control-group
    = f.label :maincustomer, :class => 'control-label'
    .controls
      = f.text_field :maincustomer, :class => 'text_field'
  .control-group
    = f.label :outercost, :class => 'control-label'
    .controls
      = f.number_field :outercost, :class => 'number_field'
  .control-group
    = f.label :outerquantity, :class => 'control-label'
    .controls
      = f.number_field :outerquantity, :class => 'number_field'
  .control-group
    = f.label :rowshigh, :class => 'control-label'
    .controls
      = f.number_field :rowshigh, :class => 'number_field'
  .control-group
    = f.label :selectskid, :class => 'control-label'
    .controls
      = f.text_field :selectskid, :class => 'text_field'
  .control-group
    = f.label :size, :class => 'control-label'
    .controls
      = f.text_field :size, :class => 'text_field'
  .control-group
    = f.label :width, :class => 'control-label'
    .controls
      = f.number_field :width, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", boxes_path, :class => 'btn'
