%h1 Boxs
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.box.boxtype", :default => t("activerecord.labels.boxtype", :default => "Boxtype"))
      %th Created at
      %th Actions
  %tbody
    - @boxes.each do |box|
      %tr
        %td= box.id
        %td= link_to box.boxtype, box_path(box)
        %td= box.created_at
        %td
          = link_to "Show", box_path(box), :class => 'btn btn-mini'
          = link_to "Edit", edit_box_path(box), :class => 'btn btn-mini'
          = link_to "Destroy", box_path(box), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New", new_box_path, :class => 'btn btn-primary'
