<h1>Listing boxes</h1>

<table>
  <tr>
    <th>Boxtype</th>
    <th>Boxesperskid</th>
    <th>Caliper</th>
    <th>Cardsperskid</th>
    <th>Concatview</th>
    <th>Estimateboxselection</th>
    <th>Height</th>
    <th>Innercost</th>
    <th>Innerouter</th>
    <th>Innerquantity</th>
    <th>Internaldescription</th>
    <th>Length</th>
    <th>Maincustomer</th>
    <th>Outercost</th>
    <th>Outerquantity</th>
    <th>Rowshigh</th>
    <th>Selectskid</th>
    <th>Size</th>
    <th>Width</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boxes.each do |box| %>
  <tr>
    <td><%= box.boxtype %></td>
    <td><%= box.boxesperskid %></td>
    <td><%= box.caliper %></td>
    <td><%= box.cardsperskid %></td>
    <td><%= box.concatview %></td>
    <td><%= box.estimateboxselection %></td>
    <td><%= box.height %></td>
    <td><%= box.innercost %></td>
    <td><%= box.innerouter %></td>
    <td><%= box.innerquantity %></td>
    <td><%= box.internaldescription %></td>
    <td><%= box.length %></td>
    <td><%= box.maincustomer %></td>
    <td><%= box.outercost %></td>
    <td><%= box.outerquantity %></td>
    <td><%= box.rowshigh %></td>
    <td><%= box.selectskid %></td>
    <td><%= box.size %></td>
    <td><%= box.width %></td>
    <td><%= link_to 'Show', box %></td>
    <td><%= link_to 'Edit', edit_box_path(box) %></td>
    <td><%= link_to 'Destroy', box, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Box', new_box_path %>
