<p id="notice"><%= notice %></p>

<p>
  <b>Boxtype:</b>
  <%= @box.boxtype %>
</p>

<p>
  <b>Boxesperskid:</b>
  <%= @box.boxesperskid %>
</p>

<p>
  <b>Caliper:</b>
  <%= @box.caliper %>
</p>

<p>
  <b>Cardsperskid:</b>
  <%= @box.cardsperskid %>
</p>

<p>
  <b>Concatview:</b>
  <%= @box.concatview %>
</p>

<p>
  <b>Estimateboxselection:</b>
  <%= @box.estimateboxselection %>
</p>

<p>
  <b>Height:</b>
  <%= @box.height %>
</p>

<p>
  <b>Innercost:</b>
  <%= @box.innercost %>
</p>

<p>
  <b>Innerouter:</b>
  <%= @box.innerouter %>
</p>

<p>
  <b>Innerquantity:</b>
  <%= @box.innerquantity %>
</p>

<p>
  <b>Internaldescription:</b>
  <%= @box.internaldescription %>
</p>

<p>
  <b>Length:</b>
  <%= @box.length %>
</p>

<p>
  <b>Maincustomer:</b>
  <%= @box.maincustomer %>
</p>

<p>
  <b>Outercost:</b>
  <%= @box.outercost %>
</p>

<p>
  <b>Outerquantity:</b>
  <%= @box.outerquantity %>
</p>

<p>
  <b>Rowshigh:</b>
  <%= @box.rowshigh %>
</p>

<p>
  <b>Selectskid:</b>
  <%= @box.selectskid %>
</p>

<p>
  <b>Size:</b>
  <%= @box.size %>
</p>

<p>
  <b>Width:</b>
  <%= @box.width %>
</p>


<%= link_to 'Edit', edit_box_path(@box) %> |
<%= link_to 'Back', boxes_path %>
