%fieldset
  %legend
    = controller.action_name.capitalize
    /Forgotten User
  .control-group
    = f.label :username, :class => 'control-label'
    .controls
      = f.text_field :username, :class => 'text_field'
  .control-group
    = f.label :hash, :class => 'control-label'
    .controls
      = f.text_field :hash, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", forgotten_users_path, :class => 'btn'
