<%= form_for(@forgotten_user) do |f| %>
  <% if @forgotten_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forgotten_user.errors.count, "error") %> prohibited this forgotten_user from being saved:</h2>

      <ul>
      <% @forgotten_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :hash %><br />
    <%= f.text_field :hash %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
