%h1 Forgotten Users
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.forgotten_user.username", :default => t("activerecord.labels.username", :default => "Username"))
      %th Created at
      %th Actions
  %tbody
    - @forgotten_users.each do |forgotten_user|
      %tr
        %td= forgotten_user.id
        %td= link_to forgotten_user.username, forgotten_user_path(forgotten_user)
        %td= forgotten_user.created_at
        %td
          = link_to "Show", forgotten_user_path(forgotten_user), :class => 'btn btn-mini'
          = link_to "Edit", edit_forgotten_user_path(forgotten_user), :class => 'btn btn-mini'
          = link_to "Destroy", forgotten_user_path(forgotten_user), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New", new_forgotten_user_path, :class => 'btn btn-primary'
