<h1>Listing forgotten_users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Hash</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @forgotten_users.each do |forgotten_user| %>
  <tr>
    <td><%= forgotten_user.username %></td>
    <td><%= forgotten_user.hash %></td>
    <td><%= link_to 'Show', forgotten_user %></td>
    <td><%= link_to 'Edit', edit_forgotten_user_path(forgotten_user) %></td>
    <td><%= link_to 'Destroy', forgotten_user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Forgotten user', new_forgotten_user_path %>
