<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @forgotten_user.username %>
</p>

<p>
  <b>Hash:</b>
  <%= @forgotten_user.hash %>
</p>


<%= link_to 'Edit', edit_forgotten_user_path(@forgotten_user) %> |
<%= link_to 'Back', forgotten_users_path %>
