= form_for(@adhesive) do |f|
  - if @adhesive.errors.any?
    #error_explanation
      %h2
        = pluralize(@adhesive.errors.count, "error")
        prohibited this adhesive from being saved:
      %ul
        - @adhesive.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :adhesivedescription, 'Adhesive Description'
    %br/
    = f.text_field :adhesivedescription
  .field
    = f.label :costperlb, 'Cost Per Pound'
    %br/
    = f.number_field :costperlb
  .field
    = f.label :msiperlb, 'MSI Per Pound'
    %br/
    = f.number_field :msiperlb
  .field
    = f.label :partnumber, 'Part Number'
    %br/
    = f.text_field :partnumber
  .field
    = f.label :primaryuse, 'Primary Use'
    %br/
    = f.text_field :primaryuse
  .actions
    = f.submit
