= form_for(@adhesive) do |f|
  - if @adhesive.errors.any?
    #error_explanation
      %h2
        = pluralize(@adhesive.errors.count, "error")
        prohibited this adhesive from being saved:
      %ul
        - @adhesive.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :adhesivedescription
    %br/
    = f.text_field :adhesivedescription
  .field
    = f.label :costperlb
    %br/
    = f.number_field :costperlb
  .field
    = f.label :msiperlb
    %br/
    = f.number_field :msiperlb
  .field
    = f.label :partnumber
    %br/
    = f.text_field :partnumber
  .field
    = f.label :primaryuse
    %br/
    = f.text_field :primaryuse
  .actions
    = f.submit
