<%= form_for(@adhesife) do |f| %>
  <% if @adhesife.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adhesife.errors.count, "error") %> prohibited this adhesife from being saved:</h2>

      <ul>
      <% @adhesife.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :adhesivedescription %><br />
    <%= f.text_field :adhesivedescription %>
  </div>
  <div class="field">
    <%= f.label :costperlb %><br />
    <%= f.number_field :costperlb %>
  </div>
  <div class="field">
    <%= f.label :msiperlb %><br />
    <%= f.number_field :msiperlb %>
  </div>
  <div class="field">
    <%= f.label :partnumber %><br />
    <%= f.text_field :partnumber %>
  </div>
  <div class="field">
    <%= f.label :primaryuse %><br />
    <%= f.text_field :primaryuse %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
