%h1 Adhesives List
%table
  %tr
    %th Adhesive Description &#124
    %th Cost Per Pound &#124
    %th MSI Per Pound &#124
    %th Part Number &#124
    %th Primary Use
    %th
    %th
    %th
  - @adhesives.each do |adhesive|
    %tr
      %td= adhesive.adhesivedescription
      %td= adhesive.costperlb
      %td= adhesive.msiperlb
      %td= adhesive.partnumber
      %td= adhesive.primaryuse
      %td= link_to 'Show', adhesive
      %td= link_to 'Edit', edit_adhesive_path(adhesive)
      %td= link_to 'Destroy', adhesive, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Adhesive', new_adhesive_path
