%h1 Adhesives List
%table
  %tr
    %th Adhesive Description &#124
    %th Cost Per Pound &#124
    %th MSI Per Pound &#124
    %th Part Number &#124
    %th Primary Use
    %th
    %th
    %th
  - @adhesives.each do |adhesife|
    %tr
      %td= adhesife.adhesivedescription
      %td= adhesife.costperlb
      %td= adhesife.msiperlb
      %td= adhesife.partnumber
      %td= adhesife.primaryuse
      %td= link_to 'Show', adhesife
      %td= link_to 'Edit', edit_adhesife_path(adhesife)
      %td= link_to 'Destroy', adhesife, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Adhesive', new_adhesife_path
