%h1 Adhesives List
%table{:class => "table table-striped table-bordered"}
  %tr
    %th Adhesive Description
    %th Cost Per Pound
    %th MSI Per Pound
    %th Part Number
    %th Primary Use
  - @adhesives.each do |adhesive|
    %tr
      %td= link_to adhesive.adhesivedescription, adhesive, :class => "btn"
      %td= adhesive.costperlb
      %td= adhesive.msiperlb
      %td= adhesive.partnumber
      %td= adhesive.primaryuse
%br/
= link_to 'New Adhesive', new_adhesive_path, :class => "btn btn-success"
