<p id="notice"><%= notice %></p>

<p>
  <b>Adhesivedescription:</b>
  <%= @adhesife.adhesivedescription %>
</p>

<p>
  <b>Costperlb:</b>
  <%= @adhesife.costperlb %>
</p>

<p>
  <b>Msiperlb:</b>
  <%= @adhesife.msiperlb %>
</p>

<p>
  <b>Partnumber:</b>
  <%= @adhesife.partnumber %>
</p>

<p>
  <b>Primaryuse:</b>
  <%= @adhesife.primaryuse %>
</p>


<%= link_to 'Edit', edit_adhesife_path(@adhesife) %> |
<%= link_to 'Back', adhesives_path %>
