%p#notice= notice
%p
  %b Adhesivedescription:
  = @adhesive.adhesivedescription
%p
  %b Costperlb:
  = @adhesive.costperlb
%p
  %b Msiperlb:
  = @adhesive.msiperlb
%p
  %b Partnumber:
  = @adhesive.partnumber
%p
  %b Primaryuse:
  = @adhesive.primaryuse
= link_to 'Edit', edit_adhesife_path(@adhesive)
%p |
= link_to 'Back', adhesives_path
