%p
  %b Adhesive Description:
  = @adhesive.adhesivedescription
%p
  %b Cost Per Pound:
  = @adhesive.costperlb
%p
  %b MSI Per Pound:
  = @adhesive.msiperlb
%p
  %b Part Number:
  = @adhesive.partnumber
%p
  %b Primary Use:
  = @adhesive.primaryuse
= link_to 'Edit', edit_adhesive_path(@adhesive), :class => "btn btn-success"
= link_to 'Back', adhesives_path, :class => "btn btn-info"
= link_to 'Destroy', @adhesive, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger"
