%p#notice= notice
%p
  %b Adhesive Description:
  = @adhesive.adhesivedescription
%p
  %b Cost Per Pound:
  = @adhesive.costperlb
%p
  %b MSI Per Pound:
  = @adhesive.msiperlb
%p
  %b Part Number:
  = @adhesive.partnumber
%p
  %b Primary Use:
  = @adhesive.primaryuse
= link_to 'Edit', edit_adhesive_path(@adhesive)
%br/
= link_to 'Back', adhesives_path
