%fieldset
  %legend
    = controller.action_name.capitalize
    /Customer
  .control-group
    = f.label :traverseAcct, :class => 'control-label'
    .controls
      = f.number_field :traverseAcct, :class => 'number_field'
  .control-group
    = f.label :addType, :class => 'control-label'
    .controls
      = f.text_field :addType, :class => 'text_field'
  .control-group
    = f.label :city1, :class => 'control-label'
    .controls
      = f.text_field :city1, :class => 'text_field'
  .control-group
    = f.label :city2, :class => 'control-label'
    .controls
      = f.text_field :city2, :class => 'text_field'
  .control-group
    = f.label :commision, :class => 'control-label'
    .controls
      = f.text_field :commision, :class => 'text_field'
  .control-group
    = f.label :company, :class => 'control-label'
    .controls
      = f.text_field :company, :class => 'text_field'
  .control-group
    = f.label :country, :class => 'control-label'
    .controls
      = f.text_field :country, :class => 'text_field'
  .control-group
    = f.label :status, :class => 'control-label'
    .controls
      = f.text_field :status, :class => 'text_field'
  .control-group
    = f.label :type, :class => 'control-label'
    .controls
      = f.text_field :type, :class => 'text_field'
  .control-group
    = f.label :po, :class => 'control-label'
    .controls
      = f.text_field :po, :class => 'text_field'
  .control-group
    = f.label :distributor, :class => 'control-label'
    .controls
      = f.text_field :distributor, :class => 'text_field'
  .control-group
    = f.label :invoiceInst, :class => 'control-label'
    .controls
      = f.text_field :invoiceInst, :class => 'text_field'
  .control-group
    = f.label :market, :class => 'control-label'
    .controls
      = f.text_field :market, :class => 'text_field'
  .control-group
    = f.label :phone1, :class => 'control-label'
    .controls
      = f.text_field :phone1, :class => 'text_field'
  .control-group
    = f.label :phone2, :class => 'control-label'
    .controls
      = f.text_field :phone2, :class => 'text_field'
  .control-group
    = f.label :postalCode, :class => 'control-label'
    .controls
      = f.text_field :postalCode, :class => 'text_field'
  .control-group
    = f.label :stateProvince, :class => 'control-label'
    .controls
      = f.text_field :stateProvince, :class => 'text_field'
  .control-group
    = f.label :street1, :class => 'control-label'
    .controls
      = f.text_field :street1, :class => 'text_field'
  .control-group
    = f.label :street1a, :class => 'control-label'
    .controls
      = f.text_field :street1a, :class => 'text_field'
  .control-group
    = f.label :street2, :class => 'control-label'
    .controls
      = f.text_field :street2, :class => 'text_field'
  .control-group
    = f.label :street2a, :class => 'control-label'
    .controls
      = f.text_field :street2a, :class => 'text_field'
  .control-group
    = f.label :website, :class => 'control-label'
    .controls
      = f.text_field :website, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", customers_path, :class => 'btn'
