%h1 Customers
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.customer.traverseAcct", :default => t("activerecord.labels.traverseAcct", :default => "Traverseacct"))
      %th Created at
      %th Actions
  %tbody
    - @customers.each do |customer|
      %tr
        %td= customer.id
        %td= link_to customer.traverseAcct, customer_path(customer)
        %td= customer.created_at
        %td
          = link_to "Show", customer_path(customer), :class => 'btn btn-mini'
          = link_to "Edit", edit_customer_path(customer), :class => 'btn btn-mini'
          = link_to "Destroy", customer_path(customer), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New", new_customer_path, :class => 'btn btn-primary'
