<p id="notice"><%= notice %></p>

<p>
  <b>Traverseacct:</b>
  <%= @customer.traverseAcct %>
</p>

<p>
  <b>Addtype:</b>
  <%= @customer.addType %>
</p>

<p>
  <b>City1:</b>
  <%= @customer.city1 %>
</p>

<p>
  <b>City2:</b>
  <%= @customer.city2 %>
</p>

<p>
  <b>Commision:</b>
  <%= @customer.commision %>
</p>

<p>
  <b>Company:</b>
  <%= @customer.company %>
</p>

<p>
  <b>Country:</b>
  <%= @customer.country %>
</p>

<p>
  <b>Status:</b>
  <%= @customer.status %>
</p>

<p>
  <b>Type:</b>
  <%= @customer.type %>
</p>

<p>
  <b>Po:</b>
  <%= @customer.po %>
</p>

<p>
  <b>Distributor:</b>
  <%= @customer.distributor %>
</p>

<p>
  <b>Invoiceinst:</b>
  <%= @customer.invoiceInst %>
</p>

<p>
  <b>Market:</b>
  <%= @customer.market %>
</p>

<p>
  <b>Phone1:</b>
  <%= @customer.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%= @customer.phone2 %>
</p>

<p>
  <b>Postalcode:</b>
  <%= @customer.postalCode %>
</p>

<p>
  <b>Stateprovince:</b>
  <%= @customer.stateProvince %>
</p>

<p>
  <b>Street1:</b>
  <%= @customer.street1 %>
</p>

<p>
  <b>Street1a:</b>
  <%= @customer.street1a %>
</p>

<p>
  <b>Street2:</b>
  <%= @customer.street2 %>
</p>

<p>
  <b>Street2a:</b>
  <%= @customer.street2a %>
</p>

<p>
  <b>Website:</b>
  <%= @customer.website %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
