<%= form_for(@machine_stripe_standard) do |f| %>
  <% if @machine_stripe_standard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@machine_stripe_standard.errors.count, "error") %> prohibited this machine_stripe_standard from being saved:</h2>

      <ul>
      <% @machine_stripe_standard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ampMaterial %><br />
    <%= f.number_field :ampMaterial %>
  </div>
  <div class="field">
    <%= f.label :ampTime %><br />
    <%= f.number_field :ampTime %>
  </div>
  <div class="field">
    <%= f.label :headMaterial %><br />
    <%= f.number_field :headMaterial %>
  </div>
  <div class="field">
    <%= f.label :headTime %><br />
    <%= f.number_field :headTime %>
  </div>
  <div class="field">
    <%= f.label :inkMat %><br />
    <%= f.number_field :inkMat %>
  </div>
  <div class="field">
    <%= f.label :inkTime %><br />
    <%= f.number_field :inkTime %>
  </div>
  <div class="field">
    <%= f.label :machineName %><br />
    <%= f.text_field :machineName %>
  </div>
  <div class="field">
    <%= f.label :machineId %><br />
    <%= f.number_field :machineId %>
  </div>
  <div class="field">
    <%= f.label :machineLabor %><br />
    <%= f.number_field :machineLabor %>
  </div>
  <div class="field">
    <%= f.label :machineOverhead %><br />
    <%= f.number_field :machineOverhead %>
  </div>
  <div class="field">
    <%= f.label :machineSpeed %><br />
    <%= f.number_field :machineSpeed %>
  </div>
  <div class="field">
    <%= f.label :machineType %><br />
    <%= f.text_field :machineType %>
  </div>
  <div class="field">
    <%= f.label :machineWidth %><br />
    <%= f.number_field :machineWidth %>
  </div>
  <div class="field">
    <%= f.label :rollChangeMat %><br />
    <%= f.number_field :rollChangeMat %>
  </div>
  <div class="field">
    <%= f.label :rollChangeTime %><br />
    <%= f.number_field :rollChangeTime %>
  </div>
  <div class="field">
    <%= f.label :slitMat %><br />
    <%= f.number_field :slitMat %>
  </div>
  <div class="field">
    <%= f.label :slitSpeed %><br />
    <%= f.number_field :slitSpeed %>
  </div>
  <div class="field">
    <%= f.label :slitTime %><br />
    <%= f.number_field :slitTime %>
  </div>
  <div class="field">
    <%= f.label :slitWaste %><br />
    <%= f.number_field :slitWaste %>
  </div>
  <div class="field">
    <%= f.label :trim %><br />
    <%= f.number_field :trim %>
  </div>
  <div class="field">
    <%= f.label :turretMat %><br />
    <%= f.number_field :turretMat %>
  </div>
  <div class="field">
    <%= f.label :turretSpeed %><br />
    <%= f.number_field :turretSpeed %>
  </div>
  <div class="field">
    <%= f.label :turretTime %><br />
    <%= f.number_field :turretTime %>
  </div>
  <div class="field">
    <%= f.label :turretWaste %><br />
    <%= f.number_field :turretWaste %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
