%fieldset
  %legend
    = controller.action_name.capitalize
    /Machine Stripe Standard
  .control-group
    = f.label :ampMaterial, :class => 'control-label'
    .controls
      = f.number_field :ampMaterial, :class => 'number_field'
  .control-group
    = f.label :ampTime, :class => 'control-label'
    .controls
      = f.number_field :ampTime, :class => 'number_field'
  .control-group
    = f.label :headMaterial, :class => 'control-label'
    .controls
      = f.number_field :headMaterial, :class => 'number_field'
  .control-group
    = f.label :headTime, :class => 'control-label'
    .controls
      = f.number_field :headTime, :class => 'number_field'
  .control-group
    = f.label :inkMat, :class => 'control-label'
    .controls
      = f.number_field :inkMat, :class => 'number_field'
  .control-group
    = f.label :inkTime, :class => 'control-label'
    .controls
      = f.number_field :inkTime, :class => 'number_field'
  .control-group
    = f.label :machineName, :class => 'control-label'
    .controls
      = f.text_field :machineName, :class => 'text_field'
  .control-group
    = f.label :machineId, :class => 'control-label'
    .controls
      = f.number_field :machineId, :class => 'number_field'
  .control-group
    = f.label :machineLabor, :class => 'control-label'
    .controls
      = f.number_field :machineLabor, :class => 'number_field'
  .control-group
    = f.label :machineOverhead, :class => 'control-label'
    .controls
      = f.number_field :machineOverhead, :class => 'number_field'
  .control-group
    = f.label :machineSpeed, :class => 'control-label'
    .controls
      = f.number_field :machineSpeed, :class => 'number_field'
  .control-group
    = f.label :machineType, :class => 'control-label'
    .controls
      = f.text_field :machineType, :class => 'text_field'
  .control-group
    = f.label :machineWidth, :class => 'control-label'
    .controls
      = f.number_field :machineWidth, :class => 'number_field'
  .control-group
    = f.label :rollChangeMat, :class => 'control-label'
    .controls
      = f.number_field :rollChangeMat, :class => 'number_field'
  .control-group
    = f.label :rollChangeTime, :class => 'control-label'
    .controls
      = f.number_field :rollChangeTime, :class => 'number_field'
  .control-group
    = f.label :slitMat, :class => 'control-label'
    .controls
      = f.number_field :slitMat, :class => 'number_field'
  .control-group
    = f.label :slitSpeed, :class => 'control-label'
    .controls
      = f.number_field :slitSpeed, :class => 'number_field'
  .control-group
    = f.label :slitTime, :class => 'control-label'
    .controls
      = f.number_field :slitTime, :class => 'number_field'
  .control-group
    = f.label :slitWaste, :class => 'control-label'
    .controls
      = f.number_field :slitWaste, :class => 'number_field'
  .control-group
    = f.label :trim, :class => 'control-label'
    .controls
      = f.number_field :trim, :class => 'number_field'
  .control-group
    = f.label :turretMat, :class => 'control-label'
    .controls
      = f.number_field :turretMat, :class => 'number_field'
  .control-group
    = f.label :turretSpeed, :class => 'control-label'
    .controls
      = f.number_field :turretSpeed, :class => 'number_field'
  .control-group
    = f.label :turretTime, :class => 'control-label'
    .controls
      = f.number_field :turretTime, :class => 'number_field'
  .control-group
    = f.label :turretWaste, :class => 'control-label'
    .controls
      = f.number_field :turretWaste, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", machine_stripe_standards_path, :class => 'btn'
