%h1 Machine Stripe Standards
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.machine_stripe_standard.ampMaterial", :default => t("activerecord.labels.ampMaterial", :default => "Ampmaterial"))
      %th Created at
      %th Actions
  %tbody
    - @machine_stripe_standards.each do |machine_stripe_standard|
      %tr
        %td= machine_stripe_standard.id
        %td= link_to machine_stripe_standard.ampMaterial, machine_stripe_standard_path(machine_stripe_standard)
        %td= machine_stripe_standard.created_at
        %td
          = link_to "Show", machine_stripe_standard_path(machine_stripe_standard), :class => 'btn btn-mini'
          = link_to "Edit", edit_machine_stripe_standard_path(machine_stripe_standard), :class => 'btn btn-mini'
          = link_to "Destroy", machine_stripe_standard_path(machine_stripe_standard), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New Machine Stripe Standard", new_machine_stripe_standard_path, :class => 'btn btn-primary'
