<p id="notice"><%= notice %></p>

<p>
  <b>Ampmaterial:</b>
  <%= @machine_stripe_standard.ampMaterial %>
</p>

<p>
  <b>Amptime:</b>
  <%= @machine_stripe_standard.ampTime %>
</p>

<p>
  <b>Headmaterial:</b>
  <%= @machine_stripe_standard.headMaterial %>
</p>

<p>
  <b>Headtime:</b>
  <%= @machine_stripe_standard.headTime %>
</p>

<p>
  <b>Inkmat:</b>
  <%= @machine_stripe_standard.inkMat %>
</p>

<p>
  <b>Inktime:</b>
  <%= @machine_stripe_standard.inkTime %>
</p>

<p>
  <b>Machinename:</b>
  <%= @machine_stripe_standard.machineName %>
</p>

<p>
  <b>Machineid:</b>
  <%= @machine_stripe_standard.machineId %>
</p>

<p>
  <b>Machinelabor:</b>
  <%= @machine_stripe_standard.machineLabor %>
</p>

<p>
  <b>Machineoverhead:</b>
  <%= @machine_stripe_standard.machineOverhead %>
</p>

<p>
  <b>Machinespeed:</b>
  <%= @machine_stripe_standard.machineSpeed %>
</p>

<p>
  <b>Machinetype:</b>
  <%= @machine_stripe_standard.machineType %>
</p>

<p>
  <b>Machinewidth:</b>
  <%= @machine_stripe_standard.machineWidth %>
</p>

<p>
  <b>Rollchangemat:</b>
  <%= @machine_stripe_standard.rollChangeMat %>
</p>

<p>
  <b>Rollchangetime:</b>
  <%= @machine_stripe_standard.rollChangeTime %>
</p>

<p>
  <b>Slitmat:</b>
  <%= @machine_stripe_standard.slitMat %>
</p>

<p>
  <b>Slitspeed:</b>
  <%= @machine_stripe_standard.slitSpeed %>
</p>

<p>
  <b>Slittime:</b>
  <%= @machine_stripe_standard.slitTime %>
</p>

<p>
  <b>Slitwaste:</b>
  <%= @machine_stripe_standard.slitWaste %>
</p>

<p>
  <b>Trim:</b>
  <%= @machine_stripe_standard.trim %>
</p>

<p>
  <b>Turretmat:</b>
  <%= @machine_stripe_standard.turretMat %>
</p>

<p>
  <b>Turretspeed:</b>
  <%= @machine_stripe_standard.turretSpeed %>
</p>

<p>
  <b>Turrettime:</b>
  <%= @machine_stripe_standard.turretTime %>
</p>

<p>
  <b>Turretwaste:</b>
  <%= @machine_stripe_standard.turretWaste %>
</p>


<%= link_to 'Edit', edit_machine_stripe_standard_path(@machine_stripe_standard) %> |
<%= link_to 'Back', machine_stripe_standards_path %>
