%fieldset
  %legend
    = controller.action_name.capitalize
    /Contact
  .control-group
    = f.label :address1, :class => 'control-label'
    .controls
      = f.text_field :address1, :class => 'text_field'
  .control-group
    = f.label :address2, :class => 'control-label'
    .controls
      = f.text_field :address2, :class => 'text_field'
  .control-group
    = f.label :city, :class => 'control-label'
    .controls
      = f.text_field :city, :class => 'text_field'
  .control-group
    = f.label :company, :class => 'control-label'
    .controls
      = f.text_field :company, :class => 'text_field'
  .control-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email, :class => 'text_field'
  .control-group
    = f.label :fax, :class => 'control-label'
    .controls
      = f.text_field :fax, :class => 'text_field'
  .control-group
    = f.label :firstName, :class => 'control-label'
    .controls
      = f.text_field :firstName, :class => 'text_field'
  .control-group
    = f.label :lastName, :class => 'control-label'
    .controls
      = f.text_field :lastName, :class => 'text_field'
  .control-group
    = f.label :cell, :class => 'control-label'
    .controls
      = f.text_field :cell, :class => 'text_field'
  .control-group
    = f.label :mainPhone, :class => 'control-label'
    .controls
      = f.text_field :mainPhone, :class => 'text_field'
  .control-group
    = f.label :state, :class => 'control-label'
    .controls
      = f.text_field :state, :class => 'text_field'
  .control-group
    = f.label :url, :class => 'control-label'
    .controls
      = f.text_field :url, :class => 'text_field'
  .control-group
    = f.label :zip, :class => 'control-label'
    .controls
      = f.text_field :zip, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", contacts_path, :class => 'btn'
