%h1 Contacts
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.contact.address1", :default => t("activerecord.labels.address1", :default => "Address1"))
      %th Created at
      %th Actions
  %tbody
    - @contacts.each do |contact|
      %tr
        %td= contact.id
        %td= link_to contact.address1, contact_path(contact)
        %td= contact.created_at
        %td
          = link_to "Show", contact_path(contact), :class => 'btn btn-mini'
          = link_to "Edit", edit_contact_path(contact), :class => 'btn btn-mini'
          = link_to "Destroy", contact_path(contact), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New", new_contact_path, :class => 'btn btn-primary'
