<p id="notice"><%= notice %></p>

<p>
  <b>Address1:</b>
  <%= @contact.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @contact.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @contact.city %>
</p>

<p>
  <b>Company:</b>
  <%= @contact.company %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Fax:</b>
  <%= @contact.fax %>
</p>

<p>
  <b>Firstname:</b>
  <%= @contact.firstName %>
</p>

<p>
  <b>Lastname:</b>
  <%= @contact.lastName %>
</p>

<p>
  <b>Cell:</b>
  <%= @contact.cell %>
</p>

<p>
  <b>Mainphone:</b>
  <%= @contact.mainPhone %>
</p>

<p>
  <b>State:</b>
  <%= @contact.state %>
</p>

<p>
  <b>Url:</b>
  <%= @contact.url %>
</p>

<p>
  <b>Zip:</b>
  <%= @contact.zip %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
