%fieldset
  %legend
    = controller.action_name.capitalize
    /Mag Tape
  .control-group
    = f.label :costPerMsi, :class => 'control-label'
    .controls
      = f.number_field :costPerMsi, :class => 'number_field'
  .control-group
    = f.label :costPerRoll, :class => 'control-label'
    .controls
      = f.number_field :costPerRoll, :class => 'number_field'
  .control-group
    = f.label :typeCate, :class => 'control-label'
    .controls
      = f.number_field :typeCate, :class => 'number_field'
  .control-group
    = f.label :tapeDescription, :class => 'control-label'
    .controls
      = f.text_field :tapeDescription, :class => 'text_field'
  .control-group
    = f.label :tapeId, :class => 'control-label'
    .controls
      = f.number_field :tapeId, :class => 'number_field'
  .control-group
    = f.label :tapeLength, :class => 'control-label'
    .controls
      = f.number_field :tapeLength, :class => 'number_field'
  .control-group
    = f.label :tapeType, :class => 'control-label'
    .controls
      = f.text_field :tapeType, :class => 'text_field'
  .control-group
    = f.label :tapeWidth, :class => 'control-label'
    .controls
      = f.number_field :tapeWidth, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", mag_tapes_path, :class => 'btn'
