<h1>Listing mag_tapes</h1>

<table>
  <tr>
    <th>Costpermsi</th>
    <th>Costperroll</th>
    <th>Typecate</th>
    <th>Tapedescription</th>
    <th>Tapeid</th>
    <th>Tapelength</th>
    <th>Tapetype</th>
    <th>Tapewidth</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mag_tapes.each do |mag_tape| %>
  <tr>
    <td><%= mag_tape.costPerMsi %></td>
    <td><%= mag_tape.costPerRoll %></td>
    <td><%= mag_tape.typeCate %></td>
    <td><%= mag_tape.tapeDescription %></td>
    <td><%= mag_tape.tapeId %></td>
    <td><%= mag_tape.tapeLength %></td>
    <td><%= mag_tape.tapeType %></td>
    <td><%= mag_tape.tapeWidth %></td>
    <td><%= link_to 'Show', mag_tape %></td>
    <td><%= link_to 'Edit', edit_mag_tape_path(mag_tape) %></td>
    <td><%= link_to 'Destroy', mag_tape, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mag tape', new_mag_tape_path %>
