%h1 Mag Tapes
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.mag_tape.costPerMsi", :default => t("activerecord.labels.costPerMsi", :default => "Costpermsi"))
      %th Created at
      %th Actions
  %tbody
    - @mag_tapes.each do |mag_tape|
      %tr
        %td= mag_tape.id
        %td= link_to mag_tape.costPerMsi, mag_tape_path(mag_tape)
        %td= mag_tape.created_at
        %td
          = link_to "Show", mag_tape_path(mag_tape), :class => 'btn btn-mini'
          = link_to "Edit", edit_mag_tape_path(mag_tape), :class => 'btn btn-mini'
          = link_to "Destroy", mag_tape_path(mag_tape), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New Mag Tape", new_mag_tape_path, :class => 'btn btn-primary'
