<p id="notice"><%= notice %></p>

<p>
  <b>Costpermsi:</b>
  <%= @mag_tape.costPerMsi %>
</p>

<p>
  <b>Costperroll:</b>
  <%= @mag_tape.costPerRoll %>
</p>

<p>
  <b>Typecate:</b>
  <%= @mag_tape.typeCate %>
</p>

<p>
  <b>Tapedescription:</b>
  <%= @mag_tape.tapeDescription %>
</p>

<p>
  <b>Tapeid:</b>
  <%= @mag_tape.tapeId %>
</p>

<p>
  <b>Tapelength:</b>
  <%= @mag_tape.tapeLength %>
</p>

<p>
  <b>Tapetype:</b>
  <%= @mag_tape.tapeType %>
</p>

<p>
  <b>Tapewidth:</b>
  <%= @mag_tape.tapeWidth %>
</p>


<%= link_to 'Edit', edit_mag_tape_path(@mag_tape) %> |
<%= link_to 'Back', mag_tapes_path %>
