%fieldset
  %legend
    = controller.action_name.capitalize
    /Laminate
  .control-group
    = f.label :lamAdhesive, :class => 'control-label'
    .controls
      = f.text_field :lamAdhesive, :class => 'text_field'
  .control-group
    = f.label :lamDescription, :class => 'control-label'
    .controls
      = f.text_area :lamDescription, :class => 'text_area'
  .control-group
    = f.label :lamLength, :class => 'control-label'
    .controls
      = f.number_field :lamLength, :class => 'number_field'
  .control-group
    = f.label :lamMsi, :class => 'control-label'
    .controls
      = f.number_field :lamMsi, :class => 'number_field'
  .control-group
    = f.label :lamType, :class => 'control-label'
    .controls
      = f.text_field :lamType, :class => 'text_field'
  .control-group
    = f.label :lamWidth, :class => 'control-label'
    .controls
      = f.number_field :lamWidth, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", laminates_path, :class => 'btn'
