<%= form_for(@laminate) do |f| %>
  <% if @laminate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@laminate.errors.count, "error") %> prohibited this laminate from being saved:</h2>

      <ul>
      <% @laminate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lamAdhesive %><br />
    <%= f.text_field :lamAdhesive %>
  </div>
  <div class="field">
    <%= f.label :lamDescription %><br />
    <%= f.text_area :lamDescription %>
  </div>
  <div class="field">
    <%= f.label :lamLength %><br />
    <%= f.number_field :lamLength %>
  </div>
  <div class="field">
    <%= f.label :lamMsi %><br />
    <%= f.number_field :lamMsi %>
  </div>
  <div class="field">
    <%= f.label :lamType %><br />
    <%= f.text_field :lamType %>
  </div>
  <div class="field">
    <%= f.label :lamWidth %><br />
    <%= f.number_field :lamWidth %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
