<h1>Listing laminates</h1>

<table>
  <tr>
    <th>Lamadhesive</th>
    <th>Lamdescription</th>
    <th>Lamlength</th>
    <th>Lammsi</th>
    <th>Lamtype</th>
    <th>Lamwidth</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @laminates.each do |laminate| %>
  <tr>
    <td><%= laminate.lamAdhesive %></td>
    <td><%= laminate.lamDescription %></td>
    <td><%= laminate.lamLength %></td>
    <td><%= laminate.lamMsi %></td>
    <td><%= laminate.lamType %></td>
    <td><%= laminate.lamWidth %></td>
    <td><%= link_to 'Show', laminate %></td>
    <td><%= link_to 'Edit', edit_laminate_path(laminate) %></td>
    <td><%= link_to 'Destroy', laminate, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Laminate', new_laminate_path %>
