%h1 Listing laminates
%table
  %tr
    %th Lamadhesive
    %th Lamdescription
    %th Lamlength
    %th Lammsi
    %th Lamtype
    %th Lamwidth
    %th
    %th
    %th
  - @laminates.each do |laminate|
    %tr
      %td= laminate.lamAdhesive
      %td= laminate.lamDescription
      %td= laminate.lamLength
      %td= laminate.lamMsi
      %td= laminate.lamType
      %td= laminate.lamWidth
      %td= link_to 'Show', laminate
      %td= link_to 'Edit', edit_laminate_path(laminate)
      %td= link_to 'Destroy', laminate, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Laminate', new_laminate_path
