<p id="notice"><%= notice %></p>

<p>
  <b>Lamadhesive:</b>
  <%= @laminate.lamAdhesive %>
</p>

<p>
  <b>Lamdescription:</b>
  <%= @laminate.lamDescription %>
</p>

<p>
  <b>Lamlength:</b>
  <%= @laminate.lamLength %>
</p>

<p>
  <b>Lammsi:</b>
  <%= @laminate.lamMsi %>
</p>

<p>
  <b>Lamtype:</b>
  <%= @laminate.lamType %>
</p>

<p>
  <b>Lamwidth:</b>
  <%= @laminate.lamWidth %>
</p>


<%= link_to 'Edit', edit_laminate_path(@laminate) %> |
<%= link_to 'Back', laminates_path %>
