%fieldset
  %legend
    = controller.action_name.capitalize
    /Company
  .control-group
    = f.label :address1, :class => 'control-label'
    .controls
      = f.text_field :address1, :class => 'text_field'
  .control-group
    = f.label :address2, :class => 'control-label'
    .controls
      = f.text_field :address2, :class => 'text_field'
  .control-group
    = f.label :city, :class => 'control-label'
    .controls
      = f.text_field :city, :class => 'text_field'
  .control-group
    = f.label :commissioned, :class => 'control-label'
    .controls
      = f.text_field :commissioned, :class => 'text_field'
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :country, :class => 'control-label'
    .controls
      = f.text_field :country, :class => 'text_field'
  .control-group
    = f.label :market, :class => 'control-label'
    .controls
      = f.text_field :market, :class => 'text_field'
  .control-group
    = f.label :phone, :class => 'control-label'
    .controls
      = f.text_field :phone, :class => 'text_field'
  .control-group
    = f.label :salesrep, :class => 'control-label'
    .controls
      = f.text_field :salesrep, :class => 'text_field'
  .control-group
    = f.label :state, :class => 'control-label'
    .controls
      = f.text_field :state, :class => 'text_field'
  .control-group
    = f.label :url, :class => 'control-label'
    .controls
      = f.text_field :url, :class => 'text_field'
  .control-group
    = f.label :zip, :class => 'control-label'
    .controls
      = f.text_field :zip, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", companies_path, :class => 'btn'
