<p id="notice"><%= notice %></p>

<p>
  <b>Address1:</b>
  <%= @company.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @company.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @company.city %>
</p>

<p>
  <b>Commissioned:</b>
  <%= @company.commissioned %>
</p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Country:</b>
  <%= @company.country %>
</p>

<p>
  <b>Market:</b>
  <%= @company.market %>
</p>

<p>
  <b>Phone:</b>
  <%= @company.phone %>
</p>

<p>
  <b>Salesrep:</b>
  <%= @company.salesrep %>
</p>

<p>
  <b>State:</b>
  <%= @company.state %>
</p>

<p>
  <b>Url:</b>
  <%= @company.url %>
</p>

<p>
  <b>Zip:</b>
  <%= @company.zip %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
