= form_for(@proof_cost) do |f|
  - if @proof_cost.errors.any?
    #error_explanation
      %h2
        = pluralize(@proof_cost.errors.count, "error")
        prohibited this proof_cost from being saved:
      %ul
        - @proof_cost.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :proofCastId
    %br/
    = f.number_field :proofCastId
  .field
    = f.label :proofCost
    %br/
    = f.number_field :proofCost
  .field
    = f.label :proofDescription
    %br/
    = f.text_field :proofDescription
  .actions
    = f.submit
