%fieldset
  %legend
    = controller.action_name.capitalize
    /Proof Cost
  .control-group
    = f.label :proofCastId, :class => 'control-label'
    .controls
      = f.number_field :proofCastId, :class => 'number_field'
  .control-group
    = f.label :proofCost, :class => 'control-label'
    .controls
      = f.number_field :proofCost, :class => 'number_field'
  .control-group
    = f.label :proofDescription, :class => 'control-label'
    .controls
      = f.text_field :proofDescription, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", proof_costs_path, :class => 'btn'
