<%= form_for(@proof_cost) do |f| %>
  <% if @proof_cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proof_cost.errors.count, "error") %> prohibited this proof_cost from being saved:</h2>

      <ul>
      <% @proof_cost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :proofCastId %><br />
    <%= f.number_field :proofCastId %>
  </div>
  <div class="field">
    <%= f.label :proofCost %><br />
    <%= f.number_field :proofCost %>
  </div>
  <div class="field">
    <%= f.label :proofDescription %><br />
    <%= f.text_field :proofDescription %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
