<h1>Listing proof_costs</h1>

<table>
  <tr>
    <th>Proofcastid</th>
    <th>Proofcost</th>
    <th>Proofdescription</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @proof_costs.each do |proof_cost| %>
  <tr>
    <td><%= proof_cost.proofCastId %></td>
    <td><%= proof_cost.proofCost %></td>
    <td><%= proof_cost.proofDescription %></td>
    <td><%= link_to 'Show', proof_cost %></td>
    <td><%= link_to 'Edit', edit_proof_cost_path(proof_cost) %></td>
    <td><%= link_to 'Destroy', proof_cost, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Proof cost', new_proof_cost_path %>
