<p id="notice"><%= notice %></p>

<p>
  <b>Proofcastid:</b>
  <%= @proof_cost.proofCastId %>
</p>

<p>
  <b>Proofcost:</b>
  <%= @proof_cost.proofCost %>
</p>

<p>
  <b>Proofdescription:</b>
  <%= @proof_cost.proofDescription %>
</p>


<%= link_to 'Edit', edit_proof_cost_path(@proof_cost) %> |
<%= link_to 'Back', proof_costs_path %>
