%fieldset
  %legend
    = controller.action_name.capitalize
    /Press Standard
  .control-group
    = f.label :ampMaterial, :class => 'control-label'
    .controls
      = f.number_field :ampMaterial, :class => 'number_field'
  .control-group
    = f.label :ampTime, :class => 'control-label'
    .controls
      = f.number_field :ampTime, :class => 'number_field'
  .control-group
    = f.label :colorMaterial, :class => 'control-label'
    .controls
      = f.number_field :colorMaterial, :class => 'number_field'
  .control-group
    = f.label :colorTime, :class => 'control-label'
    .controls
      = f.number_field :colorTime, :class => 'number_field'
  .control-group
    = f.label :colorWaste, :class => 'control-label'
    .controls
      = f.number_field :colorWaste, :class => 'number_field'
  .control-group
    = f.label :dieMaterial, :class => 'control-label'
    .controls
      = f.number_field :dieMaterial, :class => 'number_field'
  .control-group
    = f.label :dieSpeed, :class => 'control-label'
    .controls
      = f.number_field :dieSpeed, :class => 'number_field'
  .control-group
    = f.label :dieTime, :class => 'control-label'
    .controls
      = f.number_field :dieTime, :class => 'number_field'
  .control-group
    = f.label :dieWaste, :class => 'control-label'
    .controls
      = f.number_field :dieWaste, :class => 'number_field'
  .control-group
    = f.label :folderMaterial, :class => 'control-label'
    .controls
      = f.number_field :folderMaterial, :class => 'number_field'
  .control-group
    = f.label :folderSpeed, :class => 'control-label'
    .controls
      = f.number_field :folderSpeed, :class => 'number_field'
  .control-group
    = f.label :folderTime, :class => 'control-label'
    .controls
      = f.number_field :folderTime, :class => 'number_field'
  .control-group
    = f.label :folderWaste, :class => 'control-label'
    .controls
      = f.number_field :folderWaste, :class => 'number_field'
  .control-group
    = f.label :headMaterial, :class => 'control-label'
    .controls
      = f.number_field :headMaterial, :class => 'number_field'
  .control-group
    = f.label :headTime, :class => 'control-label'
    .controls
      = f.number_field :headTime, :class => 'number_field'
  .control-group
    = f.label :hotStampMaterial, :class => 'control-label'
    .controls
      = f.number_field :hotStampMaterial, :class => 'number_field'
  .control-group
    = f.label :hotStampSpeed, :class => 'control-label'
    .controls
      = f.number_field :hotStampSpeed, :class => 'number_field'
  .control-group
    = f.label :hotStampTime, :class => 'control-label'
    .controls
      = f.number_field :hotStampTime, :class => 'number_field'
  .control-group
    = f.label :hotStampWaste, :class => 'control-label'
    .controls
      = f.number_field :hotStampWaste, :class => 'number_field'
  .control-group
    = f.label :inkType, :class => 'control-label'
    .controls
      = f.text_field :inkType, :class => 'text_field'
  .control-group
    = f.label :inkTypeSig, :class => 'control-label'
    .controls
      = f.text_field :inkTypeSig, :class => 'text_field'
  .control-group
    = f.label :inkTypeVarnish, :class => 'control-label'
    .controls
      = f.text_field :inkTypeVarnish, :class => 'text_field'
  .control-group
    = f.label :inkMaterial, :class => 'control-label'
    .controls
      = f.number_field :inkMaterial, :class => 'number_field'
  .control-group
    = f.label :inkTime, :class => 'control-label'
    .controls
      = f.number_field :inkTime, :class => 'number_field'
  .control-group
    = f.label :inlineMaterial, :class => 'control-label'
    .controls
      = f.number_field :inlineMaterial, :class => 'number_field'
  .control-group
    = f.label :inlineSpeed, :class => 'control-label'
    .controls
      = f.number_field :inlineSpeed, :class => 'number_field'
  .control-group
    = f.label :inlineTime, :class => 'control-label'
    .controls
      = f.number_field :inlineTime, :class => 'number_field'
  .control-group
    = f.label :inlineWaste, :class => 'control-label'
    .controls
      = f.number_field :inlineWaste, :class => 'number_field'
  .control-group
    = f.label :insertionMaterial, :class => 'control-label'
    .controls
      = f.number_field :insertionMaterial, :class => 'number_field'
  .control-group
    = f.label :insertionSpeed, :class => 'control-label'
    .controls
      = f.number_field :insertionSpeed, :class => 'number_field'
  .control-group
    = f.label :insertionTime, :class => 'control-label'
    .controls
      = f.number_field :insertionTime, :class => 'number_field'
  .control-group
    = f.label :laminationMaterial, :class => 'control-label'
    .controls
      = f.number_field :laminationMaterial, :class => 'number_field'
  .control-group
    = f.label :laminationSpeed, :class => 'control-label'
    .controls
      = f.number_field :laminationSpeed, :class => 'number_field'
  .control-group
    = f.label :laminationTime, :class => 'control-label'
    .controls
      = f.number_field :laminationTime, :class => 'number_field'
  .control-group
    = f.label :laminationWaste, :class => 'control-label'
    .controls
      = f.number_field :laminationWaste, :class => 'number_field'
  .control-group
    = f.label :machineName, :class => 'control-label'
    .controls
      = f.text_field :machineName, :class => 'text_field'
  .control-group
    = f.label :machineID, :class => 'control-label'
    .controls
      = f.number_field :machineID, :class => 'number_field'
  .control-group
    = f.label :machineLabor, :class => 'control-label'
    .controls
      = f.number_field :machineLabor, :class => 'number_field'
  .control-group
    = f.label :machineOverhead, :class => 'control-label'
    .controls
      = f.number_field :machineOverhead, :class => 'number_field'
  .control-group
    = f.label :machinePitch, :class => 'control-label'
    .controls
      = f.number_field :machinePitch, :class => 'number_field'
  .control-group
    = f.label :machineSpeed, :class => 'control-label'
    .controls
      = f.number_field :machineSpeed, :class => 'number_field'
  .control-group
    = f.label :machineType, :class => 'control-label'
    .controls
      = f.text_field :machineType, :class => 'text_field'
  .control-group
    = f.label :machineWidth, :class => 'control-label'
    .controls
      = f.number_field :machineWidth, :class => 'number_field'
  .control-group
    = f.label :numberMaterial, :class => 'control-label'
    .controls
      = f.number_field :numberMaterial, :class => 'number_field'
  .control-group
    = f.label :numberSpeed, :class => 'control-label'
    .controls
      = f.number_field :numberSpeed, :class => 'number_field'
  .control-group
    = f.label :numberTime, :class => 'control-label'
    .controls
      = f.number_field :numberTime, :class => 'number_field'
  .control-group
    = f.label :numberWaste, :class => 'control-label'
    .controls
      = f.number_field :numberWaste, :class => 'number_field'
  .control-group
    = f.label :plateChangeWaste, :class => 'control-label'
    .controls
      = f.number_field :plateChangeWaste, :class => 'number_field'
  .control-group
    = f.label :plateChangeMaterial, :class => 'control-label'
    .controls
      = f.number_field :plateChangeMaterial, :class => 'number_field'
  .control-group
    = f.label :plateChangeTime, :class => 'control-label'
    .controls
      = f.number_field :plateChangeTime, :class => 'number_field'
  .control-group
    = f.label :pressSetupMaterial, :class => 'control-label'
    .controls
      = f.number_field :pressSetupMaterial, :class => 'number_field'
  .control-group
    = f.label :pressSetupTime, :class => 'control-label'
    .controls
      = f.number_field :pressSetupTime, :class => 'number_field'
  .control-group
    = f.label :printStations, :class => 'control-label'
    .controls
      = f.number_field :printStations, :class => 'number_field'
  .control-group
    = f.label :rollChangeMaterial, :class => 'control-label'
    .controls
      = f.number_field :rollChangeMaterial, :class => 'number_field'
  .control-group
    = f.label :rollChangeTime, :class => 'control-label'
    .controls
      = f.number_field :rollChangeTime, :class => 'number_field'
  .control-group
    = f.label :rollChangeWaste, :class => 'control-label'
    .controls
      = f.number_field :rollChangeWaste, :class => 'number_field'
  .control-group
    = f.label :slitMaterial, :class => 'control-label'
    .controls
      = f.number_field :slitMaterial, :class => 'number_field'
  .control-group
    = f.label :slitSpeed, :class => 'control-label'
    .controls
      = f.number_field :slitSpeed, :class => 'number_field'
  .control-group
    = f.label :slitTime, :class => 'control-label'
    .controls
      = f.number_field :slitTime, :class => 'number_field'
  .control-group
    = f.label :slitWaste, :class => 'control-label'
    .controls
      = f.number_field :slitWaste, :class => 'number_field'
  .control-group
    = f.label :trim, :class => 'control-label'
    .controls
      = f.number_field :trim, :class => 'number_field'
  .control-group
    = f.label :turretMaterial, :class => 'control-label'
    .controls
      = f.number_field :turretMaterial, :class => 'number_field'
  .control-group
    = f.label :turretSpeed, :class => 'control-label'
    .controls
      = f.number_field :turretSpeed, :class => 'number_field'
  .control-group
    = f.label :turretTime, :class => 'control-label'
    .controls
      = f.number_field :turretTime, :class => 'number_field'
  .control-group
    = f.label :turretWaste, :class => 'control-label'
    .controls
      = f.number_field :turretWaste, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", press_standards_path, :class => 'btn'
