%fieldset
  %legend
    = controller.action_name.capitalize
    Press Standard
  .control-group
    = f.label :ampMaterial, 'Amp Material', :class => 'control-label'
    .controls
      = f.number_field :ampMaterial, :class => 'number_field'
  .control-group
    = f.label :ampTime, 'Amp Time', :class => 'control-label'
    .controls
      = f.number_field :ampTime, :class => 'number_field'
  .control-group
    = f.label :colorMaterial, 'Color Material', :class => 'control-label'
    .controls
      = f.number_field :colorMaterial, :class => 'number_field'
  .control-group
    = f.label :colorTime, 'Color Time', :class => 'control-label'
    .controls
      = f.number_field :colorTime, :class => 'number_field'
  .control-group
    = f.label :colorWaste, 'Color Waste', :class => 'control-label'
    .controls
      = f.number_field :colorWaste, :class => 'number_field'
  .control-group
    = f.label :dieMaterial, 'Die Material', :class => 'control-label'
    .controls
      = f.number_field :dieMaterial, :class => 'number_field'
  .control-group
    = f.label :dieSpeed, 'Die Speed', :class => 'control-label'
    .controls
      = f.number_field :dieSpeed, :class => 'number_field'
  .control-group
    = f.label :dieTime, 'Die Time', :class => 'control-label'
    .controls
      = f.number_field :dieTime, :class => 'number_field'
  .control-group
    = f.label :dieWaste, 'Die Waste', :class => 'control-label'
    .controls
      = f.number_field :dieWaste, :class => 'number_field'
  .control-group
    = f.label :folderMaterial, 'Folder Material', :class => 'control-label'
    .controls
      = f.number_field :folderMaterial, :class => 'number_field'
  .control-group
    = f.label :folderSpeed, 'Folder Speed', :class => 'control-label'
    .controls
      = f.number_field :folderSpeed, :class => 'number_field'
  .control-group
    = f.label :folderTime, 'Folder Time', :class => 'control-label'
    .controls
      = f.number_field :folderTime, :class => 'number_field'
  .control-group
    = f.label :folderWaste, 'Folder Waste', :class => 'control-label'
    .controls
      = f.number_field :folderWaste, :class => 'number_field'
  .control-group
    = f.label :headMaterial, 'Head Material', :class => 'control-label'
    .controls
      = f.number_field :headMaterial, :class => 'number_field'
  .control-group
    = f.label :headTime, 'Head Time', :class => 'control-label'
    .controls
      = f.number_field :headTime, :class => 'number_field'
  .control-group
    = f.label :hotStampMaterial, 'Hot Stamp Material', :class => 'control-label'
    .controls
      = f.number_field :hotStampMaterial, :class => 'number_field'
  .control-group
    = f.label :hotStampSpeed, 'Hot Stamp Speed', :class => 'control-label'
    .controls
      = f.number_field :hotStampSpeed, :class => 'number_field'
  .control-group
    = f.label :hotStampTime, 'Hot Stamp Time', :class => 'control-label'
    .controls
      = f.number_field :hotStampTime, :class => 'number_field'
  .control-group
    = f.label :hotStampWaste, 'Hot Stamp Waste', :class => 'control-label'
    .controls
      = f.number_field :hotStampWaste, :class => 'number_field'
  .control-group
    = f.label :inkType, 'Ink Type', :class => 'control-label'
    .controls
      = f.text_field :inkType, :class => 'text_field'
  .control-group
    = f.label :inkTypeSig, 'Ink Type Sig', :class => 'control-label'
    .controls
      = f.text_field :inkTypeSig, :class => 'text_field'
  .control-group
    = f.label :inkTypeVarnish, 'Ink Type Varnish', :class => 'control-label'
    .controls
      = f.text_field :inkTypeVarnish, :class => 'text_field'
  .control-group
    = f.label :inkMaterial, 'Ink Material', :class => 'control-label'
    .controls
      = f.number_field :inkMaterial, :class => 'number_field'
  .control-group
    = f.label :inkTime, 'Ink Time', :class => 'control-label'
    .controls
      = f.number_field :inkTime, :class => 'number_field'
  .control-group
    = f.label :inlineMaterial, 'Inline Material', :class => 'control-label'
    .controls
      = f.number_field :inlineMaterial, :class => 'number_field'
  .control-group
    = f.label :inlineSpeed, 'Inline Speed', :class => 'control-label'
    .controls
      = f.number_field :inlineSpeed, :class => 'number_field'
  .control-group
    = f.label :inlineTime, 'Inline Time', :class => 'control-label'
    .controls
      = f.number_field :inlineTime, :class => 'number_field'
  .control-group
    = f.label :inlineWaste, 'Inline Waste', :class => 'control-label'
    .controls
      = f.number_field :inlineWaste, :class => 'number_field'
  .control-group
    = f.label :insertionMaterial, 'Insertion Material', :class => 'control-label'
    .controls
      = f.number_field :insertionMaterial, :class => 'number_field'
  .control-group
    = f.label :insertionSpeed, 'Insertion Speed', :class => 'control-label'
    .controls
      = f.number_field :insertionSpeed, :class => 'number_field'
  .control-group
    = f.label :insertionTime, 'Insertion Time', :class => 'control-label'
    .controls
      = f.number_field :insertionTime, :class => 'number_field'
  .control-group
    = f.label :laminationMaterial, 'Lamination Material', :class => 'control-label'
    .controls
      = f.number_field :laminationMaterial, :class => 'number_field'
  .control-group
    = f.label :laminationSpeed, 'Lamination Speed', :class => 'control-label'
    .controls
      = f.number_field :laminationSpeed, :class => 'number_field'
  .control-group
    = f.label :laminationTime, 'Lamination Time', :class => 'control-label'
    .controls
      = f.number_field :laminationTime, :class => 'number_field'
  .control-group
    = f.label :laminationWaste, 'Lamination Waste', :class => 'control-label'
    .controls
      = f.number_field :laminationWaste, :class => 'number_field'
  .control-group
    = f.label :machineName, 'Machine Name', :class => 'control-label'
    .controls
      = f.text_field :machineName, :class => 'text_field'
  .control-group
    = f.label :machineID, 'Machine ID', :class => 'control-label'
    .controls
      = f.number_field :machineID, :class => 'number_field'
  .control-group
    = f.label :machineLabor, 'Machine Labor', :class => 'control-label'
    .controls
      = f.number_field :machineLabor, :class => 'number_field'
  .control-group
    = f.label :machineOverhead, 'Machine Overhead', :class => 'control-label'
    .controls
      = f.number_field :machineOverhead, :class => 'number_field'
  .control-group
    = f.label :machinePitch, 'Machine Pitch', :class => 'control-label'
    .controls
      = f.number_field :machinePitch, :class => 'number_field'
  .control-group
    = f.label :machineSpeed, 'Machine Speed', :class => 'control-label'
    .controls
      = f.number_field :machineSpeed, :class => 'number_field'
  .control-group
    = f.label :machineType, 'Machine Type', :class => 'control-label'
    .controls
      = f.text_field :machineType, :class => 'text_field'
  .control-group
    = f.label :machineWidth, 'Machine Width', :class => 'control-label'
    .controls
      = f.number_field :machineWidth, :class => 'number_field'
  .control-group
    = f.label :numberMaterial, 'Number Material', :class => 'control-label'
    .controls
      = f.number_field :numberMaterial, :class => 'number_field'
  .control-group
    = f.label :numberSpeed, 'Number Speed', :class => 'control-label'
    .controls
      = f.number_field :numberSpeed, :class => 'number_field'
  .control-group
    = f.label :numberTime, 'Number Time', :class => 'control-label'
    .controls
      = f.number_field :numberTime, :class => 'number_field'
  .control-group
    = f.label :numberWaste, 'Number Waste', :class => 'control-label'
    .controls
      = f.number_field :numberWaste, :class => 'number_field'
  .control-group
    = f.label :plateChangeWaste, 'Plate Change Waste', :class => 'control-label'
    .controls
      = f.number_field :plateChangeWaste, :class => 'number_field'
  .control-group
    = f.label :plateChangeMaterial, 'Plate Change Material', :class => 'control-label'
    .controls
      = f.number_field :plateChangeMaterial, :class => 'number_field'
  .control-group
    = f.label :plateChangeTime, 'Plate Change Time', :class => 'control-label'
    .controls
      = f.number_field :plateChangeTime, :class => 'number_field'
  .control-group
    = f.label :pressSetupMaterial, 'Press Setup Material', :class => 'control-label'
    .controls
      = f.number_field :pressSetupMaterial, :class => 'number_field'
  .control-group
    = f.label :pressSetupTime, 'Press Setup Time', :class => 'control-label'
    .controls
      = f.number_field :pressSetupTime, :class => 'number_field'
  .control-group
    = f.label :printStations, 'Print Stations', :class => 'control-label'
    .controls
      = f.number_field :printStations, :class => 'number_field'
  .control-group
    = f.label :rollChangeMaterial, 'Roll Change Material', :class => 'control-label'
    .controls
      = f.number_field :rollChangeMaterial, :class => 'number_field'
  .control-group
    = f.label :rollChangeTime, 'Roll Change Time', :class => 'control-label'
    .controls
      = f.number_field :rollChangeTime, :class => 'number_field'
  .control-group
    = f.label :rollChangeWaste, 'Roll Change Waste', :class => 'control-label'
    .controls
      = f.number_field :rollChangeWaste, :class => 'number_field'
  .control-group
    = f.label :slitMaterial, 'Slit Material', :class => 'control-label'
    .controls
      = f.number_field :slitMaterial, :class => 'number_field'
  .control-group
    = f.label :slitSpeed, 'Slit Speed', :class => 'control-label'
    .controls
      = f.number_field :slitSpeed, :class => 'number_field'
  .control-group
    = f.label :slitTime, 'Slit Time', :class => 'control-label'
    .controls
      = f.number_field :slitTime, :class => 'number_field'
  .control-group
    = f.label :slitWaste, 'Slit Waste', :class => 'control-label'
    .controls
      = f.number_field :slitWaste, :class => 'number_field'
  .control-group
    = f.label :trim, :class => 'control-label'
    .controls
      = f.number_field :trim, :class => 'number_field'
  .control-group
    = f.label :turretMaterial, 'Turret Material', :class => 'control-label'
    .controls
      = f.number_field :turretMaterial, :class => 'number_field'
  .control-group
    = f.label :turretSpeed, 'Turret Speed', :class => 'control-label'
    .controls
      = f.number_field :turretSpeed, :class => 'number_field'
  .control-group
    = f.label :turretTime, 'Turret Time', :class => 'control-label'
    .controls
      = f.number_field :turretTime, :class => 'number_field'
  .control-group
    = f.label :turretWaste, 'Turret Waste', :class => 'control-label'
    .controls
      = f.number_field :turretWaste, :class => 'number_field'
  .form-actions
    = f.submit 'Create Press Standard', :class => 'btn btn-primary'
    = link_to "Cancel", press_standards_path, :class => 'btn'
