%h1 Listing press_standards
%table
  %tr
    %th Ampmaterial
    %th Amptime
    %th Colormaterial
    %th Colortime
    %th Colorwaste
    %th Diematerial
    %th Diespeed
    %th Dietime
    %th Diewaste
    %th Foldermaterial
    %th Folderspeed
    %th Foldertime
    %th Folderwaste
    %th Headmaterial
    %th Headtime
    %th Hotstampmaterial
    %th Hotstampspeed
    %th Hotstamptime
    %th Hotstampwaste
    %th Inktype
    %th Inktypesig
    %th Inktypevarnish
    %th Inkmaterial
    %th Inktime
    %th Inlinematerial
    %th Inlinespeed
    %th Inlinetime
    %th Inlinewaste
    %th Insertionmaterial
    %th Insertionspeed
    %th Insertiontime
    %th Laminationmaterial
    %th Laminationspeed
    %th Laminationtime
    %th Laminationwaste
    %th Machinename
    %th Machineid
    %th Machinelabor
    %th Machineoverhead
    %th Machinepitch
    %th Machinespeed
    %th Machinetype
    %th Machinewidth
    %th Numbermaterial
    %th Numberspeed
    %th Numbertime
    %th Numberwaste
    %th Platechangewaste
    %th Platechangematerial
    %th Platechangetime
    %th Presssetupmaterial
    %th Presssetuptime
    %th Printstations
    %th Rollchangematerial
    %th Rollchangetime
    %th Rollchangewaste
    %th Slitmaterial
    %th Slitspeed
    %th Slittime
    %th Slitwaste
    %th Trim
    %th Turretmaterial
    %th Turretspeed
    %th Turrettime
    %th Turretwaste
    %th
    %th
    %th
  - @press_standards.each do |press_standard|
    %tr
      %td= press_standard.ampMaterial
      %td= press_standard.ampTime
      %td= press_standard.colorMaterial
      %td= press_standard.colorTime
      %td= press_standard.colorWaste
      %td= press_standard.dieMaterial
      %td= press_standard.dieSpeed
      %td= press_standard.dieTime
      %td= press_standard.dieWaste
      %td= press_standard.folderMaterial
      %td= press_standard.folderSpeed
      %td= press_standard.folderTime
      %td= press_standard.folderWaste
      %td= press_standard.headMaterial
      %td= press_standard.headTime
      %td= press_standard.hotStampMaterial
      %td= press_standard.hotStampSpeed
      %td= press_standard.hotStampTime
      %td= press_standard.hotStampWaste
      %td= press_standard.inkType
      %td= press_standard.inkTypeSig
      %td= press_standard.inkTypeVarnish
      %td= press_standard.inkMaterial
      %td= press_standard.inkTime
      %td= press_standard.inlineMaterial
      %td= press_standard.inlineSpeed
      %td= press_standard.inlineTime
      %td= press_standard.inlineWaste
      %td= press_standard.insertionMaterial
      %td= press_standard.insertionSpeed
      %td= press_standard.insertionTime
      %td= press_standard.laminationMaterial
      %td= press_standard.laminationSpeed
      %td= press_standard.laminationTime
      %td= press_standard.laminationWaste
      %td= press_standard.machineName
      %td= press_standard.machineID
      %td= press_standard.machineLabor
      %td= press_standard.machineOverhead
      %td= press_standard.machinePitch
      %td= press_standard.machineSpeed
      %td= press_standard.machineType
      %td= press_standard.machineWidth
      %td= press_standard.numberMaterial
      %td= press_standard.numberSpeed
      %td= press_standard.numberTime
      %td= press_standard.numberWaste
      %td= press_standard.plateChangeWaste
      %td= press_standard.plateChangeMaterial
      %td= press_standard.plateChangeTime
      %td= press_standard.pressSetupMaterial
      %td= press_standard.pressSetupTime
      %td= press_standard.printStations
      %td= press_standard.rollChangeMaterial
      %td= press_standard.rollChangeTime
      %td= press_standard.rollChangeWaste
      %td= press_standard.slitMaterial
      %td= press_standard.slitSpeed
      %td= press_standard.slitTime
      %td= press_standard.slitWaste
      %td= press_standard.trim
      %td= press_standard.turretMaterial
      %td= press_standard.turretSpeed
      %td= press_standard.turretTime
      %td= press_standard.turretWaste
      %td= link_to 'Show', press_standard
      %td= link_to 'Edit', edit_press_standard_path(press_standard)
      %td= link_to 'Destroy', press_standard, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Press standard', new_press_standard_path
