%h1 Press Standards
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.press_standard.ampMaterial", :default => t("activerecord.labels.ampMaterial", :default => "Ampmaterial"))
      %th Created at
      %th Actions
  %tbody
    - @press_standards.each do |press_standard|
      %tr
        %td= press_standard.id
        %td= link_to press_standard.ampMaterial, press_standard_path(press_standard)
        %td= press_standard.created_at
        %td
          = link_to "Show", press_standard_path(press_standard), :class => 'btn btn-mini'
          = link_to "Edit", edit_press_standard_path(press_standard), :class => 'btn btn-mini'
          = link_to "Destroy", press_standard_path(press_standard), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New Press Standard", new_press_standard_path, :class => 'btn btn-primary'
