%p#notice= notice
%p
  %b Ampmaterial:
  = @press_standard.ampMaterial
%p
  %b Amptime:
  = @press_standard.ampTime
%p
  %b Colormaterial:
  = @press_standard.colorMaterial
%p
  %b Colortime:
  = @press_standard.colorTime
%p
  %b Colorwaste:
  = @press_standard.colorWaste
%p
  %b Diematerial:
  = @press_standard.dieMaterial
%p
  %b Diespeed:
  = @press_standard.dieSpeed
%p
  %b Dietime:
  = @press_standard.dieTime
%p
  %b Diewaste:
  = @press_standard.dieWaste
%p
  %b Foldermaterial:
  = @press_standard.folderMaterial
%p
  %b Folderspeed:
  = @press_standard.folderSpeed
%p
  %b Foldertime:
  = @press_standard.folderTime
%p
  %b Folderwaste:
  = @press_standard.folderWaste
%p
  %b Headmaterial:
  = @press_standard.headMaterial
%p
  %b Headtime:
  = @press_standard.headTime
%p
  %b Hotstampmaterial:
  = @press_standard.hotStampMaterial
%p
  %b Hotstampspeed:
  = @press_standard.hotStampSpeed
%p
  %b Hotstamptime:
  = @press_standard.hotStampTime
%p
  %b Hotstampwaste:
  = @press_standard.hotStampWaste
%p
  %b Inktype:
  = @press_standard.inkType
%p
  %b Inktypesig:
  = @press_standard.inkTypeSig
%p
  %b Inktypevarnish:
  = @press_standard.inkTypeVarnish
%p
  %b Inkmaterial:
  = @press_standard.inkMaterial
%p
  %b Inktime:
  = @press_standard.inkTime
%p
  %b Inlinematerial:
  = @press_standard.inlineMaterial
%p
  %b Inlinespeed:
  = @press_standard.inlineSpeed
%p
  %b Inlinetime:
  = @press_standard.inlineTime
%p
  %b Inlinewaste:
  = @press_standard.inlineWaste
%p
  %b Insertionmaterial:
  = @press_standard.insertionMaterial
%p
  %b Insertionspeed:
  = @press_standard.insertionSpeed
%p
  %b Insertiontime:
  = @press_standard.insertionTime
%p
  %b Laminationmaterial:
  = @press_standard.laminationMaterial
%p
  %b Laminationspeed:
  = @press_standard.laminationSpeed
%p
  %b Laminationtime:
  = @press_standard.laminationTime
%p
  %b Laminationwaste:
  = @press_standard.laminationWaste
%p
  %b Machinename:
  = @press_standard.machineName
%p
  %b Machineid:
  = @press_standard.machineID
%p
  %b Machinelabor:
  = @press_standard.machineLabor
%p
  %b Machineoverhead:
  = @press_standard.machineOverhead
%p
  %b Machinepitch:
  = @press_standard.machinePitch
%p
  %b Machinespeed:
  = @press_standard.machineSpeed
%p
  %b Machinetype:
  = @press_standard.machineType
%p
  %b Machinewidth:
  = @press_standard.machineWidth
%p
  %b Numbermaterial:
  = @press_standard.numberMaterial
%p
  %b Numberspeed:
  = @press_standard.numberSpeed
%p
  %b Numbertime:
  = @press_standard.numberTime
%p
  %b Numberwaste:
  = @press_standard.numberWaste
%p
  %b Platechangewaste:
  = @press_standard.plateChangeWaste
%p
  %b Platechangematerial:
  = @press_standard.plateChangeMaterial
%p
  %b Platechangetime:
  = @press_standard.plateChangeTime
%p
  %b Presssetupmaterial:
  = @press_standard.pressSetupMaterial
%p
  %b Presssetuptime:
  = @press_standard.pressSetupTime
%p
  %b Printstations:
  = @press_standard.printStations
%p
  %b Rollchangematerial:
  = @press_standard.rollChangeMaterial
%p
  %b Rollchangetime:
  = @press_standard.rollChangeTime
%p
  %b Rollchangewaste:
  = @press_standard.rollChangeWaste
%p
  %b Slitmaterial:
  = @press_standard.slitMaterial
%p
  %b Slitspeed:
  = @press_standard.slitSpeed
%p
  %b Slittime:
  = @press_standard.slitTime
%p
  %b Slitwaste:
  = @press_standard.slitWaste
%p
  %b Trim:
  = @press_standard.trim
%p
  %b Turretmaterial:
  = @press_standard.turretMaterial
%p
  %b Turretspeed:
  = @press_standard.turretSpeed
%p
  %b Turrettime:
  = @press_standard.turretTime
%p
  %b Turretwaste:
  = @press_standard.turretWaste
= link_to 'Edit', edit_press_standard_path(@press_standard)
%p |
= link_to 'Back', press_standards_path
