<p id="notice"><%= notice %></p>

<p>
  <b>Ampmaterial:</b>
  <%= @press_standard.ampMaterial %>
</p>

<p>
  <b>Amptime:</b>
  <%= @press_standard.ampTime %>
</p>

<p>
  <b>Colormaterial:</b>
  <%= @press_standard.colorMaterial %>
</p>

<p>
  <b>Colortime:</b>
  <%= @press_standard.colorTime %>
</p>

<p>
  <b>Colorwaste:</b>
  <%= @press_standard.colorWaste %>
</p>

<p>
  <b>Diematerial:</b>
  <%= @press_standard.dieMaterial %>
</p>

<p>
  <b>Diespeed:</b>
  <%= @press_standard.dieSpeed %>
</p>

<p>
  <b>Dietime:</b>
  <%= @press_standard.dieTime %>
</p>

<p>
  <b>Diewaste:</b>
  <%= @press_standard.dieWaste %>
</p>

<p>
  <b>Foldermaterial:</b>
  <%= @press_standard.folderMaterial %>
</p>

<p>
  <b>Folderspeed:</b>
  <%= @press_standard.folderSpeed %>
</p>

<p>
  <b>Foldertime:</b>
  <%= @press_standard.folderTime %>
</p>

<p>
  <b>Folderwaste:</b>
  <%= @press_standard.folderWaste %>
</p>

<p>
  <b>Headmaterial:</b>
  <%= @press_standard.headMaterial %>
</p>

<p>
  <b>Headtime:</b>
  <%= @press_standard.headTime %>
</p>

<p>
  <b>Hotstampmaterial:</b>
  <%= @press_standard.hotStampMaterial %>
</p>

<p>
  <b>Hotstampspeed:</b>
  <%= @press_standard.hotStampSpeed %>
</p>

<p>
  <b>Hotstamptime:</b>
  <%= @press_standard.hotStampTime %>
</p>

<p>
  <b>Hotstampwaste:</b>
  <%= @press_standard.hotStampWaste %>
</p>

<p>
  <b>Inktype:</b>
  <%= @press_standard.inkType %>
</p>

<p>
  <b>Inktypesig:</b>
  <%= @press_standard.inkTypeSig %>
</p>

<p>
  <b>Inktypevarnish:</b>
  <%= @press_standard.inkTypeVarnish %>
</p>

<p>
  <b>Inkmaterial:</b>
  <%= @press_standard.inkMaterial %>
</p>

<p>
  <b>Inktime:</b>
  <%= @press_standard.inkTime %>
</p>

<p>
  <b>Inlinematerial:</b>
  <%= @press_standard.inlineMaterial %>
</p>

<p>
  <b>Inlinespeed:</b>
  <%= @press_standard.inlineSpeed %>
</p>

<p>
  <b>Inlinetime:</b>
  <%= @press_standard.inlineTime %>
</p>

<p>
  <b>Inlinewaste:</b>
  <%= @press_standard.inlineWaste %>
</p>

<p>
  <b>Insertionmaterial:</b>
  <%= @press_standard.insertionMaterial %>
</p>

<p>
  <b>Insertionspeed:</b>
  <%= @press_standard.insertionSpeed %>
</p>

<p>
  <b>Insertiontime:</b>
  <%= @press_standard.insertionTime %>
</p>

<p>
  <b>Laminationmaterial:</b>
  <%= @press_standard.laminationMaterial %>
</p>

<p>
  <b>Laminationspeed:</b>
  <%= @press_standard.laminationSpeed %>
</p>

<p>
  <b>Laminationtime:</b>
  <%= @press_standard.laminationTime %>
</p>

<p>
  <b>Laminationwaste:</b>
  <%= @press_standard.laminationWaste %>
</p>

<p>
  <b>Machinename:</b>
  <%= @press_standard.machineName %>
</p>

<p>
  <b>Machineid:</b>
  <%= @press_standard.machineID %>
</p>

<p>
  <b>Machinelabor:</b>
  <%= @press_standard.machineLabor %>
</p>

<p>
  <b>Machineoverhead:</b>
  <%= @press_standard.machineOverhead %>
</p>

<p>
  <b>Machinepitch:</b>
  <%= @press_standard.machinePitch %>
</p>

<p>
  <b>Machinespeed:</b>
  <%= @press_standard.machineSpeed %>
</p>

<p>
  <b>Machinetype:</b>
  <%= @press_standard.machineType %>
</p>

<p>
  <b>Machinewidth:</b>
  <%= @press_standard.machineWidth %>
</p>

<p>
  <b>Numbermaterial:</b>
  <%= @press_standard.numberMaterial %>
</p>

<p>
  <b>Numberspeed:</b>
  <%= @press_standard.numberSpeed %>
</p>

<p>
  <b>Numbertime:</b>
  <%= @press_standard.numberTime %>
</p>

<p>
  <b>Numberwaste:</b>
  <%= @press_standard.numberWaste %>
</p>

<p>
  <b>Platechangewaste:</b>
  <%= @press_standard.plateChangeWaste %>
</p>

<p>
  <b>Platechangematerial:</b>
  <%= @press_standard.plateChangeMaterial %>
</p>

<p>
  <b>Platechangetime:</b>
  <%= @press_standard.plateChangeTime %>
</p>

<p>
  <b>Presssetupmaterial:</b>
  <%= @press_standard.pressSetupMaterial %>
</p>

<p>
  <b>Presssetuptime:</b>
  <%= @press_standard.pressSetupTime %>
</p>

<p>
  <b>Printstations:</b>
  <%= @press_standard.printStations %>
</p>

<p>
  <b>Rollchangematerial:</b>
  <%= @press_standard.rollChangeMaterial %>
</p>

<p>
  <b>Rollchangetime:</b>
  <%= @press_standard.rollChangeTime %>
</p>

<p>
  <b>Rollchangewaste:</b>
  <%= @press_standard.rollChangeWaste %>
</p>

<p>
  <b>Slitmaterial:</b>
  <%= @press_standard.slitMaterial %>
</p>

<p>
  <b>Slitspeed:</b>
  <%= @press_standard.slitSpeed %>
</p>

<p>
  <b>Slittime:</b>
  <%= @press_standard.slitTime %>
</p>

<p>
  <b>Slitwaste:</b>
  <%= @press_standard.slitWaste %>
</p>

<p>
  <b>Trim:</b>
  <%= @press_standard.trim %>
</p>

<p>
  <b>Turretmaterial:</b>
  <%= @press_standard.turretMaterial %>
</p>

<p>
  <b>Turretspeed:</b>
  <%= @press_standard.turretSpeed %>
</p>

<p>
  <b>Turrettime:</b>
  <%= @press_standard.turretTime %>
</p>

<p>
  <b>Turretwaste:</b>
  <%= @press_standard.turretWaste %>
</p>


<%= link_to 'Edit', edit_press_standard_path(@press_standard) %> |
<%= link_to 'Back', press_standards_path %>
