<h1>Listing product_formats</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Formatid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @product_formats.each do |product_format| %>
  <tr>
    <td><%= product_format.description %></td>
    <td><%= product_format.formatId %></td>
    <td><%= link_to 'Show', product_format %></td>
    <td><%= link_to 'Edit', edit_product_format_path(product_format) %></td>
    <td><%= link_to 'Destroy', product_format, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product format', new_product_format_path %>
