%h1 Listing product_formats
%table
  %tr
    %th Description
    %th Formatid
    %th
    %th
    %th
  - @product_formats.each do |product_format|
    %tr
      %td= product_format.description
      %td= product_format.formatId
      %td= link_to 'Show', product_format
      %td= link_to 'Edit', edit_product_format_path(product_format)
      %td= link_to 'Destroy', product_format, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Product format', new_product_format_path
