<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @product_format.description %>
</p>

<p>
  <b>Formatid:</b>
  <%= @product_format.formatId %>
</p>


<%= link_to 'Edit', edit_product_format_path(@product_format) %> |
<%= link_to 'Back', product_formats_path %>
