%label{:class => "label"}= t("activerecord.attributes.product_format.description", :default => t("activerecord.labels.description", :default => "Description")) + ":"
%p= @product_format.description
%label{:class => "label"}= t("activerecord.attributes.product_format.formatId", :default => t("activerecord.labels.formatId", :default => "Formatid")) + ":"
%p= @product_format.formatId

.form-actions
  = link_to "Back", product_formats_path, :class => 'btn'
  = link_to "Edit", edit_product_format_path(@product_format), :class => 'btn'
  = link_to "Delete", product_format_path(@product_format), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-danger'
