%p#notice= notice
%p
  %b Description:
  = @product_format.description
%p
  %b Formatid:
  = @product_format.formatId
= link_to 'Edit', edit_product_format_path(@product_format)
%p |
= link_to 'Back', product_formats_path
