%fieldset
  %legend
    = controller.action_name.capitalize
    /Machine Id Standard
  .control-group
    = f.label :dieMaterial, :class => 'control-label'
    .controls
      = f.number_field :dieMaterial, :class => 'number_field'
  .control-group
    = f.label :dieSpeed, :class => 'control-label'
    .controls
      = f.number_field :dieSpeed, :class => 'number_field'
  .control-group
    = f.label :dieTime, :class => 'control-label'
    .controls
      = f.number_field :dieTime, :class => 'number_field'
  .control-group
    = f.label :dieWaste, :class => 'control-label'
    .controls
      = f.number_field :dieWaste, :class => 'number_field'
  .control-group
    = f.label :folderMaterial, :class => 'control-label'
    .controls
      = f.number_field :folderMaterial, :class => 'number_field'
  .control-group
    = f.label :folderSpeed, :class => 'control-label'
    .controls
      = f.number_field :folderSpeed, :class => 'number_field'
  .control-group
    = f.label :folderTime, :class => 'control-label'
    .controls
      = f.number_field :folderTime, :class => 'number_field'
  .control-group
    = f.label :folderWaste, :class => 'control-label'
    .controls
      = f.number_field :folderWaste, :class => 'number_field'
  .control-group
    = f.label :insertionMaterial, :class => 'control-label'
    .controls
      = f.number_field :insertionMaterial, :class => 'number_field'
  .control-group
    = f.label :insertionSpeed, :class => 'control-label'
    .controls
      = f.number_field :insertionSpeed, :class => 'number_field'
  .control-group
    = f.label :insertionTime, :class => 'control-label'
    .controls
      = f.number_field :insertionTime, :class => 'number_field'
  .control-group
    = f.label :machineName, :class => 'control-label'
    .controls
      = f.text_field :machineName, :class => 'text_field'
  .control-group
    = f.label :machineId, :class => 'control-label'
    .controls
      = f.number_field :machineId, :class => 'number_field'
  .control-group
    = f.label :machineLabor, :class => 'control-label'
    .controls
      = f.number_field :machineLabor, :class => 'number_field'
  .control-group
    = f.label :machineOverhead, :class => 'control-label'
    .controls
      = f.number_field :machineOverhead, :class => 'number_field'
  .control-group
    = f.label :machinePitch, :class => 'control-label'
    .controls
      = f.number_field :machinePitch, :class => 'number_field'
  .control-group
    = f.label :machineSpeed, :class => 'control-label'
    .controls
      = f.number_field :machineSpeed, :class => 'number_field'
  .control-group
    = f.label :machineType, :class => 'control-label'
    .controls
      = f.text_field :machineType, :class => 'text_field'
  .control-group
    = f.label :machineWidth, :class => 'control-label'
    .controls
      = f.number_field :machineWidth, :class => 'number_field'
  .control-group
    = f.label :numMat, :class => 'control-label'
    .controls
      = f.number_field :numMat, :class => 'number_field'
  .control-group
    = f.label :numSpeed, :class => 'control-label'
    .controls
      = f.number_field :numSpeed, :class => 'number_field'
  .control-group
    = f.label :numbTime, :class => 'control-label'
    .controls
      = f.number_field :numbTime, :class => 'number_field'
  .control-group
    = f.label :numWaste, :class => 'control-label'
    .controls
      = f.number_field :numWaste, :class => 'number_field'
  .control-group
    = f.label :rollChangeMat, :class => 'control-label'
    .controls
      = f.number_field :rollChangeMat, :class => 'number_field'
  .control-group
    = f.label :rollChangeTime, :class => 'control-label'
    .controls
      = f.number_field :rollChangeTime, :class => 'number_field'
  .control-group
    = f.label :rollChangeWaste, :class => 'control-label'
    .controls
      = f.number_field :rollChangeWaste, :class => 'number_field'
  .control-group
    = f.label :slitMat, :class => 'control-label'
    .controls
      = f.number_field :slitMat, :class => 'number_field'
  .control-group
    = f.label :slitSpeed, :class => 'control-label'
    .controls
      = f.number_field :slitSpeed, :class => 'number_field'
  .control-group
    = f.label :slitTime, :class => 'control-label'
    .controls
      = f.number_field :slitTime, :class => 'number_field'
  .control-group
    = f.label :slitWaste, :class => 'control-label'
    .controls
      = f.number_field :slitWaste, :class => 'number_field'
  .control-group
    = f.label :trim, :class => 'control-label'
    .controls
      = f.number_field :trim, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", machine_id_standards_path, :class => 'btn'
