%fieldset
  %legend
    = controller.action_name.capitalize
    Machine Id Standard
  .control-group
    = f.label :dieMaterial, 'Die Material', :class => 'control-label'
    .controls
      = f.number_field :dieMaterial, :class => 'number_field'
  .control-group
    = f.label :dieSpeed, 'Die Speed', :class => 'control-label'
    .controls
      = f.number_field :dieSpeed, :class => 'number_field'
  .control-group
    = f.label :dieTime, 'Die Time', :class => 'control-label'
    .controls
      = f.number_field :dieTime, :class => 'number_field'
  .control-group
    = f.label :dieWaste, 'Die Waste', :class => 'control-label'
    .controls
      = f.number_field :dieWaste, :class => 'number_field'
  .control-group
    = f.label :folderMaterial, 'Folder Material', :class => 'control-label'
    .controls
      = f.number_field :folderMaterial, :class => 'number_field'
  .control-group
    = f.label :folderSpeed, 'Folder Speed', :class => 'control-label'
    .controls
      = f.number_field :folderSpeed, :class => 'number_field'
  .control-group
    = f.label :folderTime, 'Folder Time', :class => 'control-label'
    .controls
      = f.number_field :folderTime, :class => 'number_field'
  .control-group
    = f.label :folderWaste, 'Folder Waste', :class => 'control-label'
    .controls
      = f.number_field :folderWaste, :class => 'number_field'
  .control-group
    = f.label :insertionMaterial, 'Insertion Material', :class => 'control-label'
    .controls
      = f.number_field :insertionMaterial, :class => 'number_field'
  .control-group
    = f.label :insertionSpeed, 'Insertion Speed', :class => 'control-label'
    .controls
      = f.number_field :insertionSpeed, :class => 'number_field'
  .control-group
    = f.label :insertionTime, 'Insertion Time', :class => 'control-label'
    .controls
      = f.number_field :insertionTime, :class => 'number_field'
  .control-group
    = f.label :machineName, 'Machine Name', :class => 'control-label'
    .controls
      = f.text_field :machineName, :class => 'text_field'
  .control-group
    = f.label :machineId, 'Machine ID', :class => 'control-label'
    .controls
      = f.number_field :machineId, :class => 'number_field'
  .control-group
    = f.label :machineLabor, 'Machine Labor', :class => 'control-label'
    .controls
      = f.number_field :machineLabor, :class => 'number_field'
  .control-group
    = f.label :machineOverhead, 'Machine Overhead', :class => 'control-label'
    .controls
      = f.number_field :machineOverhead, :class => 'number_field'
  .control-group
    = f.label :machinePitch, 'Machine Pitch', :class => 'control-label'
    .controls
      = f.number_field :machinePitch, :class => 'number_field'
  .control-group
    = f.label :machineSpeed, 'Machine Speed', :class => 'control-label'
    .controls
      = f.number_field :machineSpeed, :class => 'number_field'
  .control-group
    = f.label :machineType, 'Machine Type', :class => 'control-label'
    .controls
      = f.text_field :machineType, :class => 'text_field'
  .control-group
    = f.label :machineWidth, 'Machine Width', :class => 'control-label'
    .controls
      = f.number_field :machineWidth, :class => 'number_field'
  .control-group
    = f.label :numMat, 'Number Material', :class => 'control-label'
    .controls
      = f.number_field :numMat, :class => 'number_field'
  .control-group
    = f.label :numSpeed, 'Number Speed', :class => 'control-label'
    .controls
      = f.number_field :numSpeed, :class => 'number_field'
  .control-group
    = f.label :numbTime, 'Number Time', :class => 'control-label'
    .controls
      = f.number_field :numbTime, :class => 'number_field'
  .control-group
    = f.label :numWaste, 'Number Waste', :class => 'control-label'
    .controls
      = f.number_field :numWaste, :class => 'number_field'
  .control-group
    = f.label :rollChangeMat, 'Roll Change Material', :class => 'control-label'
    .controls
      = f.number_field :rollChangeMat, :class => 'number_field'
  .control-group
    = f.label :rollChangeTime, 'Roll Change Time', :class => 'control-label'
    .controls
      = f.number_field :rollChangeTime, :class => 'number_field'
  .control-group
    = f.label :rollChangeWaste, 'Roll Change Waste', :class => 'control-label'
    .controls
      = f.number_field :rollChangeWaste, :class => 'number_field'
  .control-group
    = f.label :slitMat, 'Slit Material', :class => 'control-label'
    .controls
      = f.number_field :slitMat, :class => 'number_field'
  .control-group
    = f.label :slitSpeed, 'Slit Speed', :class => 'control-label'
    .controls
      = f.number_field :slitSpeed, :class => 'number_field'
  .control-group
    = f.label :slitTime, 'Slit Time', :class => 'control-label'
    .controls
      = f.number_field :slitTime, :class => 'number_field'
  .control-group
    = f.label :slitWaste, 'Slit Waste', :class => 'control-label'
    .controls
      = f.number_field :slitWaste, :class => 'number_field'
  .control-group
    = f.label :trim, :class => 'control-label'
    .controls
      = f.number_field :trim, :class => 'number_field'
  .form-actions
    = f.submit 'Create Machine ID Standard', :class => 'btn btn-primary'
    = link_to "Cancel", machine_id_standards_path, :class => 'btn'
