<h1>Listing machine_id_standards</h1>

<table>
  <tr>
    <th>Diematerial</th>
    <th>Diespeed</th>
    <th>Dietime</th>
    <th>Diewaste</th>
    <th>Foldermaterial</th>
    <th>Folderspeed</th>
    <th>Foldertime</th>
    <th>Folderwaste</th>
    <th>Insertionmaterial</th>
    <th>Insertionspeed</th>
    <th>Insertiontime</th>
    <th>Machinename</th>
    <th>Machineid</th>
    <th>Machinelabor</th>
    <th>Machineoverhead</th>
    <th>Machinepitch</th>
    <th>Machinespeed</th>
    <th>Machinetype</th>
    <th>Machinewidth</th>
    <th>Nummat</th>
    <th>Numspeed</th>
    <th>Numbtime</th>
    <th>Numwaste</th>
    <th>Rollchangemat</th>
    <th>Rollchangetime</th>
    <th>Rollchangewaste</th>
    <th>Slitmat</th>
    <th>Slitspeed</th>
    <th>Slittime</th>
    <th>Slitwaste</th>
    <th>Trim</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @machine_id_standards.each do |machine_id_standard| %>
  <tr>
    <td><%= machine_id_standard.dieMaterial %></td>
    <td><%= machine_id_standard.dieSpeed %></td>
    <td><%= machine_id_standard.dieTime %></td>
    <td><%= machine_id_standard.dieWaste %></td>
    <td><%= machine_id_standard.folderMaterial %></td>
    <td><%= machine_id_standard.folderSpeed %></td>
    <td><%= machine_id_standard.folderTime %></td>
    <td><%= machine_id_standard.folderWaste %></td>
    <td><%= machine_id_standard.insertionMaterial %></td>
    <td><%= machine_id_standard.insertionSpeed %></td>
    <td><%= machine_id_standard.insertionTime %></td>
    <td><%= machine_id_standard.machineName %></td>
    <td><%= machine_id_standard.machineId %></td>
    <td><%= machine_id_standard.machineLabor %></td>
    <td><%= machine_id_standard.machineOverhead %></td>
    <td><%= machine_id_standard.machinePitch %></td>
    <td><%= machine_id_standard.machineSpeed %></td>
    <td><%= machine_id_standard.machineType %></td>
    <td><%= machine_id_standard.machineWidth %></td>
    <td><%= machine_id_standard.numMat %></td>
    <td><%= machine_id_standard.numSpeed %></td>
    <td><%= machine_id_standard.numbTime %></td>
    <td><%= machine_id_standard.numWaste %></td>
    <td><%= machine_id_standard.rollChangeMat %></td>
    <td><%= machine_id_standard.rollChangeTime %></td>
    <td><%= machine_id_standard.rollChangeWaste %></td>
    <td><%= machine_id_standard.slitMat %></td>
    <td><%= machine_id_standard.slitSpeed %></td>
    <td><%= machine_id_standard.slitTime %></td>
    <td><%= machine_id_standard.slitWaste %></td>
    <td><%= machine_id_standard.trim %></td>
    <td><%= link_to 'Show', machine_id_standard %></td>
    <td><%= link_to 'Edit', edit_machine_id_standard_path(machine_id_standard) %></td>
    <td><%= link_to 'Destroy', machine_id_standard, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Machine id standard', new_machine_id_standard_path %>
