%h1 Machine Id Standards
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.machine_id_standard.dieMaterial", :default => t("activerecord.labels.dieMaterial", :default => "Diematerial"))
      %th Created at
      %th Actions
  %tbody
    - @machine_id_standards.each do |machine_id_standard|
      %tr
        %td= machine_id_standard.id
        %td= link_to machine_id_standard.dieMaterial, machine_id_standard_path(machine_id_standard)
        %td= machine_id_standard.created_at
        %td
          = link_to "Show", machine_id_standard_path(machine_id_standard), :class => 'btn btn-mini'
          = link_to "Edit", edit_machine_id_standard_path(machine_id_standard), :class => 'btn btn-mini'
          = link_to "Destroy", machine_id_standard_path(machine_id_standard), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New Machine ID Standard", new_machine_id_standard_path, :class => 'btn btn-primary'
