<p id="notice"><%= notice %></p>

<p>
  <b>Diematerial:</b>
  <%= @machine_id_standard.dieMaterial %>
</p>

<p>
  <b>Diespeed:</b>
  <%= @machine_id_standard.dieSpeed %>
</p>

<p>
  <b>Dietime:</b>
  <%= @machine_id_standard.dieTime %>
</p>

<p>
  <b>Diewaste:</b>
  <%= @machine_id_standard.dieWaste %>
</p>

<p>
  <b>Foldermaterial:</b>
  <%= @machine_id_standard.folderMaterial %>
</p>

<p>
  <b>Folderspeed:</b>
  <%= @machine_id_standard.folderSpeed %>
</p>

<p>
  <b>Foldertime:</b>
  <%= @machine_id_standard.folderTime %>
</p>

<p>
  <b>Folderwaste:</b>
  <%= @machine_id_standard.folderWaste %>
</p>

<p>
  <b>Insertionmaterial:</b>
  <%= @machine_id_standard.insertionMaterial %>
</p>

<p>
  <b>Insertionspeed:</b>
  <%= @machine_id_standard.insertionSpeed %>
</p>

<p>
  <b>Insertiontime:</b>
  <%= @machine_id_standard.insertionTime %>
</p>

<p>
  <b>Machinename:</b>
  <%= @machine_id_standard.machineName %>
</p>

<p>
  <b>Machineid:</b>
  <%= @machine_id_standard.machineId %>
</p>

<p>
  <b>Machinelabor:</b>
  <%= @machine_id_standard.machineLabor %>
</p>

<p>
  <b>Machineoverhead:</b>
  <%= @machine_id_standard.machineOverhead %>
</p>

<p>
  <b>Machinepitch:</b>
  <%= @machine_id_standard.machinePitch %>
</p>

<p>
  <b>Machinespeed:</b>
  <%= @machine_id_standard.machineSpeed %>
</p>

<p>
  <b>Machinetype:</b>
  <%= @machine_id_standard.machineType %>
</p>

<p>
  <b>Machinewidth:</b>
  <%= @machine_id_standard.machineWidth %>
</p>

<p>
  <b>Nummat:</b>
  <%= @machine_id_standard.numMat %>
</p>

<p>
  <b>Numspeed:</b>
  <%= @machine_id_standard.numSpeed %>
</p>

<p>
  <b>Numbtime:</b>
  <%= @machine_id_standard.numbTime %>
</p>

<p>
  <b>Numwaste:</b>
  <%= @machine_id_standard.numWaste %>
</p>

<p>
  <b>Rollchangemat:</b>
  <%= @machine_id_standard.rollChangeMat %>
</p>

<p>
  <b>Rollchangetime:</b>
  <%= @machine_id_standard.rollChangeTime %>
</p>

<p>
  <b>Rollchangewaste:</b>
  <%= @machine_id_standard.rollChangeWaste %>
</p>

<p>
  <b>Slitmat:</b>
  <%= @machine_id_standard.slitMat %>
</p>

<p>
  <b>Slitspeed:</b>
  <%= @machine_id_standard.slitSpeed %>
</p>

<p>
  <b>Slittime:</b>
  <%= @machine_id_standard.slitTime %>
</p>

<p>
  <b>Slitwaste:</b>
  <%= @machine_id_standard.slitWaste %>
</p>

<p>
  <b>Trim:</b>
  <%= @machine_id_standard.trim %>
</p>


<%= link_to 'Edit', edit_machine_id_standard_path(@machine_id_standard) %> |
<%= link_to 'Back', machine_id_standards_path %>
