%p#notice= notice
%p
  %b Diematerial:
  = @machine_id_standard.dieMaterial
%p
  %b Diespeed:
  = @machine_id_standard.dieSpeed
%p
  %b Dietime:
  = @machine_id_standard.dieTime
%p
  %b Diewaste:
  = @machine_id_standard.dieWaste
%p
  %b Foldermaterial:
  = @machine_id_standard.folderMaterial
%p
  %b Folderspeed:
  = @machine_id_standard.folderSpeed
%p
  %b Foldertime:
  = @machine_id_standard.folderTime
%p
  %b Folderwaste:
  = @machine_id_standard.folderWaste
%p
  %b Insertionmaterial:
  = @machine_id_standard.insertionMaterial
%p
  %b Insertionspeed:
  = @machine_id_standard.insertionSpeed
%p
  %b Insertiontime:
  = @machine_id_standard.insertionTime
%p
  %b Machinename:
  = @machine_id_standard.machineName
%p
  %b Machineid:
  = @machine_id_standard.machineId
%p
  %b Machinelabor:
  = @machine_id_standard.machineLabor
%p
  %b Machineoverhead:
  = @machine_id_standard.machineOverhead
%p
  %b Machinepitch:
  = @machine_id_standard.machinePitch
%p
  %b Machinespeed:
  = @machine_id_standard.machineSpeed
%p
  %b Machinetype:
  = @machine_id_standard.machineType
%p
  %b Machinewidth:
  = @machine_id_standard.machineWidth
%p
  %b Nummat:
  = @machine_id_standard.numMat
%p
  %b Numspeed:
  = @machine_id_standard.numSpeed
%p
  %b Numbtime:
  = @machine_id_standard.numbTime
%p
  %b Numwaste:
  = @machine_id_standard.numWaste
%p
  %b Rollchangemat:
  = @machine_id_standard.rollChangeMat
%p
  %b Rollchangetime:
  = @machine_id_standard.rollChangeTime
%p
  %b Rollchangewaste:
  = @machine_id_standard.rollChangeWaste
%p
  %b Slitmat:
  = @machine_id_standard.slitMat
%p
  %b Slitspeed:
  = @machine_id_standard.slitSpeed
%p
  %b Slittime:
  = @machine_id_standard.slitTime
%p
  %b Slitwaste:
  = @machine_id_standard.slitWaste
%p
  %b Trim:
  = @machine_id_standard.trim
= link_to 'Edit', edit_machine_id_standard_path(@machine_id_standard)
|
\#{link_to 'Back', machine_id_standards_path}
