%fieldset
  %legend
    = controller.action_name.capitalize
    /Commission
  .control-group
    = f.label :commrate, :class => 'control-label'
    .controls
      = f.number_field :commrate, :class => 'number_field'
  .control-group
    = f.label :profitrate, :class => 'control-label'
    .controls
      = f.number_field :profitrate, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", commissions_path, :class => 'btn'
