%h1 Commissions
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.commission.commrate", :default => t("activerecord.labels.commrate", :default => "Commrate"))
      %th Created at
      %th Actions
  %tbody
    - @commissions.each do |commission|
      %tr
        %td= commission.id
        %td= link_to commission.commrate, commission_path(commission)
        %td= commission.created_at
        %td
          = link_to "Show", commission_path(commission), :class => 'btn btn-mini'
          = link_to "Edit", edit_commission_path(commission), :class => 'btn btn-mini'
          = link_to "Destroy", commission_path(commission), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New Commission", new_commission_path, :class => 'btn btn-primary'
