%label{:class => "label"}
  Commission Rate:
%p= @commission.commrate
%label{:class => "label"}
  Profit Rate:
%p= @commission.profitrate

.form-actions
  = link_to "Back", commissions_path, :class => 'btn'
  = link_to "Edit", edit_commission_path(@commission), :class => 'btn'
  = link_to "Delete", commission_path(@commission), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-danger'
