<p id="notice"><%= notice %></p>

<p>
  <b>Commrate:</b>
  <%= @commission.commrate %>
</p>

<p>
  <b>Profitrate:</b>
  <%= @commission.profitrate %>
</p>


<%= link_to 'Edit', edit_commission_path(@commission) %> |
<%= link_to 'Back', commissions_path %>
