%fieldset
  %legend
    = controller.action_name.capitalize
    /Billing
  .control-group
    = f.label :addressType, :class => 'control-label'
    .controls
      = f.text_field :addressType, :class => 'text_field'
  .control-group
    = f.label :city, :class => 'control-label'
    .controls
      = f.text_field :city, :class => 'text_field'
  .control-group
    = f.label :country, :class => 'control-label'
    .controls
      = f.text_field :country, :class => 'text_field'
  .control-group
    = f.label :customerId, :class => 'control-label'
    .controls
      = f.number_field :customerId, :class => 'number_field'
  .control-group
    = f.label :postalCode, :class => 'control-label'
    .controls
      = f.text_field :postalCode, :class => 'text_field'
  .control-group
    = f.label :state, :class => 'control-label'
    .controls
      = f.text_field :state, :class => 'text_field'
  .control-group
    = f.label :street1, :class => 'control-label'
    .controls
      = f.text_field :street1, :class => 'text_field'
  .control-group
    = f.label :street1a, :class => 'control-label'
    .controls
      = f.text_field :street1a, :class => 'text_field'
  .control-group
    = f.label :street2, :class => 'control-label'
    .controls
      = f.text_field :street2, :class => 'text_field'
  .control-group
    = f.label :street2a, :class => 'control-label'
    .controls
      = f.text_field :street2a, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn'
    = link_to "Cancel", billings_path, :class => 'btn btn-danger'
