%h1 Billings
%table{:class => "table table-striped"}
  %thead
    %tr
      %th Customer ID
      %th Address Type
      %th City
      %th State
      %th Postal Code
  %tbody
    - @billings.each do |billing|
      %tr
        %td= billing.customerId
        %td= billing.addressType
        %td= billing.city
        %td= billing.state
        %td= billing.postalCode
        %td
          = link_to "Show", billing_path(billing), :class => 'btn btn-mini'
          = link_to "Edit", edit_billing_path(billing), :class => 'btn btn-mini'
          = link_to "Destroy", billing_path(billing), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New Billings", new_billing_path, :class => 'btn btn-primary'
