%h1 Listing billings
%table
  %tr
    %th Addresstype
    %th City
    %th Country
    %th Customerid
    %th Postalcode
    %th State
    %th Street1
    %th Street1a
    %th Street2
    %th Street2a
    %th
    %th
    %th
  - @billings.each do |billing|
    %tr
      %td= billing.addressType
      %td= billing.city
      %td= billing.country
      %td= billing.customerId
      %td= billing.postalCode
      %td= billing.state
      %td= billing.street1
      %td= billing.street1a
      %td= billing.street2
      %td= billing.street2a
      %td= link_to 'Show', billing
      %td= link_to 'Edit', edit_billing_path(billing)
      %td= link_to 'Destroy', billing, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Billing', new_billing_path
