%h1 Billings
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.billing.addressType", :default => t("activerecord.labels.addressType", :default => "Addresstype"))
      %th Created at
      %th Actions
  %tbody
    - @billings.each do |billing|
      %tr
        %td= billing.id
        %td= link_to billing.addressType, billing_path(billing)
        %td= billing.created_at
        %td
          = link_to "Show", billing_path(billing), :class => 'btn btn-mini'
          = link_to "Edit", edit_billing_path(billing), :class => 'btn btn-mini'
          = link_to "Destroy", billing_path(billing), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New Billings", new_billing_path, :class => 'btn btn-primary'
