<h1>Listing billings</h1>

<table>
  <tr>
    <th>Addresstype</th>
    <th>City</th>
    <th>Country</th>
    <th>Customerid</th>
    <th>Postalcode</th>
    <th>State</th>
    <th>Street1</th>
    <th>Street1a</th>
    <th>Street2</th>
    <th>Street2a</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @billings.each do |billing| %>
  <tr>
    <td><%= billing.addressType %></td>
    <td><%= billing.city %></td>
    <td><%= billing.country %></td>
    <td><%= billing.customerId %></td>
    <td><%= billing.postalCode %></td>
    <td><%= billing.state %></td>
    <td><%= billing.street1 %></td>
    <td><%= billing.street1a %></td>
    <td><%= billing.street2 %></td>
    <td><%= billing.street2a %></td>
    <td><%= link_to 'Show', billing %></td>
    <td><%= link_to 'Edit', edit_billing_path(billing) %></td>
    <td><%= link_to 'Destroy', billing, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Billing', new_billing_path %>
