%fieldset
  %legend
    = controller.action_name.capitalize
    /Encodingstandard
  .control-group
    = f.label :mchDescription, "Machine Description", :class => 'control-label'
    .controls
      = f.text_area :mchDescription, :class => 'text_area'
  .control-group
    = f.label :bagging, :class => 'control-label'
    .controls
      = f.number_field :bagging, :class => 'number_field'
  .control-group
    = f.label :barcode, :class => 'control-label'
    .controls
      = f.number_field :barcode, :class => 'number_field'
  .control-group
    = f.label :hico, :class => 'control-label'
    .controls
      = f.number_field :hico, :class => 'number_field'
  .control-group
    = f.label :inchespersecond, "Inches Per Second", :class => 'control-label'
    .controls
      = f.number_field :inchespersecond, :class => 'number_field'
  .control-group
    = f.label :labor, :class => 'control-label'
    .controls
      = f.number_field :labor, :class => 'number_field'
  .control-group
    = f.label :machineName, "Machine Name", :class => 'control-label'
    .controls
      = f.text_field :machineName, :class => 'text_field'
  .control-group
    = f.label :multiplepass, "Multiple Pass" ,:class => 'control-label'
    .controls
      = f.text_field :multiplepass, :class => 'text_field'
  .control-group
    = f.label :overhead, :class => 'control-label'
    .controls
      = f.number_field :overhead, :class => 'number_field'
  .control-group
    = f.label :runwaste, "Run Waste", :class => 'control-label'
    .controls
      = f.number_field :runwaste, :class => 'number_field'
  .control-group
    = f.label :variabledata, "Variable Data", :class => 'control-label'
    .controls
      = f.number_field :variabledata, :class => 'number_field'
  .control-group
    = f.label :secondsperhour, "Seconds Per Hour", :class => 'control-label'
    .controls
      = f.number_field :secondsperhour, :class => 'number_field'
  .form-actions
    = f.submit "Create Encoding Standard", :class => 'btn btn-primary'
    = link_to "Cancel", encodingstandards_path, :class => 'btn'
