<h1>Listing encodingstandards</h1>

<table>
  <tr>
    <th>Mchdescription</th>
    <th>Bagging</th>
    <th>Barcode</th>
    <th>Hico</th>
    <th>Inchespersecond</th>
    <th>Labor</th>
    <th>Machinename</th>
    <th>Multiplepass</th>
    <th>Overhead</th>
    <th>Runwaste</th>
    <th>Variabledata</th>
    <th>Secondsperhour</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @encodingstandards.each do |encodingstandard| %>
  <tr>
    <td><%= encodingstandard.mchDescription %></td>
    <td><%= encodingstandard.bagging %></td>
    <td><%= encodingstandard.barcode %></td>
    <td><%= encodingstandard.hico %></td>
    <td><%= encodingstandard.inchespersecond %></td>
    <td><%= encodingstandard.labor %></td>
    <td><%= encodingstandard.machineName %></td>
    <td><%= encodingstandard.multiplepass %></td>
    <td><%= encodingstandard.overhead %></td>
    <td><%= encodingstandard.runwaste %></td>
    <td><%= encodingstandard.variabledata %></td>
    <td><%= encodingstandard.secondsperhour %></td>
    <td><%= link_to 'Show', encodingstandard %></td>
    <td><%= link_to 'Edit', edit_encodingstandard_path(encodingstandard) %></td>
    <td><%= link_to 'Destroy', encodingstandard, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Encodingstandard', new_encodingstandard_path %>
