%h1 Listing encodingstandards
%table
  %tr
    %th Mchdescription
    %th Bagging
    %th Barcode
    %th Hico
    %th Inchespersecond
    %th Labor
    %th Machinename
    %th Multiplepass
    %th Overhead
    %th Runwaste
    %th Variabledata
    %th Secondsperhour
    %th
    %th
    %th
  - @encodingstandards.each do |encodingstandard|
    %tr
      %td= encodingstandard.mchDescription
      %td= encodingstandard.bagging
      %td= encodingstandard.barcode
      %td= encodingstandard.hico
      %td= encodingstandard.inchespersecond
      %td= encodingstandard.labor
      %td= encodingstandard.machineName
      %td= encodingstandard.multiplepass
      %td= encodingstandard.overhead
      %td= encodingstandard.runwaste
      %td= encodingstandard.variabledata
      %td= encodingstandard.secondsperhour
      %td= link_to 'Show', encodingstandard
      %td= link_to 'Edit', edit_encodingstandard_path(encodingstandard)
      %td= link_to 'Destroy', encodingstandard, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Encodingstandard', new_encodingstandard_path
