%h1 Encodingstandards
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.encodingstandard.mchDescription", :default => t("activerecord.labels.mchDescription", :default => "Mchdescription"))
      %th Created at
      %th Actions
  %tbody
    - @encodingstandards.each do |encodingstandard|
      %tr
        %td= encodingstandard.id
        %td= link_to encodingstandard.mchDescription, encodingstandard_path(encodingstandard)
        %td= encodingstandard.created_at
        %td
          = link_to "Show", encodingstandard_path(encodingstandard), :class => 'btn btn-mini'
          = link_to "Edit", edit_encodingstandard_path(encodingstandard), :class => 'btn btn-mini'
          = link_to "Destroy", encodingstandard_path(encodingstandard), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New", new_encodingstandard_path, :class => 'btn btn-primary'
