<p id="notice"><%= notice %></p>

<p>
  <b>Mchdescription:</b>
  <%= @encodingstandard.mchDescription %>
</p>

<p>
  <b>Bagging:</b>
  <%= @encodingstandard.bagging %>
</p>

<p>
  <b>Barcode:</b>
  <%= @encodingstandard.barcode %>
</p>

<p>
  <b>Hico:</b>
  <%= @encodingstandard.hico %>
</p>

<p>
  <b>Inchespersecond:</b>
  <%= @encodingstandard.inchespersecond %>
</p>

<p>
  <b>Labor:</b>
  <%= @encodingstandard.labor %>
</p>

<p>
  <b>Machinename:</b>
  <%= @encodingstandard.machineName %>
</p>

<p>
  <b>Multiplepass:</b>
  <%= @encodingstandard.multiplepass %>
</p>

<p>
  <b>Overhead:</b>
  <%= @encodingstandard.overhead %>
</p>

<p>
  <b>Runwaste:</b>
  <%= @encodingstandard.runwaste %>
</p>

<p>
  <b>Variabledata:</b>
  <%= @encodingstandard.variabledata %>
</p>

<p>
  <b>Secondsperhour:</b>
  <%= @encodingstandard.secondsperhour %>
</p>


<%= link_to 'Edit', edit_encodingstandard_path(@encodingstandard) %> |
<%= link_to 'Back', encodingstandards_path %>
