%fieldset
  %legend
    = controller.action_name.capitalize
    /Inksignature
  .control-group
    = f.label :vendorpartnumber, :class => 'control-label'
    .controls
      = f.text_field :vendorpartnumber, :class => 'text_field'
  .control-group
    = f.label :vendor, :class => 'control-label'
    .controls
      = f.text_field :vendor, :class => 'text_field'
  .control-group
    = f.label :magtype, :class => 'control-label'
    .controls
      = f.text_field :magtype, :class => 'text_field'
  .control-group
    = f.label :inktype, :class => 'control-label'
    .controls
      = f.number_field :inktype, :class => 'number_field'
  .control-group
    = f.label :inkmsiperpound, :class => 'control-label'
    .controls
      = f.number_field :inkmsiperpound, :class => 'number_field'
  .control-group
    = f.label :inkcostperpound, :class => 'control-label'
    .controls
      = f.number_field :inkcostperpound, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", inksignatures_path, :class => 'btn'
