<%= form_for(@inksignature) do |f| %>
  <% if @inksignature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inksignature.errors.count, "error") %> prohibited this inksignature from being saved:</h2>

      <ul>
      <% @inksignature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vendorpartnumber %><br />
    <%= f.text_field :vendorpartnumber %>
  </div>
  <div class="field">
    <%= f.label :vendor %><br />
    <%= f.text_field :vendor %>
  </div>
  <div class="field">
    <%= f.label :magtype %><br />
    <%= f.text_field :magtype %>
  </div>
  <div class="field">
    <%= f.label :inktype %><br />
    <%= f.number_field :inktype %>
  </div>
  <div class="field">
    <%= f.label :inkmsiperpound %><br />
    <%= f.number_field :inkmsiperpound %>
  </div>
  <div class="field">
    <%= f.label :inkcostperpound %><br />
    <%= f.number_field :inkcostperpound %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
