%h1 Inksignatures
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.inksignature.vendorpartnumber", :default => t("activerecord.labels.vendorpartnumber", :default => "Vendorpartnumber"))
      %th Created at
      %th Actions
  %tbody
    - @inksignatures.each do |inksignature|
      %tr
        %td= inksignature.id
        %td= link_to inksignature.vendorpartnumber, inksignature_path(inksignature)
        %td= inksignature.created_at
        %td
          = link_to "Show", inksignature_path(inksignature), :class => 'btn btn-mini'
          = link_to "Edit", edit_inksignature_path(inksignature), :class => 'btn btn-mini'
          = link_to "Destroy", inksignature_path(inksignature), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New Ink Signature", new_inksignature_path, :class => 'btn btn-primary'
