<h1>Listing inksignatures</h1>

<table>
  <tr>
    <th>Vendorpartnumber</th>
    <th>Vendor</th>
    <th>Magtype</th>
    <th>Inktype</th>
    <th>Inkmsiperpound</th>
    <th>Inkcostperpound</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inksignatures.each do |inksignature| %>
  <tr>
    <td><%= inksignature.vendorpartnumber %></td>
    <td><%= inksignature.vendor %></td>
    <td><%= inksignature.magtype %></td>
    <td><%= inksignature.inktype %></td>
    <td><%= inksignature.inkmsiperpound %></td>
    <td><%= inksignature.inkcostperpound %></td>
    <td><%= link_to 'Show', inksignature %></td>
    <td><%= link_to 'Edit', edit_inksignature_path(inksignature) %></td>
    <td><%= link_to 'Destroy', inksignature, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inksignature', new_inksignature_path %>
