%fieldset
  %legend
    = controller.action_name.capitalize
    /Ink Varnish
  .control-group
    = f.label :inkCostPerPound, :class => 'control-label'
    .controls
      = f.number_field :inkCostPerPound, :class => 'number_field'
  .control-group
    = f.label :inkMsiPerPound, :class => 'control-label'
    .controls
      = f.number_field :inkMsiPerPound, :class => 'number_field'
  .control-group
    = f.label :vendor, :class => 'control-label'
    .controls
      = f.text_field :vendor, :class => 'text_field'
  .control-group
    = f.label :vendorPartNumber, :class => 'control-label'
    .controls
      = f.text_field :vendorPartNumber, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", ink_varnishes_path, :class => 'btn'
