<h1>Listing ink_varnishes</h1>

<table>
  <tr>
    <th>Inkcostperpound</th>
    <th>Inkmsiperpound</th>
    <th>Vendor</th>
    <th>Vendorpartnumber</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ink_varnishes.each do |ink_varnish| %>
  <tr>
    <td><%= ink_varnish.inkCostPerPound %></td>
    <td><%= ink_varnish.inkMsiPerPound %></td>
    <td><%= ink_varnish.vendor %></td>
    <td><%= ink_varnish.vendorPartNumber %></td>
    <td><%= link_to 'Show', ink_varnish %></td>
    <td><%= link_to 'Edit', edit_ink_varnish_path(ink_varnish) %></td>
    <td><%= link_to 'Destroy', ink_varnish, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ink varnish', new_ink_varnish_path %>
