%h1 Ink Varnishs
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.ink_varnish.inkCostPerPound", :default => t("activerecord.labels.inkCostPerPound", :default => "Inkcostperpound"))
      %th Created at
      %th Actions
  %tbody
    - @ink_varnishes.each do |ink_varnish|
      %tr
        %td= ink_varnish.id
        %td= link_to ink_varnish.inkCostPerPound, ink_varnish_path(ink_varnish)
        %td= ink_varnish.created_at
        %td
          = link_to "Show", ink_varnish_path(ink_varnish), :class => 'btn btn-mini'
          = link_to "Edit", edit_ink_varnish_path(ink_varnish), :class => 'btn btn-mini'
          = link_to "Destroy", ink_varnish_path(ink_varnish), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New Ink Varnish", new_ink_varnish_path, :class => 'btn btn-primary'
