<p id="notice"><%= notice %></p>

<p>
  <b>Inkcostperpound:</b>
  <%= @ink_varnish.inkCostPerPound %>
</p>

<p>
  <b>Inkmsiperpound:</b>
  <%= @ink_varnish.inkMsiPerPound %>
</p>

<p>
  <b>Vendor:</b>
  <%= @ink_varnish.vendor %>
</p>

<p>
  <b>Vendorpartnumber:</b>
  <%= @ink_varnish.vendorPartNumber %>
</p>


<%= link_to 'Edit', edit_ink_varnish_path(@ink_varnish) %> |
<%= link_to 'Back', ink_varnishes_path %>
