%fieldset
  %legend
    = controller.action_name.capitalize
    Material
  .control-group
    = f.label :materialCatId, 'Material Category Id', :class => 'control-label'
    .controls
      = f.number_field :materialCatId, :class => 'number_field'
  .control-group
    = f.label :blueFeetPerMinute, 'Blue Feet Per Minute', :class => 'control-label'
    .controls
      = f.number_field :blueFeetPerMinute, :class => 'number_field'
  .control-group
    = f.label :blueLength, 'Blue Length', :class => 'control-label'
    .controls
      = f.number_field :blueLength, :class => 'number_field'
  .control-group
    = f.label :coredOd, 'Cored OD', :class => 'control-label'
    .controls
      = f.number_field :coredOd, :class => 'number_field'
  .control-group
    = f.label :eganFeetPerMinute, 'Egan Feet Per Minute', :class => 'control-label'
    .controls
      = f.number_field :eganFeetPerMinute, :class => 'number_field'
  .control-group
    = f.label :eganLength, 'Egan Length', :class => 'control-label'
    .controls
      = f.number_field :eganLength, :class => 'number_field'
  .control-group
    = f.label :materialDescription, 'Material Description', :class => 'control-label'
    .controls
      = f.text_field :materialDescription, :class => 'text_field'
  .control-group
    = f.label :materialMsiCost, 'Material MSI Cost', :class => 'control-label'
    .controls
      = f.number_field :materialMsiCost, :class => 'number_field'
  .control-group
    = f.label :materialPreStripe, 'Material Pre-Stripe', :class => 'control-label'
    .controls
      = f.text_field :materialPreStripe, :class => 'text_field'
  .control-group
    = f.label :materialRollLengthMaster, 'Material Roll Length Master', :class => 'control-label'
    .controls
      = f.number_field :materialRollLengthMaster, :class => 'number_field'
  .control-group
    = f.label :materialRollWidth, 'Material Roll Width', :class => 'control-label'
    .controls
      = f.number_field :materialRollWidth, :class => 'number_field'
  .control-group
    = f.label :materialThickness, 'Material Thickness', :class => 'control-label'
    .controls
      = f.number_field :materialThickness, :class => 'number_field'
  .control-group
    = f.label :vendor, :class => 'control-label'
    .controls
      = f.text_field :vendor, :class => 'text_field'
  .control-group
    = f.label :vendorPartNum, 'Vendor Part Number', :class => 'control-label'
    .controls
      = f.text_field :vendorPartNum, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", materials_path, :class => 'btn'
