%h1 Materials
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.material.materialCatId", :default => t("activerecord.labels.materialCatId", :default => "Materialcatid"))
      %th Created at
      %th Actions
  %tbody
    - @materials.each do |material|
      %tr
        %td= link_to material.matCategory_id, material_path(material)
        %td= material.created_at
        %td
          = link_to "Show", material_path(material), :class => 'btn btn-mini'
          = link_to "Edit", edit_material_path(material), :class => 'btn btn-mini'
          = link_to "Destroy", material_path(material), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New Material", new_material_path, :class => 'btn btn-primary'
