<p id="notice"><%= notice %></p>

<p>
  <b>Materialcatid:</b>
  <%= @material.materialCatId %>
</p>

<p>
  <b>Bluefeetperminute:</b>
  <%= @material.blueFeetPerMinute %>
</p>

<p>
  <b>Bluelength:</b>
  <%= @material.blueLength %>
</p>

<p>
  <b>Coredod:</b>
  <%= @material.coredOd %>
</p>

<p>
  <b>Eganfeetperminute:</b>
  <%= @material.eganFeetPerMinute %>
</p>

<p>
  <b>Eganlength:</b>
  <%= @material.eganLength %>
</p>

<p>
  <b>Materialdescription:</b>
  <%= @material.materialDescription %>
</p>

<p>
  <b>Materialmsicost:</b>
  <%= @material.materialMsiCost %>
</p>

<p>
  <b>Materialprestripe:</b>
  <%= @material.materialPreStripe %>
</p>

<p>
  <b>Materialrolllengthmaster:</b>
  <%= @material.materialRollLengthMaster %>
</p>

<p>
  <b>Materialrollwidth:</b>
  <%= @material.materialRollWidth %>
</p>

<p>
  <b>Materialthickness:</b>
  <%= @material.materialThickness %>
</p>

<p>
  <b>Vendor:</b>
  <%= @material.vendor %>
</p>

<p>
  <b>Vendorpartnum:</b>
  <%= @material.vendorPartNum %>
</p>


<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
