%fieldset
  %legend
    = controller.action_name.capitalize
    /Rfid Inlay
  .control-group
    = f.label :break1, :class => 'control-label'
    .controls
      = f.number_field :break1, :class => 'number_field'
  .control-group
    = f.label :break1Price, :class => 'control-label'
    .controls
      = f.number_field :break1Price, :class => 'number_field'
  .control-group
    = f.label :break2, :class => 'control-label'
    .controls
      = f.number_field :break2, :class => 'number_field'
  .control-group
    = f.label :break2Price, :class => 'control-label'
    .controls
      = f.number_field :break2Price, :class => 'number_field'
  .control-group
    = f.label :break3, :class => 'control-label'
    .controls
      = f.number_field :break3, :class => 'number_field'
  .control-group
    = f.label :break3Price, :class => 'control-label'
    .controls
      = f.number_field :break3Price, :class => 'number_field'
  .control-group
    = f.label :break4, :class => 'control-label'
    .controls
      = f.number_field :break4, :class => 'number_field'
  .control-group
    = f.label :break4Price, :class => 'control-label'
    .controls
      = f.number_field :break4Price, :class => 'number_field'
  .control-group
    = f.label :break5, :class => 'control-label'
    .controls
      = f.number_field :break5, :class => 'number_field'
  .control-group
    = f.label :break5Price, :class => 'control-label'
    .controls
      = f.number_field :break5Price, :class => 'number_field'
  .control-group
    = f.label :inlayDescription, :class => 'control-label'
    .controls
      = f.text_field :inlayDescription, :class => 'text_field'
  .control-group
    = f.label :inlayId, :class => 'control-label'
    .controls
      = f.number_field :inlayId, :class => 'number_field'
  .control-group
    = f.label :inlayTypeId, :class => 'control-label'
    .controls
      = f.number_field :inlayTypeId, :class => 'number_field'
  .control-group
    = f.label :price, :class => 'control-label'
    .controls
      = f.number_field :price, :class => 'number_field'
  .control-group
    = f.label :vendor, :class => 'control-label'
    .controls
      = f.text_field :vendor, :class => 'text_field'
  .control-group
    = f.label :vendorPartNumb, :class => 'control-label'
    .controls
      = f.text_field :vendorPartNumb, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", rfid_inlays_path, :class => 'btn'
