%h1 Rfid Inlays
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.rfid_inlay.break1", :default => t("activerecord.labels.break1", :default => "Break1"))
      %th Created at
      %th Actions
  %tbody
    - @rfid_inlays.each do |rfid_inlay|
      %tr
        %td= rfid_inlay.id
        %td= link_to rfid_inlay.break1, rfid_inlay_path(rfid_inlay)
        %td= rfid_inlay.created_at
        %td
          = link_to "Show", rfid_inlay_path(rfid_inlay), :class => 'btn btn-mini'
          = link_to "Edit", edit_rfid_inlay_path(rfid_inlay), :class => 'btn btn-mini'
          = link_to "Destroy", rfid_inlay_path(rfid_inlay), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New", new_rfid_inlay_path, :class => 'btn btn-primary'
