%label{:class => "label"}= t("activerecord.attributes.rfid_inlay.break1", :default => t("activerecord.labels.break1", :default => "Break1")) + ":"
%p= @rfid_inlay.break1
%label{:class => "label"}= t("activerecord.attributes.rfid_inlay.break1Price", :default => t("activerecord.labels.break1Price", :default => "Break1price")) + ":"
%p= @rfid_inlay.break1Price
%label{:class => "label"}= t("activerecord.attributes.rfid_inlay.break2", :default => t("activerecord.labels.break2", :default => "Break2")) + ":"
%p= @rfid_inlay.break2
%label{:class => "label"}= t("activerecord.attributes.rfid_inlay.break2Price", :default => t("activerecord.labels.break2Price", :default => "Break2price")) + ":"
%p= @rfid_inlay.break2Price
%label{:class => "label"}= t("activerecord.attributes.rfid_inlay.break3", :default => t("activerecord.labels.break3", :default => "Break3")) + ":"
%p= @rfid_inlay.break3
%label{:class => "label"}= t("activerecord.attributes.rfid_inlay.break3Price", :default => t("activerecord.labels.break3Price", :default => "Break3price")) + ":"
%p= @rfid_inlay.break3Price
%label{:class => "label"}= t("activerecord.attributes.rfid_inlay.break4", :default => t("activerecord.labels.break4", :default => "Break4")) + ":"
%p= @rfid_inlay.break4
%label{:class => "label"}= t("activerecord.attributes.rfid_inlay.break4Price", :default => t("activerecord.labels.break4Price", :default => "Break4price")) + ":"
%p= @rfid_inlay.break4Price
%label{:class => "label"}= t("activerecord.attributes.rfid_inlay.break5", :default => t("activerecord.labels.break5", :default => "Break5")) + ":"
%p= @rfid_inlay.break5
%label{:class => "label"}= t("activerecord.attributes.rfid_inlay.break5Price", :default => t("activerecord.labels.break5Price", :default => "Break5price")) + ":"
%p= @rfid_inlay.break5Price
%label{:class => "label"}= t("activerecord.attributes.rfid_inlay.inlayDescription", :default => t("activerecord.labels.inlayDescription", :default => "Inlaydescription")) + ":"
%p= @rfid_inlay.inlayDescription
%label{:class => "label"}= t("activerecord.attributes.rfid_inlay.inlayId", :default => t("activerecord.labels.inlayId", :default => "Inlayid")) + ":"
%p= @rfid_inlay.inlayId
%label{:class => "label"}= t("activerecord.attributes.rfid_inlay.inlayTypeId", :default => t("activerecord.labels.inlayTypeId", :default => "Inlaytypeid")) + ":"
%p= @rfid_inlay.inlayTypeId
%label{:class => "label"}= t("activerecord.attributes.rfid_inlay.price", :default => t("activerecord.labels.price", :default => "Price")) + ":"
%p= @rfid_inlay.price
%label{:class => "label"}= t("activerecord.attributes.rfid_inlay.vendor", :default => t("activerecord.labels.vendor", :default => "Vendor")) + ":"
%p= @rfid_inlay.vendor
%label{:class => "label"}= t("activerecord.attributes.rfid_inlay.vendorPartNumb", :default => t("activerecord.labels.vendorPartNumb", :default => "Vendorpartnumb")) + ":"
%p= @rfid_inlay.vendorPartNumb

.form-actions
  = link_to "Back", rfid_inlays_path, :class => 'btn'
  = link_to "Edit", edit_rfid_inlay_path(@rfid_inlay), :class => 'btn'
  = link_to "Delete", rfid_inlay_path(@rfid_inlay), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-danger'
