<p id="notice"><%= notice %></p>

<p>
  <b>Break1:</b>
  <%= @rfid_inlay.break1 %>
</p>

<p>
  <b>Break1price:</b>
  <%= @rfid_inlay.break1Price %>
</p>

<p>
  <b>Break2:</b>
  <%= @rfid_inlay.break2 %>
</p>

<p>
  <b>Break2price:</b>
  <%= @rfid_inlay.break2Price %>
</p>

<p>
  <b>Break3:</b>
  <%= @rfid_inlay.break3 %>
</p>

<p>
  <b>Break3price:</b>
  <%= @rfid_inlay.break3Price %>
</p>

<p>
  <b>Break4:</b>
  <%= @rfid_inlay.break4 %>
</p>

<p>
  <b>Break4price:</b>
  <%= @rfid_inlay.break4Price %>
</p>

<p>
  <b>Break5:</b>
  <%= @rfid_inlay.break5 %>
</p>

<p>
  <b>Break5price:</b>
  <%= @rfid_inlay.break5Price %>
</p>

<p>
  <b>Inlaydescription:</b>
  <%= @rfid_inlay.inlayDescription %>
</p>

<p>
  <b>Inlayid:</b>
  <%= @rfid_inlay.inlayId %>
</p>

<p>
  <b>Inlaytypeid:</b>
  <%= @rfid_inlay.inlayTypeId %>
</p>

<p>
  <b>Price:</b>
  <%= @rfid_inlay.price %>
</p>

<p>
  <b>Vendor:</b>
  <%= @rfid_inlay.vendor %>
</p>

<p>
  <b>Vendorpartnumb:</b>
  <%= @rfid_inlay.vendorPartNumb %>
</p>


<%= link_to 'Edit', edit_rfid_inlay_path(@rfid_inlay) %> |
<%= link_to 'Back', rfid_inlays_path %>
