<%= form_for(@foil) do |f| %>
  <% if @foil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@foil.errors.count, "error") %> prohibited this foil from being saved:</h2>

      <ul>
      <% @foil.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :length %><br />
    <%= f.number_field :length %>
  </div>
  <div class="field">
    <%= f.label :msi %><br />
    <%= f.number_field :msi %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :width %><br />
    <%= f.number_field :width %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
