%fieldset
  %legend
    = controller.action_name.capitalize
    /Foil
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :class => 'text_area'
  .control-group
    = f.label :length, :class => 'control-label'
    .controls
      = f.number_field :length, :class => 'number_field'
  .control-group
    = f.label :msi, :class => 'control-label'
    .controls
      = f.number_field :msi, :class => 'number_field'
  .control-group
    = f.label :type, :class => 'control-label'
    .controls
      = f.text_field :type, :class => 'text_field'
  .control-group
    = f.label :width, :class => 'control-label'
    .controls
      = f.number_field :width, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", foils_path, :class => 'btn'
