%h1 Foils
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.foil.description", :default => t("activerecord.labels.description", :default => "Description"))
      %th Created at
      %th Actions
  %tbody
    - @foils.each do |foil|
      %tr
        %td= foil.id
        %td= link_to foil.description, foil_path(foil)
        %td= foil.created_at
        %td
          = link_to "Show", foil_path(foil), :class => 'btn btn-mini'
          = link_to "Edit", edit_foil_path(foil), :class => 'btn btn-mini'
          = link_to "Destroy", foil_path(foil), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New", new_foil_path, :class => 'btn btn-primary'
