%h1 Skids
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.skid.quantityPerSkid", :default => t("activerecord.labels.quantityPerSkid", :default => "Quantityperskid"))
      %th Created at
      %th Actions
  %tbody
    - @skids.each do |skid|
      %tr
        %td= skid.id
        %td= link_to skid.quantityPerSkid, skid_path(skid)
        %td= skid.created_at
        %td
          = link_to "Show", skid_path(skid), :class => 'btn btn-mini'
          = link_to "Edit", edit_skid_path(skid), :class => 'btn btn-mini'
          = link_to "Destroy", skid_path(skid), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New", new_skid_path, :class => 'btn btn-primary'
