%h1 Listing skids
%table
  %tr
    %th Quantityperskid
    %th Skidcost
    %th Skiddescription
    %th Skidentrypoints
    %th Skidheight
    %th Skidid
    %th Skidlength
    %th Skidmat
    %th Skidwidth
    %th
    %th
    %th
  - @skids.each do |skid|
    %tr
      %td= skid.quantityPerSkid
      %td= skid.skidCost
      %td= skid.skidDescription
      %td= skid.skidEntryPoints
      %td= skid.skidHeight
      %td= skid.skidId
      %td= skid.skidLength
      %td= skid.skidMat
      %td= skid.skidWidth
      %td= link_to 'Show', skid
      %td= link_to 'Edit', edit_skid_path(skid)
      %td= link_to 'Destroy', skid, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Skid', new_skid_path
