<p id="notice"><%= notice %></p>

<p>
  <b>Quantityperskid:</b>
  <%= @skid.quantityPerSkid %>
</p>

<p>
  <b>Skidcost:</b>
  <%= @skid.skidCost %>
</p>

<p>
  <b>Skiddescription:</b>
  <%= @skid.skidDescription %>
</p>

<p>
  <b>Skidentrypoints:</b>
  <%= @skid.skidEntryPoints %>
</p>

<p>
  <b>Skidheight:</b>
  <%= @skid.skidHeight %>
</p>

<p>
  <b>Skidid:</b>
  <%= @skid.skidId %>
</p>

<p>
  <b>Skidlength:</b>
  <%= @skid.skidLength %>
</p>

<p>
  <b>Skidmat:</b>
  <%= @skid.skidMat %>
</p>

<p>
  <b>Skidwidth:</b>
  <%= @skid.skidWidth %>
</p>


<%= link_to 'Edit', edit_skid_path(@skid) %> |
<%= link_to 'Back', skids_path %>
