%fieldset
  %legend
    = controller.action_name.capitalize
    /Foiltype
  .control-group
    = f.label :foiltype_type, "Foil Type", :class => 'control-label'
    .controls
      = f.text_field :foiltype_type, :class => 'text_field'
  .form-actions
    = f.submit "Create Foil Type", :class => 'btn btn-primary'
    = link_to "Cancel", foiltypes_path, :class => 'btn'
