%h1 Foiltypes
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.foiltype.type", :default => t("activerecord.labels.type", :default => "Type"))
      %th Created at
      %th Actions
  %tbody
    - @foiltypes.each do |foiltype|
      %tr
        %td= foiltype.id
        %td= link_to foiltype.foiltype_type, foiltype_path(foiltype)
        %td= foiltype.created_at
        %td
          = link_to "Show", foiltype_path(foiltype), :class => 'btn btn-mini'
          = link_to "Edit", edit_foiltype_path(foiltype), :class => 'btn btn-mini'
          = link_to "Destroy", foiltype_path(foiltype), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New Foil Type", new_foiltype_path, :class => 'btn btn-primary'
