<h1>Listing foiltypes</h1>

<table>
  <tr>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @foiltypes.each do |foiltype| %>
  <tr>
    <td><%= foiltype.type %></td>
    <td><%= link_to 'Show', foiltype %></td>
    <td><%= link_to 'Edit', edit_foiltype_path(foiltype) %></td>
    <td><%= link_to 'Destroy', foiltype, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Foiltype', new_foiltype_path %>
