%fieldset
  %legend
    = controller.action_name.capitalize
    /Tooling Specification
  .control-group
    = f.label :addAmortizeQuantity, :class => 'control-label'
    .controls
      = f.number_field :addAmortizeQuantity, :class => 'number_field'
  .control-group
    = f.label :addToolingCost, :class => 'control-label'
    .controls
      = f.number_field :addToolingCost, :class => 'number_field'
  .control-group
    = f.label :designBy, :class => 'control-label'
    .controls
      = f.text_field :designBy, :class => 'text_field'
  .control-group
    = f.label :designRevDate, :class => 'control-label'
    .controls
      = f.datetime_select :designRevDate, :class => 'datetime_select'
  .control-group
    = f.label :dieAround, :class => 'control-label'
    .controls
      = f.number_field :dieAround, :class => 'number_field'
  .control-group
    = f.label :dieId, :class => 'control-label'
    .controls
      = f.number_field :dieId, :class => 'number_field'
  .control-group
    = f.label :dieSc, :class => 'control-label'
    .controls
      = f.text_field :dieSc, :class => 'text_field'
  .control-group
    = f.label :imageFile, :class => 'control-label'
    .controls
      = f.text_field :imageFile, :class => 'text_field'
  .control-group
    = f.label :jobNumber, :class => 'control-label'
    .controls
      = f.number_field :jobNumber, :class => 'number_field'
  .control-group
    = f.label :newDieRequired, :class => 'control-label'
    .controls
      = f.text_field :newDieRequired, :class => 'text_field'
  .control-group
    = f.label :toolingComment, :class => 'control-label'
    .controls
      = f.text_area :toolingComment, :class => 'text_area'
  .control-group
    = f.label :toolSc, :class => 'control-label'
    .controls
      = f.text_field :toolSc, :class => 'text_field'
  .control-group
    = f.label :toolSpecificationId, :class => 'control-label'
    .controls
      = f.text_field :toolSpecificationId, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", tooling_specifications_path, :class => 'btn'
