%h1 Tooling Specifications
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.tooling_specification.addAmortizeQuantity", :default => t("activerecord.labels.addAmortizeQuantity", :default => "Addamortizequantity"))
      %th Created at
      %th Actions
  %tbody
    - @tooling_specifications.each do |tooling_specification|
      %tr
        %td= tooling_specification.id
        %td= link_to tooling_specification.addAmortizeQuantity, tooling_specification_path(tooling_specification)
        %td= tooling_specification.created_at
        %td
          = link_to "Show", tooling_specification_path(tooling_specification), :class => 'btn btn-mini'
          = link_to "Edit", edit_tooling_specification_path(tooling_specification), :class => 'btn btn-mini'
          = link_to "Destroy", tooling_specification_path(tooling_specification), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New Tooling Spec", new_tooling_specification_path, :class => 'btn btn-primary'
