<p id="notice"><%= notice %></p>

<p>
  <b>Addamortizequantity:</b>
  <%= @tooling_specification.addAmortizeQuantity %>
</p>

<p>
  <b>Addtoolingcost:</b>
  <%= @tooling_specification.addToolingCost %>
</p>

<p>
  <b>Designby:</b>
  <%= @tooling_specification.designBy %>
</p>

<p>
  <b>Designrevdate:</b>
  <%= @tooling_specification.designRevDate %>
</p>

<p>
  <b>Diearound:</b>
  <%= @tooling_specification.dieAround %>
</p>

<p>
  <b>Dieid:</b>
  <%= @tooling_specification.dieId %>
</p>

<p>
  <b>Diesc:</b>
  <%= @tooling_specification.dieSc %>
</p>

<p>
  <b>Imagefile:</b>
  <%= @tooling_specification.imageFile %>
</p>

<p>
  <b>Jobnumber:</b>
  <%= @tooling_specification.jobNumber %>
</p>

<p>
  <b>Newdierequired:</b>
  <%= @tooling_specification.newDieRequired %>
</p>

<p>
  <b>Toolingcomment:</b>
  <%= @tooling_specification.toolingComment %>
</p>

<p>
  <b>Toolsc:</b>
  <%= @tooling_specification.toolSc %>
</p>

<p>
  <b>Toolspecificationid:</b>
  <%= @tooling_specification.toolSpecificationId %>
</p>


<%= link_to 'Edit', edit_tooling_specification_path(@tooling_specification) %> |
<%= link_to 'Back', tooling_specifications_path %>
